<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans SYSTEM "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

	<!-- The mapping from basis of record string to code -->
	<bean id="taxonRankMapping" class="org.gbif.portal.util.mapping.impl.MapCodeMapping">
	  <property name="map">
		  <map>
		  	<entry key="NO RANK" value="0"/>
		  	<entry key="UNRANKED" value="0"/>
		  	<entry key="UNKNOWN" value="0"/>
		  	<entry key="SUPERKINGDOM" value="800"/>
		  	<entry key="KINGDOM" value="1000"/>
		  	<entry key="REGNUM" value="1000"/>
		  	<entry key="REG" value="1000"/>
		  	<entry key="SUBKINGDOM" value="1200"/>
		  	<entry key="SUPERPHYLUM" value="1800"/>
		  	<entry key="PHYLUM" value="2000"/>
		  	<entry key="PHYL" value="2000"/>
		  	<entry key="PHY" value="2000"/>
		  	<entry key="DIVISION" value="2000"/>
		  	<entry key="DIVISIO" value="2000"/>
		  	<entry key="DIV" value="2000"/>
		  	<entry key="SUBPHYLUM" value="2200"/>
		  	<entry key="SUPERCLASS" value="2800"/>
		  	<entry key="SUPERCLASSIS" value="2800"/>
		  	<entry key="CLASS" value="3000"/>
		  	<entry key="CLASSIS" value="3000"/>
		  	<entry key="CLA" value="3000"/>
		  	<entry key="SUBCLASS" value="3200"/>
		  	<entry key="SUBCLASSIS" value="3200"/>
		  	<entry key="INFRACLASS" value="3350"/>
		  	<entry key="INFRACLASSIS" value="3350"/>
		  	<entry key="SUPERORDER" value="3800"/>
		  	<entry key="SUPERORDO" value="3800"/>
		  	<entry key="ORDER" value="4000"/>
		  	<entry key="ORDO" value="4000"/>
		  	<entry key="ORD" value="4000"/>
		  	<entry key="SUBORDER" value="4200"/>
		  	<entry key="SUBORDO" value="4200"/>
		  	<entry key="INFRAORDER" value="4350"/>
		  	<entry key="INFRAORDO" value="4350"/>
		  	<entry key="PARVORDER" value="4400"/>
		  	<entry key="PARVORDO" value="4400"/>
		  	<entry key="SUPERFAMILY" value="4500"/>
		  	<entry key="SUPERFAMILIA" value="4500"/>
		  	<entry key="SUPER" value="4500"/>
		  	<entry key="SUP" value="4500"/>
		  	<entry key="FAMILY" value="5000"/>
		  	<entry key="FAMILIA" value="5000"/>
		  	<entry key="FAMIL" value="5000"/>
		  	<entry key="FAM" value="5000"/>
		  	<entry key="SUBFAMILY" value="5500"/>
		  	<entry key="SUBFAMILIA" value="5500"/>
		  	<entry key="SUBFA" value="5500"/>
		  	<entry key="TRIBE" value="5600"/>
		  	<entry key="TRIBUS" value="5600"/>
		  	<entry key="TRIBU" value="5600"/>
		  	<entry key="SUBTRIBE" value="5700"/>
		  	<entry key="SUBTRIBUS" value="5700"/>
		  	<entry key="GENUS" value="6000"/>
		  	<entry key="GEN" value="6000"/>
		  	<entry key="SUBGENUS" value="6500"/>
		  	<entry key="SUBGE" value="6500"/>
		  	<entry key="SECTION" value="6600"/>
		  	<entry key="SECTIO" value="6600"/>
		  	<entry key="SUBSECTION" value="6700"/>
		  	<entry key="SUBSECTIO" value="6700"/>
		  	<entry key="SERIES" value="6800"/>
		  	<entry key="SUBSERIES" value="6900"/>
		  	<entry key="SPECIES GROUP" value="6950"/>
		  	<entry key="SPECIES SUBGROUP" value="6975"/>
		  	<entry key="SPECIES" value="7000"/>
		  	<entry key="SPECI" value="7000"/>
		  	<entry key="SP" value="7000"/>
		  	<entry key="SUBSPECIES" value="8000"/>
		  	<entry key="SUBSP" value="8000"/>
		  	<entry key="SSP" value="8000"/>
		  	<entry key="VARIETY" value="8010"/>
		  	<entry key="VARIETAS" value="8010"/>
		  	<entry key="VAR" value="8010"/>
		  	<entry key="FORM" value="8020"/>
		  	<entry key="FORMA" value="8020"/>
		  </map>
	    </property>
  	    <property name="defaultCode" value="0"/>
	</bean>

</beans>
