<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans SYSTEM "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<!-- Allow the XPath accessors to reuse the prefix -->
	<bean id="abstractXPath:BIOCASE:1.3" abstract="true" class="org.dom4j.xpath.DefaultXPath">
		<property name="namespaceURIs">
			<map>
				<entry key="biocase" value="http://www.biocase.org/schemas/protocol/1.3"/>
			</map>
		</property>
	</bean>

	<!-- BioCase 1.3 Mappings -->
	<bean id="propertyStore:namespace:BIOCASE:1.3" class="org.gbif.portal.util.propertystore.impl.spring.PropertyBag">
		<!-- The namespace that the PropertyStore will key this bag on -->
		<property name="namespace" value="http://www.biocase.org/schemas/protocol/1.3"/>
		<property name="properties">
			<map>
				<!-- To create a message around the raw data -->
				<entry key="MESSAGE.FACTORY" value-ref="propertyStore:XMLMessageFactory"/>
				
				<!-- To indicate that there are no more records -->
				<entry key="RESPONSE.END.OF.RECORDS">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:BIOCASE:1.3">
								<constructor-arg value="//biocase:content/@totalSearchHits &lt;= (//biocase:content/@recordCount + //biocase:content/@recordStart + //biocase:content/@recordDropped)"/>
							</bean>
						</property>
					</bean>
				</entry>				
				
				<!-- The supported schemas -->
				<entry key="CAPABILITES.SUPPORTED.SCHEMAS">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.ListStringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:BIOCASE:1.3">
								<constructor-arg value="/biocase:response/biocase:content/biocase:capabilities/biocase:SupportedSchemas/@namespace"/>
							</bean>
						</property>
					</bean>
				</entry>
				
				<!-- pulling out of an inventory response -->				
				<entry key="RESPONSE.INVENTORY.NAME">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.ListStringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:BIOCASE:1.3">
								<constructor-arg value="//biocase:value"/>
							</bean>
						</property>
					</bean>
				</entry>
				<entry key="INVENTORY.SCIENTIFIC.NAME.CONCEPT">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.ListMessageFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:BIOCASE:1.3">
								<constructor-arg value="//biocase:value"/>
							</bean>
						</property>
					</bean>
				</entry>
				<entry key="INVENTORY.SCIENTIFIC.NAME.CONCEPT.VALUE">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:BIOCASE:1.3">
								<constructor-arg value="/biocase:value"/>
							</bean>
						</property>
					</bean>
				</entry>
				
				<!-- Template location for builing searches -->
				<entry key="REQUEST.SEARCH.TEMPLATE" value="org/gbif/portal/util/propertystore/biocase_1_3/template/search.vm"/> 
				
				<!-- The Biocase capabilities is the metadata request -->
				<entry key="RESOURCE.ACCESS.POINT.METADATA.WORKFLOW" value-ref="BIOCASE:1.3:capabilites"/>
				
				<!-- The harvesting workflow -->
				<entry key="RESOURCE.ACCESS.POINT.HARVESTER.WORKFLOW" value-ref="BIOCASE:1.3:harvester"/>
				
				<!-- The harvesting workflow -->
				<entry key="RESOURCE.ACCESS.POINT.INVENTORY.WORKFLOW" value-ref="BIOCASE:1.3:inventory"/>
			</map>
		</property>
	</bean>

	<!-- The capabilities synchroniser gets the namespace mapping for the content -->
	<bean id="BIOCASE:1.3:capabilites" parent="abstractWorkflow">
		<property name="activities">
			<list>
				<!-- Populate the required values for indexing -->
				<bean parent="abstractHarvestLaunchActivity"/>				
				<!-- Build the request -->
				<bean parent="abstractSimpleRequestBuilderActivity">
					<property name="templateLocation" value="org/gbif/portal/util/propertystore/biocase_1_3/template/capabilites.vm"/>
				</bean>
				<!-- Fire the request -->
				<bean parent="abstractRequestIssueActivity">
					<property name="errorHandler">
						<bean class="org.gbif.portal.util.workflow.errorhandler.ActivityLaunchErrorHandler">
							<property name="contextKeyExceptionName" value="exceptionName"/>
							<property name="errorActivityMapping">																							
								<map>
									<!-- Exceptions that cause a reshedule -->
									<entry>
										<key>
											<set>
												<value>java.net.SocketTimeoutException</value>					
												<value>java.net.ConnectException</value>		
												<value>java.net.UnknownHostException</value>	
												<value>java.net.NoRouteToHostException</value>
												<value>org.gbif.portal.util.mhf.message.MessageParseException</value>		
											</set>
										</key>
										<bean parent="abstractQuartzJobToLaunchWorkflowCreatorActivity">
											<property name="contextKeyForJobName" value="resourceAccessPointId"/>
											<property name="contextKeyForTriggerName" value="resourceAccessPointId"/>
											<property name="contextKeyTriggerGroupNamePostfix" value="exceptionName"/>
											<property name="jobGroupName" value="metadata"/>
											<property name="triggerGroupName" value="rescheduledFor1hour"/>											
											<property name="secondsFromNowToFire" value="3600"/>
											<property name="contextKeysForJob">
												<list>
													<value>resourceAccessPointId</value>
													<value>psNamespaces</value>
												</list>
											</property>
											<property name="workflowKeyToLaunch" value="RESOURCE.ACCESS.POINT.METADATA.WORKFLOW"/>
										</bean>
									</entry>
								</map>
							</property>												
						</bean>
					</property>	
				</bean>				
				<!-- Log the response -->
				<bean parent="messageLoggerActivity">
					<property name="contextKeyMessage" value="responseMessage"/>
				</bean>
				<!-- Extract the supported schemas -->
				<bean parent="abstractConceptListToContextActivity">
					<property name="allConceptsRequired" value="true"/>
					<property name="contextKeyMessage" value="responseMessage"/>
					<property name="conceptToContext">
						<map>
							<entry key="CAPABILITES.SUPPORTED.SCHEMAS" value="SUPPORTED.SCHEMAS"/>
						</map>
					</property>
				</bean>				
				<!-- Synchronise the namespaces -->
				<bean parent="abstractNamespaceMappingSynchroniserActivity">
					<property name="orderedListNamespaces">
						<list>
							<!-- Go for the newest first of course -->
							<!-- TODO: hmmm... where should this really go - in an ABCD file? -->
							<value>http://www.tdwg.org/schemas/abcd/2.06</value>
							<value>http://www.tdwg.org/schemas/abcd/2.05</value>
							<value>http://www.tdwg.org/schemas/abcd/1.2</value>
						</list>
					</property>
				</bean>
				<!-- Create a schedule for the resource access point -->	
				<!--bean parent="abstractQuartzJobToLaunchWorkflowCreatorActivity">
					<property name="contextKeyForJobName" value="resourceAccessPointId"/>
					<property name="contextKeyForTriggerName" value="resourceAccessPointId"/>
					<property name="jobGroupName" value="inventory"/>
					<property name="triggerGroupName" value="firstTime"/>
					<property name="secondsFromNowToFire" value="300"/>
					<property name="contextKeysForJob">
						<list>
							<value>resourceAccessPointId</value>
							<value>psNamespaces</value>
						</list>
					</property>
					<property name="workflowKeyToLaunch" value="RESOURCE.ACCESS.POINT.INVENTORY.WORKFLOW"/>
				</bean-->				
			</list>
		</property>
	</bean>
		
	<!-- Issue an inventory of the sci names and then... TODO -->		
	<bean id="BIOCASE:1.3:inventory" parent="abstractWorkflow">
		<property name="activities">
			<list>
				<!-- Populate the required values for indexing -->
				<bean parent="abstractHarvestLaunchActivity"/>
				<!-- Issue a dummy request to see if it supports dateLastModified-->
				<bean parent="abstractCheckSupportsDateLastModifiedActivity">								
					<property name="conceptKey" value="REQUEST.SCIENTIFIC.NAME"/>
					<property name="templateLocation" value="org/gbif/portal/util/propertystore/biocase_1_3/template/scan.vm"/>
					<property name="contextKeyStartAt" value="recordProcessedCount"/>
					<property name="contextKeyDateLastModified" value="dateLastModified"/>												
					<property name="dateLastModifiedPSKey" value="REQUEST.DATE.LAST.MODIFIED"/>	
				</bean>
				<!-- Keep issuing the request until it's finished -->
				<bean parent="abstractSimplePagingActivity">
					<property name="seedDataContextKeys">
						<list>
							<value>url</value>
							<value>psNamespaces</value>
							<value>dataProviderId</value>
							<value>dataResourceId</value>
							<value>resourceAccessPointId</value>
							<value>remoteIdentifier</value>
							<value>recordProcessedCount</value>
							<value>dateLastModified</value>							
						</list>
					</property>
					<property name="resultDataContextKeys">
						<list>
							<value>recordProcessedCount</value>
							<value>endOfRecords</value>
							<value>recordProcessedCount</value>
						</list>
					</property>		
					<property name="workflow">
						<bean parent="abstractWorkflow">
							<property name="activities">
								<list>				
									<!-- Build the request -->
									<bean parent="abstractInventoryOfConceptRequestBuilderActivity">
										<property name="conceptKey" value="REQUEST.SCIENTIFIC.NAME"/>
										<property name="templateLocation" value="org/gbif/portal/util/propertystore/biocase_1_3/template/scan.vm"/>
										<property name="contextKeyStartAt" value="recordProcessedCount"/>
										<property name="dateLastModifiedPSKey" value="REQUEST.DATE.LAST.MODIFIED"/>	
									</bean>
									<!-- Fire the request -->
									<bean parent="abstractRequestIssueActivity"/>
									<!-- Log the response -->
									<bean parent="messageLoggerActivity">
										<property name="contextKeyMessage" value="responseMessage"/>
									</bean>
									<bean parent="abstractIndexDataCreatorActivity"/>
									<!-- Determine if there needs to be a future request -->
									<!-- BIOCASE NOT SUPPORT THIS!!!  -->
									<!--bean parent="abstractConceptListToContextActivity">
										<property name="contextKeyMessage" value="responseMessage"/>
										<property name="conceptToContext">
											<map>
												<entry key="RESPONSE.END.OF.RECORDS" value="endOfRecords"/>
											</map>
										</property>
									</bean-->										
								</list>
							</property>
						</bean>
					</property>
				</bean>
				<!--bean parent="abstractQuartzJobToLaunchWorkflowCreatorActivity">
					<property name="contextKeyForJobName" value="resourceAccessPointId"/>
					<property name="contextKeyForTriggerName" value="resourceAccessPointId"/>
					<property name="jobGroupName" value="harvesting"/>
					<property name="triggerGroupName" value="firstTime"/>
					<property name="secondsFromNowToFire" value="300"/>
					<property name="contextKeysForJob">
						<list>
							<value>resourceAccessPointId</value>
							<value>psNamespaces</value>
						</list>
					</property>
					<property name="workflowKeyToLaunch" value="RESOURCE.ACCESS.POINT.HARVESTER.WORKFLOW"/>
				</bean-->									
			</list>
		</property>
	</bean>
	
	<!-- The org.gbif.portal.harvest workflow definition -->
	<bean id="BIOCASE:1.3:harvester" parent="abstractWorkflow">
		<property name="activities">
			<list>
				<!-- Populate the required values for indexing -->
				<bean parent="abstractHarvestLaunchActivity">
					<property name="contextKeyCount" value="recordProcessedCount"/>
				</bean>								
				<!-- Start logging -->
                <ref bean="harvestBeginLog"/>
				<!-- Populate the required values for indexing -->
				<bean parent="abstractDOSThrottleActivity">
					<property name="seedDataContextKeys">
						<list>
							<value>resourceAccessPointId</value>
							<value>psNamespaces</value>
							<value>recordProcessedCount</value>
                            <value>recordAddedCount</value>
                            <value>recordUpdatedCount</value>
							<value>dateLastModified</value>
							<value>supportsDateLastModified</value>	
						</list>
					</property>
					<property name="workflow">
						<bean parent="abstractWorkflow">
							<property name="activities">
								<list>										
									<bean parent="abstractQuartzJobToLaunchWorkflowCreatorActivity">
										<property name="contextKeyForJobName" value="resourceAccessPointId"/>
										<property name="contextKeyForTriggerName" value="resourceAccessPointId"/>
										<property name="jobGroupName" value="harvesting"/>
										<property name="triggerGroupName" value="dosThrottleRescheduledFor1Min"/>
										<property name="secondsFromNowToFire" value="60"/>
										<property name="contextKeysForJob">
											<list>
												<value>resourceAccessPointId</value>
												<value>psNamespaces</value>
												<value>recordProcessedCount</value>
                                                <value>recordAddedCount</value>
                                                <value>recordUpdatedCount</value>
												<value>dateLastModified</value>
												<value>supportsDateLastModified</value>	
											</list>
										</property>
										<property name="workflowKeyToLaunch" value="RESOURCE.ACCESS.POINT.HARVESTER.WORKFLOW"/>
									</bean>
								</list>
							</property>
						</bean>
					</property>
				</bean>
				
				<!-- handle the range data found in the index data table -->
				<bean parent="abstractIndexDataIteratorActivity">
					<property name="seedDataContextKeys">
						<list>
							<value>url</value>
							<value>psNamespaces</value>
							<value>recordProcessedCount</value>
                            <value>recordAddedCount</value>
                            <value>recordUpdatedCount</value>
							<value>dataProviderId</value>
							<value>dataResourceId</value>
							<value>resourceAccessPointId</value>
							<value>remoteIdentifier</value>
							<value>unparsableResponseCount</value>
							<value>dateLastModified</value>
							<value>supportsDateLastModified</value>	
						</list>
					</property>
					<property name="resultDataContextKeys">
						<list>
							<value>recordProcessedCount</value>
						</list>
					</property>		
					<property name="workflow">
						<bean parent="abstractWorkflow">
							<property name="activities">
								<list>	
									<!-- Keep issuing the harvest request until it's finished -->
									<bean parent="abstractSimplePagingActivity">
										<property name="seedDataContextKeys">
											<list>
												<value>url</value>
												<value>psNamespaces</value>
												<value>recordProcessedCount</value>
                                                <value>recordAddedCount</value>
                                                <value>recordUpdatedCount</value>
												<value>dataProviderId</value>
												<value>dataResourceId</value>
												<value>resourceAccessPointId</value>
												<value>cachedDataResourceMap</value>
												<value>unparsableResponseCount</value>
												<value>lowerLimit</value>
												<value>upperLimit</value>
												<value>dateLastModified</value>
												<value>supportsDateLastModified</value>	
											</list>
										</property>
										<property name="resultDataContextKeys">
											<list>
												<value>responseMessage</value>
												<value>recordProcessedCount</value>
                                                <value>recordAddedCount</value>
                                                <value>recordUpdatedCount</value>
												<value>cachedDataResourceMap</value>
												<value>endOfRecords</value>
												<value>unparsableResponseCount</value>							
											</list>
										</property>		
										<property name="workflow">
											<bean parent="abstractWorkflow">
												<property name="defaultErrorHandler">
													<bean class="org.gbif.portal.util.workflow.errorhandler.ActivityLaunchForUnmappedErrorHandler">
														<property name="contextKeyExceptionName" value="exceptionName"/>
														<property name="activity">																							
															<bean parent="abstractQuartzJobToLaunchWorkflowCreatorActivity">
																<property name="contextKeyForJobName" value="resourceAccessPointId"/>
																<property name="contextKeyForTriggerName" value="resourceAccessPointId"/>
																<property name="contextKeyTriggerGroupNamePostfix" value="exceptionName"/>
																<property name="jobGroupName" value="harvesting"/>
																<property name="triggerGroupName" value="rescheduledFor1Week"/>
																<property name="secondsFromNowToFire" value="604800"/>
																<property name="contextKeysForJob">
																	<list>
																		<value>resourceAccessPointId</value>
																		<value>psNamespaces</value>
																		<value>recordProcessedCount</value>
                                                                        <value>recordAddedCount</value>
                                                                        <value>recordUpdatedCount</value>
																		<value>dateLastModified</value>
																		<value>supportsDateLastModified</value>	
																	</list>
																</property>
																<property name="workflowKeyToLaunch" value="RESOURCE.ACCESS.POINT.HARVESTER.WORKFLOW"/>
															</bean>
														</property>												
													</bean>
												</property>
												<property name="activities">
													<list>	
														<!-- Build the request -->
														<bean parent="abstractConceptInRangeRequestBuilderActivity">
															<property name="concept" value="REQUEST.SCIENTIFIC.NAME"/>
															<property name="templateLocation" value="org/gbif/portal/util/propertystore/biocase_1_3/template/search.vm"/>
															<property name="contextKeyLowerLimit" value="lowerLimit"/>
															<property name="contextKeyUpperLimit" value="upperLimit"/>
															<property name="contextKeyProcessedCount" value="recordProcessedCount"/>
														</bean>
														<!-- This is too slow... -->
														<!--bean parent="abstractConceptEqualsRequestBuilderActivity">
															<property name="concept" value="REQUEST.SCIENTIFIC.NAME"/>
															<property name="templateLocation" value="org/gbif/portal/util/propertystore/biocase_1_3/template/search.vm"/>
															<property name="contextKeyProcessedCount" value="recordProcessedCount"/>
														</bean-->
														
														<!-- Fire the request -->
														<bean parent="abstractRequestIssueActivity">
															<property name="errorHandler">
																<bean class="org.gbif.portal.util.workflow.errorhandler.ActivityLaunchErrorHandler">
																	<property name="contextKeyExceptionName" value="exceptionName"/>
																	<property name="errorActivityMapping">																							
																		<map>
																			<!-- Exceptions that cause a reshedule -->
																			<entry>
																				<key>
																					<set>
																						<value>java.net.SocketTimeoutException</value>		
																						<value>java.net.ConnectException</value>
																						<value>java.net.UnknownHostException</value>															
																						<value>java.net.NoRouteToHostException</value>
																					</set>
																				</key>
																				<bean parent="abstractQuartzJobToLaunchWorkflowCreatorActivity">
																					<property name="contextKeyForJobName" value="resourceAccessPointId"/>
																					<property name="contextKeyForTriggerName" value="resourceAccessPointId"/>
																					<property name="contextKeyTriggerGroupNamePostfix" value="exceptionName"/>
																					<property name="jobGroupName" value="harvesting"/>
																					<property name="triggerGroupName" value="rescheduledFor1Hour"/>
																					<property name="secondsFromNowToFire" value="3600"/>																
																					<property name="contextKeysForJob">
																						<list>
																							<value>resourceAccessPointId</value>
																							<value>psNamespaces</value>
																							<value>recordProcessedCount</value>
                                                                                            <value>recordAddedCount</value>
                                                                                            <value>recordUpdatedCount</value>
																							<value>dateLastModified</value>
																							<value>supportsDateLastModified</value>	
																						</list>
																					</property>
																					<property name="workflowKeyToLaunch" value="RESOURCE.ACCESS.POINT.HARVESTER.WORKFLOW"/>
																				</bean>
																			</entry>
																			<!-- Message Parsing errors warrants an increment if not null (e.g. skip page) -->
																			<entry>
																				<key>
																					<set>
																						<value>org.gbif.portal.util.mhf.message.MessageParseException</value>																	
																					</set>
																				</key>
																				<bean parent="abstractIncrementCountActivity">
																					<property name="contextKeyCount" value="recordProcessedCount"/>
																					<property name="contextKeyFlagToSet" value="endOfRecords"/>
																					<property name="flagValue" value="FALSE"/>
																					<property name="incrementBy" value="1000"/>
																					<property name="contextKeyErrorCount" value="unparsableResponseCount"/>
																				</bean>
																			</entry>
																		</map>
																	</property>												
																</bean>
															</property>	
														</bean>
					
														<!-- Log the response -->
														<bean parent="messageLoggerActivity">
															<property name="contextKeyMessage" value="responseMessage"/>
														</bean>
														<!-- Extract the DataSets in the response -->
														<bean class="org.gbif.portal.harvest.workflow.activity.SubMessageIteratorActivity">
															<property name="messageUtils" ref="messageUtils"/>
															<property name="propertyStore" ref="indexPropertyStore"/>
															<property name="contextKeyMessage" value="responseMessage"/>
															<property name="conceptToIterate" value="RESPONSE.DATASET"/>
															<property name="contextKeyTotalCount" value="datasetProcessedCount"/>										
															<property name="contextKeyPsNamespaces" value="psNamespaces"/>
															<property name="seedDataContextKeys">
																<list>
																	<value>psNamespaces</value>
																	<value>datasetProcessedCount</value>
																	<value>dataProviderId</value>
																	<value>dataResourceId</value>
																	<value>resourceAccessPointId</value>
																	<value>cachedDataResourceMap</value>
																	<value>recordProcessedCount</value>
                                                                    <value>recordAddedCount</value>
                                                                    <value>recordUpdatedCount</value>
																	<value>rawOccurrenceRecordList</value>
																	<value>dateLastModified</value>
																	<value>supportsDateLastModified</value>	
																</list>
															</property>
															<property name="resultDataContextKeys">
																<list>
																	<value>datasetProcessedCount</value>										
																	<value>recordProcessedCount</value>
                                                                    <value>recordAddedCount</value>
                                                                    <value>recordUpdatedCount</value>
																	<value>cachedDataResourceMap</value>
																	<value>rawOccurrenceRecordList</value>
																</list>
															</property>					
															<!-- Delegate to a workflow within the content namespaces (different versions differ drastically)-->
															<property name="psWorkflowKey" value="WORKFLOW.HARVEST.DATASET.MESSAGE"/>														
														</bean>			
														<!-- Batch persist them all -->
														<!--bean parent="abstractRawOccurrenceRecordListSynchroniserActivity"/-->		
														<!-- Set the end of records met flag -->
														<bean parent="abstractConceptListToContextActivity">
															<property name="contextKeyMessage" value="responseMessage"/>
															<property name="conceptToContext">
																<map>
																	<entry key="RESPONSE.END.OF.RECORDS" value="endOfRecords"/>
																</map>
															</property>
														</bean>										
																				
													</list>
												</property>	
											</bean>									
										</property>
									</bean>
								</list>
							</property>							
						</bean>
					</property>					
				</bean>
									
				<!-- Create a schedule for the resource access point -->	
				<!--bean parent="abstractQuartzJobToLaunchWorkflowCreatorActivity">
					<property name="contextKeyForJobName" value="resourceAccessPointId"/>
					<property name="contextKeyForTriggerName" value="resourceAccessPointId"/>
					<property name="jobGroupName" value="harvesting"/>
					<property name="triggerGroupName" value="successNextIn1Week"/-->
					<!-- 1 week -->
					<!--property name="secondsFromNowToFire" value="604800"/>
					<property name="contextKeysForJob">
						<list>
							<value>resourceAccessPointId</value>
							<value>psNamespaces</value>
							
						</list>
					</property>
					<property name="workflowKeyToLaunch" value="RESOURCE.ACCESS.POINT.HARVESTER.WORKFLOW"/>
				</bean-->
				<!-- Create a schedule for blowing the raw data apart into the model -->	
				<!--bean parent="abstractGBIFQuartzJobToLaunchWorkflowCreatorActivity">
					<property name="contextKeyForJobName" value="resourceAccessPointId"/>
					<property name="contextKeyForTriggerName" value="resourceAccessPointId"/>
					<property name="jobGroupName" value="extract"/>
					<property name="triggerGroupName" value="extract"/>
					<property name="secondsFromNowToFire" value="604800"/>
					<property name="contextKeysForJob">
						<list>
							<value>resourceAccessPointId</value>
						</list>
					</property>
					<property name="workflowKeyToLaunch" value="GBIF:INDEX:1.0:extractOccurrence"/>
				</bean-->
                <ref bean="harvestEndLog"/>
			</list>
		</property>
	</bean>
</beans>