## Template for a digir metadata request
##
## See included templates for requirements
##
## Define the type of request for the header
#set($type="metadata")
##
#parse("org/gbif/portal/util/propertystore/digir_1_0/template/preamble.vm")
#parse("org/gbif/portal/util/propertystore/digir_1_0/template/header.vm")
#parse("org/gbif/portal/util/propertystore/digir_1_0/template/postamble.vm")