<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans SYSTEM "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<!-- GBIF Indexing 1.0 Mappings -->
	<bean id="propertyStore:namespace:GBIF:INDEXING:1.0" class="org.gbif.portal.util.propertystore.impl.spring.PropertyBag">
		<!-- The namespace that the PropertyStore will key this bag on -->
		<property name="namespace" value="http://www.gbif.org/portal/index/1.0"/>
		<property name="properties">
			<map>
				<entry key="GBIF:INDEX:1.0:metadataOfResourceAccessPoint" value-ref="GBIF:INDEX:1.0:metadataOfResourceAccessPoint"/>
				<entry key="GBIF:INDEX:1.0:inventoryOfNamesAtResourceAccessPoint" value-ref="GBIF:INDEX:1.0:inventoryOfNamesAtResourceAccessPoint"/>
				<entry key="GBIF:INDEX:1.0:harvestResourceAccessPoint" value-ref="GBIF:INDEX:1.0:harvestResourceAccessPoint"/>
				<entry key="GBIF:INDEX:1.0:extractOccurrence" value-ref="GBIF:INDEX:1.0:extractOccurrence"/>
			</map>
		</property>
	</bean>
	<!-- The UDDI harvesting -->
	<bean id="GBIF:INDEX:1.0:uddi" parent="abstractWorkflow">
		<property name="activities">
			<list>
				<bean parent="abstractDataProviderSynchroniserActivity">
					<property name="seedDataContextKeys">
						<list>
							<value>dataProviderId</value>
							<value>businessInfo</value>
						</list>
					</property>
					<property name="workflow">
						<bean parent="abstractWorkflow">
							<property name="activities">
								<list>										
									<bean parent="abstractResourceAccessPointSynchroniserActivity">
										<!-- Each one gets a job to create the sync the namespaces and data resources -->
										<property name="workflow">
											<bean parent="abstractWorkflow">
												<property name="activities">
													<list>										
														<bean parent="abstractQuartzJobToLaunchWorkflowCreatorActivity">
															<property name="contextKeyForJobName" value="resourceAccessPointId"/>
															<property name="contextKeyForTriggerName" value="resourceAccessPointId"/>
															<property name="jobGroupName" value="metadata"/>
															<property name="triggerGroupName" value="immediate"/>
															<property name="contextKeysForJob">
																<list>
																	<value>resourceAccessPointId</value>
																</list>
															</property>
															<property name="workflowKeyToLaunch" value="RESOURCE.ACCESS.POINT.METADATA.WORKFLOW"/>
														</bean>
													</list>
												</property>
											</bean>
										</property>
									</bean>
								</list>
							</property>
						</bean>
					</property>					
				</bean>
			</list>
		</property>
	</bean>
	
	<!-- Does the metadata -->
	<bean id="GBIF:INDEX:1.0:metadataOfResourceAccessPoint" parent="abstractWorkflow">
		<property name="activities">
			<list>
				<!-- get the namespaces -->
				<bean parent="abstractHarvestLaunchActivity"/>
				<bean parent="abstractPropertyStoreWorkflowLaunchActivity">
					<property name="seedDataContextKeys">
						<list>
							<value>resourceAccessPointId</value>
						</list>
					</property>
					<property name="psWorkflowKey" value="RESOURCE.ACCESS.POINT.METADATA.WORKFLOW"/>
				</bean>				
				<!-- If it's an auto scheduled one... -->
				<bean parent="rapMetadataScheduler"/>				
			</list>
		</property>
	</bean>

	<!-- The harvested Raw records get put into the raw table -->
	<bean id="GBIF:INDEX:1.0:inventoryOfNamesAtResourceAccessPoint" parent="abstractWorkflow">
		<property name="activities">
			<list>
				<!-- get the namespaces and then start the workflow -->
				<bean parent="abstractHarvestLaunchActivity"/>
				<!-- Throttle ourselves -->
				<bean parent="abstractDOSThrottleActivity">
					<property name="seedDataContextKeys">
						<list>
							<value>resourceAccessPointId</value>
						</list>
					</property>
					<property name="workflow">
						<bean parent="abstractWorkflow">
							<property name="activities">
								<list>										
									<bean parent="rapImmediateInventoryScheduler"/>
								</list>
							</property>
						</bean>
					</property>
				</bean>
				
				<!-- Set the date last modified -->
				<bean parent="abstractDateLastModifiedSetActivity"/>				
				<!-- Tidy up old index data records -->
				<bean parent="abstractDeactivateIncompleteIndexDataActivity"/>								
				<bean parent="abstractPropertyStoreWorkflowLaunchActivity">
					<property name="seedDataContextKeys">
						<list>
							<value>resourceAccessPointId</value>
							<value>dateLastModified</value>
						</list>
					</property>
					<property name="psWorkflowKey" value="RESOURCE.ACCESS.POINT.INVENTORY.WORKFLOW"/>
				</bean>				
				<bean parent="rapImmediateHarvestScheduler"/>
			</list>
		</property>
	</bean>

	
	<!-- The harvested Raw records get put into the raw table -->
	<bean id="GBIF:INDEX:1.0:harvestResourceAccessPoint" parent="abstractWorkflow">
		<property name="activities">
			<list>
				<!-- get the namespaces -->
				<bean parent="abstractHarvestLaunchActivity"/>
				<!-- Throttle ourselves -->
				<bean parent="abstractDOSThrottleActivity">
					<property name="seedDataContextKeys">
						<list>
							<value>resourceAccessPointId</value>
						</list>
					</property>
					<property name="workflow">
						<bean parent="abstractWorkflow">
							<property name="activities">
								<list>										
									<bean parent="rapImmediateHarvestScheduler"/>
								</list>
							</property>
						</bean>
					</property>
				</bean>
				<!-- sets the params on the RAP table -->
				<bean parent="abstractStartHarvestActivity"/>
				<!-- Set the date last modified -->
				<bean parent="abstractDateLastModifiedSetActivity"/>				
				<bean parent="abstractPropertyStoreWorkflowLaunchActivity">
					<property name="seedDataContextKeys">
						<list>
							<value>resourceAccessPointId</value>
							<value>scientificName</value>
							<value>dateLastModified</value>
						</list>
					</property>
					<property name="psWorkflowKey" value="RESOURCE.ACCESS.POINT.HARVESTER.WORKFLOW"/>
				</bean>				
				<bean parent="rapExtractScheduler"/>								
			</list>
		</property>
	</bean>
	
	<!-- The harvested Raw records get exploded into the model -->
	<bean id="GBIF:INDEX:1.0:extractOccurrence" parent="abstractWorkflow">
		<property name="activities">
			<list>
				<bean parent="abstractHarvestLaunchActivity"/>
				<!-- We do each -->
				<bean parent="abstractDataResourceInRORPagingActivity">
				    <property name="seedDataContextKeys">
					    <list>
						    <value>logGroup</value>
							<value>dataProviderId</value>
							<value>resourceAccessPointId</value>
							<value>psNamespaces</value>
							<value>remoteIdentifier</value>
							<value>url</value>
							<value>supportsDateLastModified</value>		
							<value>dateLastHarvestStarted</value>
							<value>dateLastExtractStarted</value>
							<value>recordProcessedCount</value>
							<value>recordAddedCount</value>
							<value>recordUpdatedCount</value>
					    </list>
				    </property>
					<property name="workflow">
						<bean parent="abstractWorkflow">
							<!-- Just log and continue-->
							<property name="defaultErrorHandler" ref="nonStoppingLogErrorHandler"/>
							<property name="activities">
								<list>										
									<bean parent="abstractGbifMessageLoggerActivity">
										<property name="event" value="extractBegin"/>
									</bean>				
									
									<!-- Generate the taxonomy - note that it builds up a Map of classification -> TC id
										 and stores it in the storedClassifications map -->
									<bean parent="abstractPropertyStoreWorkflowLaunchActivity">
										<property name="seedDataContextKeys">
											<list>
												<value>logGroup</value>
												<value>dataProviderId</value>
												<value>resourceAccessPointId</value>
												<value>dataResourceId</value>
                                                <value>recordProcessedCount</value>
                                                <value>recordAddedCount</value>
                                                <value>recordUpdatedCount</value>
											</list>
										</property>
										<property name="resultDataContextKeys">
											<list>
												<value>storedClassifications</value>
                                                <value>recordProcessedCount</value>
                                                <value>recordAddedCount</value>
                                                <value>recordUpdatedCount</value>                        
											</list>
										</property>										
										<property name="workflow" ref="GBIF:INDEX:1.0:extractTaxonomy"/>
									</bean>				
									
									<!-- Find out if we need to check on record by record basis for the records -->				
									<bean parent="abstractCheckImageLinkTypeRecordsActivity"/>
									
									<!-- Now loop over the OR and extract it - it uses the already persisted taxonomy map(storedClassifications)  -->
									<bean parent="abstractRawOccurrenceRecordPagingActivity">
										<property name="seedDataContextKeys">
											<list>
												<value>logGroup</value>
												<value>storedClassifications</value>
												<value>skipLinkRecord</value>
												<value>skipTypificationRecord</value>
												<value>skipImageRecord</value>
                                                <value>recordProcessedCount</value>
                                                <value>recordAddedCount</value>
                                                <value>recordUpdatedCount</value>
											</list>
										</property>
                                        <property name="resultDataContextKeys">
                                          <list>
                                                <value>recordProcessedCount</value>
                                                <value>recordAddedCount</value>
                                                <value>recordUpdatedCount</value>                        
                                          </list>
                                        </property>                     
										<property name="workflow">
											<bean parent="abstractWorkflow">
												<!-- Just log and continue-->
												<property name="defaultErrorHandler" ref="nonStoppingLogErrorHandler"/>
												<property name="activities">
													<list>										
														<bean parent="abstractRawOccurrenceRecordValuesToContextActivity"/>
														<bean parent="abstractStoredClassificationToTaxonConceptIdActivity"/>
														<bean parent="abstractOccurrenceRecordSynchroniserActivity"/>
													</list>
												</property>
											</bean>
										</property>					
									</bean>
									<bean parent="abstractMarkSecondaryTaxaActivity"/>				
									<!-- TODO... this is setting a field called "Start" but should it stay at the end of the WF and be called "end"
										 If I set it at the beginning, and break off half way... then it would not pick them up ever -->
									<!--bean parent="abstractStartExtractActivity"/-->
                                    <bean class="org.gbif.portal.harvest.workflow.activity.tag.CollectorTagActivity">
										<property name="dataSource" ref="dataSource"/>
									</bean>
                                    <bean class="org.gbif.portal.harvest.workflow.activity.tag.CommonNameTagActivity">
										<property name="dataSource" ref="dataSource"/>
									</bean>
                                    <bean class="org.gbif.portal.harvest.workflow.activity.tag.TaxonomicCoverageTagActivity">
										<property name="dataSource" ref="dataSource"/>
									</bean>
                                    <bean class="org.gbif.portal.harvest.workflow.activity.tag.PolygonTagActivity">
										<property name="dataSource" ref="dataSource"/>
									</bean>
                                    <!-- log end of extraction event -->
									<ref bean="extractEndLog"/>
								</list>
							</property>
						</bean>
					</property>	
				</bean>				
				<!-- Get this to reharvest - note that a metadata WF might change this schedule -->
				<!--bean parent="rapInventoryScheduler"/-->		
			</list>
		</property>
	</bean>		
		
	<!-- The harvested raw records processing for the taxonomy -->
	<bean id="GBIF:INDEX:1.0:extractTaxonomy" parent="abstractWorkflow">
		<property name="activities">
			<list>
				<bean parent="abstractRawTaxonomyPagingActivity">
					<property name="storedClassifications" value="true"/>
				    <property name="seedDataContextKeys">
					    <list>
						    <value>logGroup</value>
						    <value>dataProviderId</value>
						    <value>dataResourceId</value>
					    </list>
				    </property>
				    <property name="resultDataContextKeys">
					    <list>
						    <value>taxonConceptId</value>
							<value>taxonNameId</value>
					    </list>
				    </property>										
					<property name="workflow">
						<bean parent="abstractWorkflow">
							<!-- Just log and continue-->
							<property name="defaultErrorHandler" ref="nonStoppingLogErrorHandler"/>
							<property name="activities">
								<list>						
									<!--bean parent="abstractDeleteOccurrenceExtractMessages"/-->				
									<bean parent="abstractTaxonNameToClassificationActivity">
										<property name="contextKeyName" value="kingdom"/>
										<property name="parser" ref="kingdomParser"/>
									</bean>
									<bean parent="abstractTaxonNameToClassificationActivity">
										<property name="contextKeyName" value="phylum"/>
										<property name="parser" ref="phylumParser"/>
									</bean>
									<bean parent="abstractTaxonNameToClassificationActivity">
										<property name="contextKeyName" value="class"/>
										<property name="parser" ref="classParser"/>
									</bean>
									<bean parent="abstractTaxonNameToClassificationActivity">
										<property name="contextKeyName" value="order"/>
										<property name="parser" ref="orderParser"/>
									</bean>
									<bean parent="abstractTaxonNameToClassificationActivity">
										<property name="contextKeyName" value="family"/>
										<property name="parser" ref="familyParser"/>
									</bean>
									<!-- Genus Parser -->
									<bean parent="abstractTaxonNameToClassificationActivity">
										<property name="contextKeyName" value="genus"/>
										<property name="defaultParsedRank" value="6000"/>
										<property name="parser">
											<bean class="org.gbif.portal.harvest.taxonomy.ScientificNameParser">
												<property name="taxonNameDAO" ref="taxonNameDAO"/>
												<property name="gbifLogUtils" ref="gbifLogUtils"/>
												<property name="orderedRegularExpresionsMapping">
													<list>
														<bean parent="genericMatcher">
															<property name="rank" value="6000"/>
														</bean>
													</list>													
												</property>												
											</bean>
										</property>
									</bean>
									<!-- Scientific Name -->
									<bean parent="abstractTaxonNameToClassificationActivity">
										<property name="contextKeyName" value="scientificName"/>
										<property name="parser" ref="scientificNameParser"/>
									</bean>
									<!-- For subspecies, get a species in there if it is not (not that it assumes
										 the second last would be a species - would not work for many sub ranks...)-->
									<bean parent="abstractSpeciesInClassificationForSubspeciesActivity"/>
									<!--bean parent="abstractClassificationLoggerActivity"/-->
									<bean parent="abstractClassificationSynchroniserActivity"/>
								</list>
							</property>
						</bean>
					</property>					
				</bean>
			</list>
		</property>
	</bean>	
</beans>