<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans SYSTEM "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<!-- Please note that these will be overriden by any PropertyOverrideConfigurer that are wired up -->
	<bean id="citesReportXML" class="reports.cites.CitesReportXML" autowire="byName"/>
	<bean id="citesReportTAB" class="reports.cites.CitesReportTAB" autowire="byName"/>
		
	<!-- Gets each Record -->
	<bean id="citesRecordAccessor" class="org.gbif.portal.util.mhf.message.impl.xml.accessor.ListMessageFromXPathAccessor">
		<property name="XPath">
			<bean class="org.dom4j.xpath.DefaultXPath">
				<constructor-arg value="//Record"/>
			</bean>
		</property>
	</bean>

	<!-- Gets genus -->
	<bean id="citesLegListingAccessor" class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
		<property name="XPath">
			<bean class="org.dom4j.xpath.DefaultXPath">
				<constructor-arg value="/Record/LegListing"/>
			</bean>
		</property>
	</bean>

	<!-- Gets genus -->
	<bean id="citesGenusAccessor" class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
		<property name="XPath">
			<bean class="org.dom4j.xpath.DefaultXPath">
				<constructor-arg value="/Record/GenName"/>
			</bean>
		</property>
	</bean>

	<!-- Gets specific epithet -->
	<bean id="citesSpeciesAccessor" class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
		<property name="XPath">
			<bean class="org.dom4j.xpath.DefaultXPath">
				<constructor-arg value="/Record/SpcName"/>
			</bean>
		</property>
	</bean>

	<!-- Gets subspecific epithet -->
	<bean id="citesSubspeciesAccessor" class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
		<property name="XPath">
			<bean class="org.dom4j.xpath.DefaultXPath">
				<constructor-arg value="/Record/SpcInfraEpithet"/>
			</bean>
		</property>
	</bean>
	
</beans>