<?xml version="1.0" encoding="UTF-8"?>
#set($stylesheet=$response.get("headerMap").get("stylesheet"))
<?xml-stylesheet type="text/xsl" href="$stylesheet"?>
#set($schemaLocation=$response.get("headerMap").get("schemaLocation"))
<gbif:gbifResponse xsi:schemaLocation="$schemaLocation" xmlns:gbif="http://portal.gbif.org/ws/response/gbif" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
#parse("org/gbif/portal/ws/header.vm")
#set($results = $response.get("results"))
#if ($results.size()>0)
 <gbif:resourceNetworks>
 #foreach ($resourceNetwork in $response.get("results").keySet())
		     			<gbif:resourceNetwork gbifKey="$resourceNetwork.getKey()" rdf:about="$wsroot/rest/network/get/$resourceNetwork.getKey()">
		     				#if($resourceNetwork.getName())
		     					<gbif:name>$resourceNetwork.getName()</gbif:name>
		     				#end
		     				#if($resourceNetwork.getDescription())
		     					<gbif:description>$resourceNetwork.getDescription()</gbif:description>
		     				#end
		     				#if($resourceNetwork.getCode())
		     					<gbif:shortIdentifier>$resourceNetwork.getCode()</gbif:shortIdentifier>
		     				#end		     				
		     				#if($resourceNetwork.getWebsiteUrl())
		     					<gbif:websiteUrl>$resourceNetwork.getWebsiteUrl()</gbif:websiteUrl>
		     				#end
		     				#if($resourceNetwork.getLogoUrl())
		     					<gbif:logoUrl>$resourceNetwork.getLogoUrl()</gbif:logoUrl>
		     				#end
		     				#if($resourceNetwork.getEmail())
		     					<gbif:email>$resourceNetwork.getEmail()</gbif:email>
		     				#end
		     				#if($resourceNetwork.getAddress())
		     					<gbif:address>$resourceNetwork.getAddress()</gbif:address>
		     				#end
		     				#if($resourceNetwork.getTelephone())
		     					<gbif:telephone>$resourceNetwork.getTelephone()</gbif:telephone>
		     				#end
		     				#if($resourceNetwork.getConceptCount() && $resourceNetwork.getConceptCount() > 0)
		     					<gbif:taxonConceptCount>$resourceNetwork.getConceptCount()</gbif:taxonConceptCount>
		     				#end
		     				#if($resourceNetwork.getSpeciesCount() && $resourceNetwork.getSpeciesCount() > 0)
		     					<gbif:speciesCount>$resourceNetwork.getSpeciesCount()</gbif:speciesCount>
		     				#end		   
		     				#if($resourceNetwork.getOccurrenceCount() && $resourceNetwork.getOccurrenceCount() > 0)
		     					<gbif:occurrenceCount>$resourceNetwork.getOccurrenceCount()</gbif:occurrenceCount>
		     				#end		 
		     				#if($resourceNetwork.getOccurrenceCoordinateCount() && $resourceNetwork.getOccurrenceCoordinateCount() > 0)
		     					<gbif:georeferencedOccurrenceCount>$resourceNetwork.getOccurrenceCoordinateCount()</gbif:georeferencedOccurrenceCount>
		     				#end
		     				#if($resourceNetwork.getCreated())
		     					<gbif:created>$resourceNetwork.getCreated()</gbif:created>
		     				#end
		     				#if($resourceNetwork.getModified())
		     					<gbif:modified>$resourceNetwork.getModified()</gbif:modified>
		     				#end
		     				#if($resourceNetwork.getDeleted())
		     					<gbif:deleted>$resourceNetwork.getDeleted()</gbif:deleted>
		     				#end		     				
   <gbif:dataResources>
    #foreach ($dataresource in $response.get("results").get($resourceNetwork).keySet())
#set($dataResourceKey=$response.get("results").get($resourceNetwork).get($dataresource))    
    <gbif:dataResource rdf:about="$wsroot/rest/resource/get/$dataResourceKey" gbifKey="$dataResourceKey">
    <gbif:name>$dataresource</gbif:name>
    </gbif:dataResource>
    #end
   </gbif:dataResources>
  </gbif:resourceNetwork>
 #end
 </gbif:resourceNetworks>
#end
</gbif:gbifResponse>