<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans SYSTEM "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<!-- Allow the XPath accessors to reuse the prefix -->
	<bean id="abstractXPath:DWC:1.4" abstract="true" class="org.dom4j.xpath.DefaultXPath">
		<property name="namespaceURIs">
			<map>
				<entry key="dwc" value="http://rs.tdwg.org/dwc/dwcore/"/>
				<entry key="dwcrecord" value="http://rs.tdwg.org/dwc/dwrecord"/>
			</map>
		</property>
	</bean>

		<!-- DWC 1.4 Mappings -->
		<bean id="propertyStore:namespace:DWC:1.4" class="org.gbif.portal.util.propertystore.impl.spring.PropertyBag">
			<!-- The namespace that the PropertyStore will key this bag on -->
			<property name="namespace" value="http://rs.tdwg.org/dwc/dwcore/"/>
			<property name="properties">
				<map>
					<!-- To create a message around the raw data -->
					<entry key="MESSAGE.FACTORY" value-ref="propertyStore:XMLMessageFactory"/>
					
					<!-- Entities to build requests -->
					<entry key="REQUEST.SCIENTIFIC.NAME" value="ScientificName"/>
					<entry key="REQUEST.INSTITUTION.CODE" value="http://rs.tdwg.org/dwc/dwcore/InstitutionCode"/> 
					<entry key="REQUEST.COLLECTION.CODE" value="http://rs.tdwg.org/dwc/dwcore/CollectionCode"/> 
					<entry key="REQUEST.CATALOGUE.NUMBER" value="http://rs.tdwg.org/dwc/dwcore/CatalogNumber"/> 
					<entry key="REQUEST.NAMESPACE.SCIENTIFIC.NAME" value="http://rs.tdwg.org/dwc/dwcore/ScientificName"/>
					<entry key="REQUEST.NAMESPACE.INSTITUTION.CODE" value="http://rs.tdwg.org/dwc/dwcore/InstitutionCode"/> 
					<entry key="REQUEST.NAMESPACE.COLLECTION.CODE" value="http://rs.tdwg.org/dwc/dwcore/CollectionCode"/> 
					<entry key="REQUEST.NAMESPACE.CATALOGUE.NUMBER" value="http://rs.tdwg.org/dwc/dwcore/CatalogNumber"/> 
					<!--  entry key="REQUEST.CONTENT.NAMESPACE" value="http://digir.sourceforge.net/schema/conceptual/darwin/full/2003/1.0/darwin2full.xsd"/--> 
	        <entry key="REQUEST.CONTENT.NAMESPACE" value="http://rs.tdwg.org/tapir/cs/dwc/1.4/model/dw_core_geo_cur.xml"/>
					<!-- To extract the records -->
				<entry key="RESPONSE.RECORD">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.ListMessageFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:DWC:1.4">
								<constructor-arg value="//dwcrecord:DarwinRecordSet/dwcrecord:DarwinRecord"/>
							</bean>
						</property>
					</bean>
				</entry>				
				
				<!-- The DWC entities -->
				<entry key="RECORD.INSTITUTION.CODE">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:DWC:1.4">
								<constructor-arg value="//dwc:InstitutionCode"/>
							</bean>
						</property>
					</bean>
				</entry>
				<entry key="RECORD.COLLECTION.CODE">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:DWC:1.4">
								<constructor-arg value="//dwc:CollectionCode"/>
							</bean>
						</property>
					</bean>
				</entry>
				<entry key="RECORD.CATALOGUE.NUMBER">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:DWC:1.4">
								<constructor-arg value="//dwc:CatalogNumber"/>
							</bean>
						</property>
					</bean>
				</entry>
				<entry key="RECORD.TAXONOMY.SCIENTIFIC.NAME">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:DWC:1.4">
								<constructor-arg value="//dwc:ScientificName"/>
							</bean>
						</property>
					</bean>
				</entry>			
				<entry key="RECORD.TAXONOMY.AUTHOR">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:DWC:1.4">
								<constructor-arg value="//dwc:AuthorYearOfScientificName"/>
							</bean>
						</property>
					</bean>
				</entry>			
				<entry key="RECORD.TAXONOMY.KINGDOM">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:DWC:1.4">
								<constructor-arg value="//dwc:Kingdom"/>
							</bean>
						</property>
					</bean>
				</entry>			
				<entry key="RECORD.TAXONOMY.PHYLUM">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:DWC:1.4">
								<constructor-arg value="//dwc:Phylum"/>
							</bean>
						</property>
					</bean>
				</entry>			
				<entry key="RECORD.TAXONOMY.CLASS">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:DWC:1.4">
								<constructor-arg value="//dwc:Class"/>
							</bean>
						</property>
					</bean>
				</entry>			
				<entry key="RECORD.TAXONOMY.ORDER">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:DWC:1.4">
								<constructor-arg value="//dwc:Order"/>
							</bean>
						</property>
					</bean>
				</entry>			
				<entry key="RECORD.TAXONOMY.FAMILY">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:DWC:1.4">
								<constructor-arg value="//dwc:Family"/>
							</bean>
						</property>
					</bean>
				</entry>			
				<entry key="RECORD.TAXONOMY.GENUS">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:DWC:1.4">
								<constructor-arg value="//dwc:Genus"/>
							</bean>
						</property>
					</bean>
				</entry>			
				<entry key="RECORD.TAXONOMY.SPECIES">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:DWC:1.4">
								<constructor-arg value="//dwc:SpecificEpithet"/>
							</bean>
						</property>
					</bean>
				</entry>			
				<entry key="RECORD.TAXONOMY.SUBSPECIES">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:DWC:1.4">
								<constructor-arg value="//dwc:InfraSpecificEpithet"/>
							</bean>
						</property>
					</bean>
				</entry>			
				<entry key="RECORD.GEOSPATIAL.MIN.ALTITUDE">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:DWC:1.4">
								<constructor-arg value="//dwc:MinimumElevationInMeters"/>
							</bean>
						</property>
					</bean>
				</entry>			
				<entry key="RECORD.GEOSPATIAL.MAX.ALTITUDE">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:DWC:1.4">
								<constructor-arg value="//dwc:MaximumElevationInMeters"/>
							</bean>
						</property>
					</bean>
				</entry>			
				<entry key="RECORD.GEOSPATIAL.MIN.DEPTH">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:DWC:1.4">
								<constructor-arg value="//dwc:MinimumDepthInMeters"/>
							</bean>
						</property>
					</bean>
				</entry>			
				<entry key="RECORD.GEOSPATIAL.MAX.DEPTH">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:DWC:1.4">
								<constructor-arg value="//dwc:MaximumDepthInMeters"/>
							</bean>
						</property>
					</bean>
				</entry>			
				<entry key="RECORD.GEOSPATIAL.CONTINENTOROCEAN">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathListAccessor">
						<property name="XPathList">
							<list>
								<bean parent="abstractXPath:DWC:1.4">
									<constructor-arg value="//dwc:Continent"/>
								</bean>
								<bean parent="abstractXPath:DWC:1.4">
									<constructor-arg value="//dwc:WaterBody"/>
								</bean>
							</list>
						</property>
					</bean>
				</entry>			
				<entry key="RECORD.GEOSPATIAL.COUNTRY">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:DWC:1.4">
								<constructor-arg value="//dwc:Country"/>
							</bean>
						</property>
					</bean>
				</entry>			
				<entry key="RECORD.GEOSPATIAL.STATEORPROVINCE">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:DWC:1.4">
								<constructor-arg value="//dwc:StateProvince"/>
							</bean>
						</property>
					</bean>
				</entry>			
				<entry key="RECORD.GEOSPATIAL.COUNTY">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:DWC:1.4">
								<constructor-arg value="//dwc:County"/>
							</bean>
						</property>
					</bean>
				</entry>			
				<entry key="RECORD.GEOSPATIAL.LOCALITY">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:DWC:1.4">
								<constructor-arg value="//dwc:Locality"/>
							</bean>
						</property>
					</bean>
				</entry>			
				<entry key="RECORD.COLLECTOR">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:DWC:1.4">
								<constructor-arg value="//dwc:Collector"/>
							</bean>
						</property>
					</bean>
				</entry>			
				<entry key="RECORD.TEMPORAL.DATE">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathListAccessor">
						<property name="XPathList">
							<list>
								<bean parent="abstractXPath:DWC:1.4">
									<constructor-arg value="//dwc:EarliestDateCollected"/>
								</bean>
								<bean parent="abstractXPath:DWC:1.4">
									<constructor-arg value="//dwc:LatestDateCollected"/>
								</bean>
							</list>
						</property>
					</bean>
				</entry>			
				<entry key="RECORD.BASIS.OF.RECORD">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:DWC:1.4">
								<constructor-arg value="//dwc:BasisOfRecord"/>
							</bean>
						</property>
					</bean>
				</entry>			
				<entry key="RECORD.GUID">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:DWC:1.4">
								<constructor-arg value="//dwc:GlobalUniqueIdentifier"/>
							</bean>
						</property>
					</bean>
				</entry>			
				<entry key="RECORD.IMAGES">
					<bean class="org.gbif.portal.harvest.workflow.activity.image.ListImageRecordFromImageXPathsAccessor">
						<property name="rootXPath">
							<bean parent="abstractXPath:DWC:1.4">
								<constructor-arg value="//dwc:ImageURL"/>
							</bean>
						</property>
						<property name="urlXPath">
							<bean parent="abstractXPath:DWC:1.4">
								<constructor-arg value="/dwc:ImageURL"/>
							</bean>
						</property>
					</bean>
				</entry>			
				
				<!-- Workflow to deal with a flat set of DWC elements contained in a root
					 (For example a single digir record message)-->
				<entry key="WORKFLOW.HARVEST.RECORD.MESSAGE">
					<bean parent="abstractWorkflow">
						<property name="activities">
							<list>
								<!-- Log the container message -->
								<!--bean parent="messageLoggerActivity">
									<property name="contextKeyMessage" value="responseMessage"/>
								</bean-->
								<!-- Get the values -->
								<bean parent="abstractConceptListToContextActivity">
									<property name="contextKeyMessage" value="responseMessage"/>
									<property name="allConceptsRequired" value="false"/>
									<property name="conceptToContext">
										<map>
											<entry key="RECORD.INSTITUTION.CODE" value="institutionCode"/>
											<entry key="RECORD.COLLECTION.CODE" value="collectionCode"/>
											<entry key="RECORD.CATALOGUE.NUMBER" value="catalogueNumber"/>
											<entry key="RECORD.TAXONOMY.SCIENTIFIC.NAME" value="scientificName"/>
											<entry key="RECORD.TAXONOMY.AUTHOR" value="author"/>
											<entry key="RECORD.TAXONOMY.KINGDOM" value="kingdom"/>
											<entry key="RECORD.TAXONOMY.PHYLUM" value="phylum"/>
											<entry key="RECORD.TAXONOMY.CLASS" value="class"/>
											<entry key="RECORD.TAXONOMY.ORDER" value="order"/>
											<entry key="RECORD.TAXONOMY.FAMILY" value="family"/>
											<entry key="RECORD.TAXONOMY.GENUS" value="genus"/>
											<entry key="RECORD.TAXONOMY.SPECIES" value="species"/>
											<entry key="RECORD.TAXONOMY.SUBSPECIES" value="subspecies"/>
											<entry key="RECORD.GEOSPATIAL.LATITUDE" value="latitude"/>
											<entry key="RECORD.GEOSPATIAL.LONGITUDE" value="longitude"/>
											<entry key="RECORD.GEOSPATIAL.LATLONG.PRECISION" value="latLongPrecision"/>
											<entry key="RECORD.GEOSPATIAL.MIN.ALTITUDE" value="minAltitude"/>
											<entry key="RECORD.GEOSPATIAL.MAX.ALTITUDE" value="maxAltitude"/>
											<entry key="RECORD.GEOSPATIAL.MIN.DEPTH" value="minDepth"/>
											<entry key="RECORD.GEOSPATIAL.MAX.DEPTH" value="maxDepth"/>
											<entry key="RECORD.GEOSPATIAL.CONTINENTOROCEAN" value="continentOrOcean"/>
											<entry key="RECORD.GEOSPATIAL.COUNTRY" value="country"/>
											<entry key="RECORD.GEOSPATIAL.STATEORPROVINCE" value="stateOrProvince"/>
											<entry key="RECORD.GEOSPATIAL.COUNTY" value="county"/>
											<entry key="RECORD.GEOSPATIAL.LOCALITY" value="locality"/>
											<entry key="RECORD.COLLECTOR" value="collectorName"/>
											<entry key="RECORD.TEMPORAL.DATE" value="date"/>
											<entry key="RECORD.BASIS.OF.RECORD" value="basisOfRecord"/>
											<entry key="RECORD.IMAGES" value="images"/>
											<entry key="RECORD.IDENTIFIEDBY" value="identifierName"/>
											<entry key="RECORD.DATEIDENTIFIED" value="dateIdentified"/>
											<entry key="RECORD.GUID" value="guid"/>
											<entry key="RECORD.IDENTIFIER.FIELDNUMBER" value="fieldNumber"/>
											<entry key="RECORD.IDENTIFIER.COLLECTORNUMBER" value="collectorNumber"/>
											<entry key="RECORD.IDENTIFIER.GENBANKNUMBER" value="sequenceNumbers"/>
											<entry key="RECORD.IDENTIFIER.OTHERCATALOGNUMBERS" value="otherCatalogNumbers"/>
											<entry key="RECORD.TYPIFICATIONS" value="typifications"/>
										</map>
									</property>
								</bean>			
								<!--bean parent="abstractRawOccurrenceRecordCreatorActivity"/-->
								<!-- Process the date string -->
								<bean parent="abstractParseDateToContextActivity"/>
								<bean parent="abstractRawOccurrenceRecordSynchroniserActivity"/>
								<!-- Batch persist them all -->
								<!--bean parent="abstractRawOccurrenceRecordListSynchroniserActivity"/-->				
		          			</list>
						</property>
					</bean>					
				</entry>				
			</map>
		</property>
	</bean>
</beans>