<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans SYSTEM "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<!-- An abstract definition ready for using in workflows -->
	<bean abstract="true" id="abstractMultipleTabFileIteratorActivity"
		class="org.gbif.portal.harvest.workflow.activity.file.MultipleTabFileIteratorActivity">
		<property name="contextKeyPrefix" value="RECORD:"/>
		<property name="contextKeyFileUrls" value="urlList"/>
		<property name="contextKeySeparator" value="separator"/>
		<property name="contextKeyQuoteCharacter" value="quoteCharacter"/>
	</bean>
</beans>