<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans SYSTEM "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<!-- An abstract definition ready for using in workflows -->
	<bean abstract="true" id="abstractDataProviderSynchroniserActivity"
		class="org.gbif.portal.harvest.workflow.activity.uddi.DataProviderSynchroniserActivity">
		<property name="dataProviderDAO" ref="dataProviderDAO"/>
		<property name="countryDAO" ref="countryDAO"/>
		<property name="contextKeyDataProviderId" value="dataProviderId"/>
		<property name="contextKeyBusinessInfo" value="businessInfo"/>
		<property name="agentUtils" ref="agentUtils"/>		
		<property name="tmodelNames">
			<list>
				<value>BioCASe</value>
				<value>DiGIR</value>
				<value>MaNISDiGIR</value>
				<value>TAPIR</value>
			</list>
		</property>
		<property name="providerCountryMap">
			<map>
				<entry key="CABI Bioscience UK Centre" value="GB"/>
				<entry key="conabioweb.conabio.gob.mx Provider" value="MX"/>
				<entry key="Dipartimento di Biologia, Università di Trieste" value="IT"/>
				<entry key="Illinois Natural History Survey - Insect Collection Database" value="US"/>
				<entry key="Israel Nature and Parks Authority" value="IL"/>
				<entry key="Museum of Southwestern Biology, Division of Amphibians and Reptiles" value="US"/>
				<entry key="National Chemical Laboratory" value="IN"/>
				<entry key="NatureServe" value="US"/>
				<entry key="School of Fisheries and Ocean Sciences" value="US"/>
				<entry key="The Hong Kong University Herbarium" value="HK"/>
				<entry key="The Museum of Biology, Sun Yatsen Univ" value="CN"/>
				<entry key="The Nordic Gene Bank" value="SE"/>
				<entry key="WFCC-MIRCEN World Data Centre for Microorganisms (WDCM)" value="JP"/>
			</map>
		</property>
	</bean>
	
	<!-- An abstract definition ready for using in workflows -->
	<bean abstract="true" id="abstractResourceAccessPointSynchroniserActivity"
		class="org.gbif.portal.harvest.workflow.activity.uddi.ResourceAccessPointSynchroniserActivity">
		<property name="resourceAccessPointDAO" ref="resourceAccessPointDAO"/>
		<property name="propertyStoreNamespaceDAO" ref="propertyStoreNamespaceDAO"/>
		<property name="contextKeyDataProviderId" value="dataProviderId"/>
		<property name="contextKeyResourceAccessPointId" value="resourceAccessPointId"/>
		<property name="contextKeyPsNamespaces" value="psNamespaces"/>
		<property name="contextKeyBusinessInfo" value="businessInfo"/>
		<property name="orderedTModelNamespaceMapping">
			<list>
				<map>
					<entry key="BioCASe">
						<list>
							<value>http://www.biocase.org/schemas/protocol/1.3</value>
						</list>
					</entry>
				</map>
				<!-- The namespaces are made up since they reused the namespace -->
				<map>
					<entry key="MaNISDiGIR">
						<list>
							<!-- can't do this - UDDI has incorrect data in there!!!!!
							<value>http://manis.digir.net/schema/protocol/2003/1.0</value>
							<value>http://manis.digir.net/schema/conceptual/darwin/2003/1.0</value>
							-->
							<value>http://digir.net/schema/protocol/2003/1.0</value>
							<value>http://digir.net/schema/conceptual/darwin/2003/1.0</value>
						</list>
					</entry>
				</map>
				<map>
					<entry key="DiGIR">
						<list>
							<value>http://digir.net/schema/protocol/2003/1.0</value>
							<value>http://digir.net/schema/conceptual/darwin/2003/1.0</value>
						</list>
					</entry>
				</map>
				<map>
					<entry key="TAPIR">
						<list>
							<!-- Todo... what about a TAPIR wrapper that wraps a non DwC dataset -->
							<value>http://rs.tdwg.org/tapir/1.0</value>
							<value>http://rs.tdwg.org/dwc/dwcore/</value>
							<value>http://rs.tdwg.org/dwc/geospatial/</value>
							<value>http://rs.tdwg.org/dwc/curatorial/</value>
						</list>
					</entry>
				</map>
			</list>
		</property>
	</bean>
</beans>