<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans SYSTEM "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<!-- An abstract definition ready for using in workflows -->
	<bean abstract="true" id="abstractIPNIRecordPreprocessingActivity"
		class="org.gbif.portal.harvest.workflow.activity.ipni.IPNIRecordPreprocessingActivity">
		<property name="contextKeyName" value="RECORD:Name"/>
		<property name="contextKeyFamily" value="RECORD:Family"/>
	</bean>
</beans>