<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans SYSTEM "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<!-- IF 0.1 Data -->
	<bean id="propertyStore:namespace:INDEX_FUNGORUM:0.1" class="org.gbif.portal.util.propertystore.impl.spring.PropertyBag">
		<!-- The namespace that the PropertyStore will key this bag on -->
		<property name="namespace" value="http://www.indexfungorum.org/0.1"/>
	</bean>
	
	<!-- The IF data load -->
	<bean id="INDEX_FUNGORUM:0.1:dataLoad" parent="abstractWorkflow">
		<property name="activities">
			<list>
				<bean parent="abstractDataProviderFromContextSynchroniserActivity"/>
				<bean parent="abstractDataResourceFromContextSynchroniserActivity"/>								
				<bean parent="abstractMultipleTabFileIteratorActivity">
					<property name="seedDataContextKeys">
						<list>
							<value>dataProviderId</value>
							<value>dataResourceId</value>
							<value>taxonomicPriority</value>
							<value>kingdom</value>
							<value>RECORD:LSID</value>
							<value>RECORD:LSID</value>
							<value>RECORD:Id</value>
							<value>RECORD:Version</value>
							<value>RECORD:Family</value>
							<value>RECORD:Name</value>
							<value>RECORD:Author</value>
							<value>RECORD:OutputDate</value>									
						</list>
					</property>
					<property name="workflow">
						<bean parent="abstractWorkflow">
							<property name="activities">
								<list>	
									<bean parent="abstractTaxonNameToClassificationActivity">
										<property name="contextKeyName" value="kingdom"/>
										<property name="parser" ref="kingdomParser"/>
									</bean>
									<bean parent="abstractTaxonNameToClassificationActivity">
										<property name="contextKeyName" value="RECORD:Family"/>
										<property name="parser" ref="familyParser"/>
									</bean>
									<!-- Genus Parser 
										 This will just get the genus-->
									<!--bean parent="abstractTaxonNameToClassificationActivity">
										<property name="contextKeyName" value="RECORD:Name"/>
										<property name="parser">
											<bean class="org.gbif.portal.harvest.taxonomy.ScientificNameParser">
											<property name="taxonNameDAO" ref="taxonNameDAO"/>
											<property name="gbifLogUtils" ref="gbifLogUtils"/>
											<property name="defaultParsedRank" value="6000"/>
											<property name="orderedRegularExpresionsMapping">
													<list>
														<bean parent="genericExtractor"/>
													</list>													
												</property>												
											</bean>
										</property>
									</bean-->
									<!-- Scientific Name -->
									<bean parent="abstractTaxonNameToClassificationActivity">
										<property name="contextKeyName" value="RECORD:Name"/>
										<property name="contextKeyAuthor" value="RECORD:Author"/>
										<property name="parser" ref="scientificNameParser"/>
									</bean>
									<!-- deduce the genus -->
									<bean parent="abstractGenusInClassificationCheckActivity"/>
									<!-- deduce a species if needed (e.g. it is a subspecies) -->
									<bean parent="abstractSpeciesInClassificationCheckActivity"/>
									<!--bean parent="abstractClassificationLoggerActivity"/-->
									<bean parent="abstractClassificationSynchroniserActivity">
										<property name="removeUnwantedNames" value="true"/>
									</bean>
								</list>
							</property>
						</bean>
					</property>					
				</bean>
				<bean parent="abstractResourceClassificationDenormaliserActivity"/>
			</list>
		</property>
	</bean>
</beans>