h2.leftIcon {
 background: transparent url(images/dataIcon.gif) no-repeat;
}

th {
 background-color: #c0eaff;
 border-top: 1px solid #e4f6ff;
 border-left: 1px solid #e4f6ff;
 border-bottom: 1px solid #a2c5d7;
 border-right: 1px solid #a2c5d7;
}

div.provider, div.resource, div.occurrence {
 border-left: 1px dashed #e4f6ff
}