<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">

  <!-- Read only DAO Layer for Service Layer -->
	
  <!-- BaseDAO Bean-->
  <bean id="baseDAORO" abstract="true">
	<property name="sessionFactory" ref="sessionFactory"/>
  </bean>
  <bean id="baseHarvestingDAORO" abstract="true">
	<property name="sessionFactory" ref="harvestingSessionFactory"/>
  </bean>
  
  <!--  JDBC DAO Implementations  -->
  <bean id="hostCountryTagDAO" class="org.gbif.portal.dao.tag.impl.jdbc.HostCountryTagDAOImpl">
    <property name="dataSource" ref="dataSource"/>
  </bean>
  <bean id="hostCountryKingdomBasisTagDAO" class="org.gbif.portal.dao.tag.impl.jdbc.HostCountryTagDAOImpl">
    <property name="dataSource" ref="dataSource"/>
  </bean>
  <bean id="dataResourceTagDAO" class="org.gbif.portal.dao.tag.impl.jdbc.DataResourceTagDAOImpl">
    <property name="dataSource" ref="dataSource"/>
  </bean>  
	
  <!-- Hibernate DAO Implementations -->
  <bean id="taxonNameDAORO" class="org.gbif.portal.dao.taxonomy.impl.hibernate.TaxonNameDAOImpl" parent="baseDAORO"/>
  <bean id="harvestingTaxonNameDAORO" class="org.gbif.portal.dao.taxonomy.impl.hibernate.TaxonNameDAOImpl" parent="baseHarvestingDAORO"/>
  
  <bean id="commonNameDAORO" class="org.gbif.portal.dao.taxonomy.impl.hibernate.CommonNameDAOImpl" parent="baseDAORO"/>
  <bean id="harvestingCommonNameDAORO" class="org.gbif.portal.dao.taxonomy.impl.hibernate.CommonNameDAOImpl" parent="baseHarvestingDAORO"/>
  
  <bean id="relationshipAssertionDAORO" class="org.gbif.portal.dao.taxonomy.impl.hibernate.RelationshipAssertionDAOImpl" parent="baseDAORO"/>
  <bean id="harvestingRelationshipAssertionDAORO" class="org.gbif.portal.dao.taxonomy.impl.hibernate.RelationshipAssertionDAOImpl" parent="baseHarvestingDAORO"/>
  
  <bean id="taxonConceptDAORO" class="org.gbif.portal.dao.taxonomy.impl.hibernate.TaxonConceptDAOImpl" parent="baseDAORO"/>
  <bean id="harvestingTaxonConceptDAORO" class="org.gbif.portal.dao.taxonomy.impl.hibernate.TaxonConceptDAOImpl" parent="baseHarvestingDAORO"/>
  
  <bean id="remoteConceptDAORO" class="org.gbif.portal.dao.taxonomy.impl.hibernate.RemoteConceptDAOImpl" parent="baseDAORO"/>
  <bean id="harvestingRemoteConceptDAORO" class="org.gbif.portal.dao.taxonomy.impl.hibernate.RemoteConceptDAOImpl" parent="baseHarvestingDAORO"/>
  
  <!-- Data Resource -->
  <bean id="dataResourceDAORO" class="org.gbif.portal.dao.resources.impl.hibernate.DataResourceDAOImpl" parent="baseDAORO">
	<property name="resourceNamePrefixes">
		<list>
			<value>The</value>
			<value>University of</value>
			<value>Univ.</value>
			<value>Univ. of</value>
		</list>
	</property>
  </bean>	
  <bean id="harvestingDataResourceDAORO" class="org.gbif.portal.dao.resources.impl.hibernate.DataResourceDAOImpl" parent="baseHarvestingDAORO">
    <property name="resourceNamePrefixes">
      <list>
        <value>The</value>
        <value>University of</value>
        <value>Univ.</value>
        <value>Univ. of</value>
      </list>
    </property>
  </bean> 
	
	<!-- Data Provider -->
  <bean id="dataProviderDAORO" class="org.gbif.portal.dao.resources.impl.hibernate.DataProviderDAOImpl" parent="baseDAORO"/>
  <bean id="harvestingDataProviderDAORO" class="org.gbif.portal.dao.resources.impl.hibernate.DataProviderDAOImpl" parent="baseHarvestingDAORO"/>
  
  <!-- Resource network -->
  <bean id="resourceNetworkDAORO" class="org.gbif.portal.dao.resources.impl.hibernate.ResourceNetworkDAOImpl" parent="baseDAORO"/>
  <bean id="harvestingResourceNetworkDAORO" class="org.gbif.portal.dao.resources.impl.hibernate.ResourceNetworkDAOImpl" parent="baseHarvestingDAORO"/>
  
  <!-- Resource Access Point -->
  <bean id="resourceAccessPointDAORO" class="org.gbif.portal.dao.resources.impl.hibernate.ResourceAccessPointDAOImpl" parent="baseDAORO"/>
  <bean id="harvestingResourceAccessPointDAORO" class="org.gbif.portal.dao.resources.impl.hibernate.ResourceAccessPointDAOImpl" parent="baseHarvestingDAORO"/>  
  
  <!-- Property Store Namespace -->
  <bean id="propertyStoreNamespaceDAORO" class="org.gbif.portal.dao.resources.impl.hibernate.PropertyStoreNamespaceDAOImpl" parent="baseDAORO"/>
  <bean id="harvestingPropertyStoreNamespaceDAORO" class="org.gbif.portal.dao.resources.impl.hibernate.PropertyStoreNamespaceDAOImpl" parent="baseHarvestingDAORO"/>
  
  <bean id="agentDAORO" class="org.gbif.portal.dao.resources.impl.hibernate.AgentDAOImpl" parent="baseDAORO"/>
  <bean id="harvestingAgentDAORO" class="org.gbif.portal.dao.resources.impl.hibernate.AgentDAOImpl" parent="baseHarvestingDAORO"/>
  
  <bean id="simpleQueryDAO" class="org.gbif.portal.dao.impl.hibernate.SimpleQueryDAOImpl" parent="baseDAORO"/>
  
  <!-- Used for occurrence queries requiring detailed occurrence info-->
  <bean id="simpleOccurrenceQueryDAO" class="org.gbif.portal.dao.impl.hibernate.SimpleQueryDAOImpl" parent="baseDAORO">
	<property name="associationTraverser">
		<bean class="org.gbif.portal.dao.occurrence.OccurrenceGeoreferenceTraverser"/>
	</property>
  </bean>
  
  <!-- Used for occurrence queries requiring full detailed occurrence info (including Raw Occurrence Record details) -->
  <bean id="simpleFullOccurrenceQueryDAO" class="org.gbif.portal.dao.impl.hibernate.SimpleQueryDAOImpl" parent="baseDAORO">
	<property name="associationTraverser">
		<bean class="org.gbif.portal.dao.occurrence.OccurrenceAssociationTraverser">
		   <property name="imageRecordDAO" ref="imageRecordDAORO"/>	
		   <property name="typificationRecordDAO" ref="typificationRecordDAORO"/>	
		   <property name="identifierRecordDAO" ref="identifierRecordDAORO"/>									
		</bean>
	</property>
  </bean>
  <!-- Used for occurrence queries requiring full detailed taxonomic info only -->	
  <bean id="simpleTaxonOccurrenceQueryDAO" class="org.gbif.portal.dao.impl.hibernate.SimpleQueryDAOImpl" parent="baseDAORO">
  	<property name="associationTraverser">
  		<bean class="org.gbif.portal.dao.occurrence.OccurrenceTaxonTraverser"/>
  	</property>
  </bean>	
  <!-- Used for taxonomic queries -->	
  <bean id="simpleTaxonomyQueryDAO" class="org.gbif.portal.dao.impl.hibernate.SimpleQueryDAOImpl" parent="baseDAORO">
  	<property name="associationTraverser">
  		<bean class="org.gbif.portal.dao.taxonomy.TaxonConceptAssociationTraverser"/>
  	</property>
  </bean>					

  <bean id="occurrenceRecordDAORO" class="org.gbif.portal.dao.occurrence.impl.hibernate.OccurrenceRecordDAOImpl" parent="baseDAORO"/>
  <bean id="harvestingOccurrenceRecordDAORO" class="org.gbif.portal.dao.occurrence.impl.hibernate.OccurrenceRecordDAOImpl" parent="baseHarvestingDAORO"/>
  
  <bean id="rawOccurrenceRecordDAORO" class="org.gbif.portal.dao.occurrence.impl.hibernate.RawOccurrenceRecordDAOImpl" parent="baseDAORO"/>
  <bean id="harvestingRawOccurrenceRecordDAORO" class="org.gbif.portal.dao.occurrence.impl.hibernate.RawOccurrenceRecordDAOImpl" parent="baseHarvestingDAORO"/>
  
  <bean id="cellDensityDAORO" class="org.gbif.portal.dao.geospatial.impl.hibernate.CellDensityDAOImpl" parent="baseDAORO"/>
  <bean id="harvestingCellDensityDAORO" class="org.gbif.portal.dao.geospatial.impl.hibernate.CellDensityDAOImpl" parent="baseHarvestingDAORO"/>
  
  <bean id="centiCellDensityDAORO" class="org.gbif.portal.dao.geospatial.impl.hibernate.CentiCellDensityDAOImpl" parent="baseDAORO"/>
  <bean id="harvestingCentiCellDensityDAORO" class="org.gbif.portal.dao.geospatial.impl.hibernate.CentiCellDensityDAOImpl" parent="baseHarvestingDAORO"/>
  
  <bean id="countryDAORO" class="org.gbif.portal.dao.geospatial.impl.hibernate.CountryDAOImpl" parent="baseDAORO">
  	<property name="supportedLocales">
  		<list>
  			<value>en</value>
  			<!-- ko not working properly with korean -->
  			<!--  value>ko</value-->
  		</list>
  	</property>
	<property name="characterIsoCodeMap">
		<map>
			<entry key="T">
				<list>
					<value>TW</value>
				</list>
			</entry>
			<entry key="V">
				<list>
					<value>VA</value>
				</list>
			</entry>				
		</map>
	</property>
  </bean>	
  
  <bean id="geoRegionDAORO" class="org.gbif.portal.dao.geospatial.impl.hibernate.GeoRegionDAOImpl" parent="baseDAORO"/>
  <bean id="harvestingCountryDAORO" class="org.gbif.portal.dao.geospatial.impl.hibernate.CountryDAOImpl" parent="baseHarvestingDAORO">
    <property name="supportedLocales">
      <list>
        <value>en</value>
        <!-- ko not working properly with korean -->
        <!--  value>ko</value-->
      </list>
    </property>
    <property name="characterIsoCodeMap">
      <map>
        <entry key="T">
          <list>
            <value>TW</value>
          </list>
        </entry>
        <entry key="V">
          <list>
            <value>VA</value>
          </list>
        </entry>        
      </map>
    </property>
  </bean> 	
	
  <bean id="imageRecordDAORO" class="org.gbif.portal.dao.occurrence.impl.hibernate.ImageRecordDAOImpl" parent="baseDAORO"/>
  <bean id="harvestingImageRecordDAORO" class="org.gbif.portal.dao.occurrence.impl.hibernate.ImageRecordDAOImpl" parent="baseHarvestingDAORO"/>
  
  <bean id="linkRecordDAORO" class="org.gbif.portal.dao.occurrence.impl.hibernate.LinkRecordDAOImpl" parent="baseDAORO"/>
  <bean id="harvestingLinkRecordDAORO" class="org.gbif.portal.dao.occurrence.impl.hibernate.LinkRecordDAOImpl" parent="baseHarvestingDAORO"/>
  
  <bean id="identifierRecordDAORO" class="org.gbif.portal.dao.occurrence.impl.hibernate.IdentifierRecordDAOImpl" parent="baseDAORO"/>
  <bean id="harvestingIdentifierRecordDAORO" class="org.gbif.portal.dao.occurrence.impl.hibernate.IdentifierRecordDAOImpl" parent="baseHarvestingDAORO"/>
  
  <bean id="typificationRecordDAORO" class="org.gbif.portal.dao.occurrence.impl.hibernate.TypificationRecordDAOImpl" parent="baseDAORO"/>
  <bean id="harvestingTypificationRecordDAORO" class="org.gbif.portal.dao.occurrence.impl.hibernate.TypificationRecordDAOImpl" parent="baseHarvestingDAORO"/>
  
  <bean id="logMessageDAORO" class="org.gbif.portal.dao.log.impl.hibernate.LogMessageDAOImpl" parent="baseDAORO"/>
  <!-- A DAO pointing to harvesting database -->
  <bean id="harvestingLogMessageDAORO" class="org.gbif.portal.dao.log.impl.hibernate.LogMessageDAOImpl" parent="baseHarvestingDAORO"/>
  
  <!-- The Raw Log Message -->
  <bean id="userDAORO" class="org.gbif.portal.dao.log.impl.hibernate.UserDAOImpl" parent="baseDAORO"/>			

  <!-- Registration login DAO - not readonly -->
  <bean id="registrationLoginDAO" class="org.gbif.portal.dao.registry.impl.hibernate.RegistrationLoginDAOImpl" parent="baseDAORO"/>				
  
  <!-- Note that this has a special DAO -->
  <bean id="gbifLogMessageDAO" class="org.gbif.portal.util.log.impl.GbifLogMessageDAOImpl">
  	<property name="dataSource" ref="logDataSource"/>
  </bean>
  <!-- Now override any previously configured DAO in a GBIF logging appender -->
  <bean id="gbifAppenderDaoOverride" class="org.gbif.portal.util.log.GbifAppenderDaoOverride">
  	<property name="gbifLogMessageDAO" ref="gbifLogMessageDAO"/>
  </bean>
</beans>