<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans SYSTEM "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<!-- Catalogue of Life 2007 Data -->
	<bean id="propertyStore:namespace:COL:2007" class="org.gbif.portal.util.propertystore.impl.spring.PropertyBag">
		<!-- The namespace that the PropertyStore will key this bag on -->
		<property name="namespace" value="http://www.catalogueoflife.org/2007"/>
	</bean>

	<!-- load in the kingdoms -->
	<bean id="colTaxaCreator" abstract="true" class="org.gbif.portal.harvest.workflow.activity.col.TaxaCreator">
		<property name="contextKeyMappedIds" value="mappedIds"/>
		<property name="contextKeyNameCodes" value="nameCodes"/>	
		<property name="contextKeyResourceIds" value="resourceIds"/>
		<property name="contextKeyDataProviderId" value="dataProviderId"/>			
		<property name="taxonConceptDAO" ref="taxonConceptDAO"/>
		<property name="remoteConceptDAO" ref="remoteConceptDAO"/>
		<property name="relationshipAssertionDAO" ref="relationshipAssertionDAO"/>		
		<property name="contextKeyRAMap" value="raMap"/>
	</bean>
	
		
	<!-- The COL data load 
		 This is a wacky little plan to follow Donalds lead and put this all in a hashmap :o)
		 Why?  COL has a taxa table offering the full taxonomy as a tree - why denormalise this and then try and create a new tree?
		 Let's try and just copy the tree as it stands... You'll need at least a gig (-Xmx1024m) to run this, if not more -->
	<bean id="COL:2007:dataLoad" parent="abstractWorkflow">
		<property name="activities">
			<list>
				<!-- Ensure that the data provider is available 
					 This will create or update the data provider.
					 The ID of the provider is stored in the context -->
				<bean class="org.gbif.portal.harvest.workflow.activity.provider.DataProviderFromValuesSynchroniserActivity">
					<property name="dataProviderDAO" ref="dataProviderDAO"/>
					<property name="name" value="Catalogue of Life: 2007 Annual Checklist"/>
					<property name="description" value="The Species 2000 &amp; ITIS Catalogue of Life is planned to become a comprehensive catalogue of all known species of organisms on Earth by the year 2011."/>
					<property name="address" value="Species 2000 Secretariat,Plant Science Laboratories,The University of Reading,Reading RG6 6AS, UK "/>
					<property name="websiteUrl" value="http://www.catalogueoflife.org"/>
					<!-- Best image I can find on the site... please confirm correct image TODO -->
					<property name="logoUrl" value="http://www.catalogueoflife.org/images/2007_checklist_cd_front_cover.jpg"/>
					<property name="email" value="sp2000@sp2000.org"/>
					<property name="telephone" value="+44 118 378 6466"/>
					<property name="contextKeyDataProviderId" value="dataProviderId"/>					
				</bean>
				
				<!-- Load in the data resources from the file 
					 This will create/update a resource for each "Database" served by COL
					 Additionally, there is a resource created to hold the concepts that are served by multiple 
					 "Databases" - e.g. Animalia is served by many of the COL "Databases", so this is placed in the 
					 seperate resource.
					 A hashmap of the Resource ID, and the databaseID is constructed and placed into the context, so that when 
					 the taxonomy is loaded, the pointers back to the database id are maintained -->
				<bean class="org.gbif.portal.harvest.workflow.activity.col.ResourcesFromFileSynchroniserActivity">
					<property name="fileUrl" value="c:/temp/col2007/databases.txt"/>
					<property name="contextKeyResourceIds" value="resourceIds"/>
					<property name="contextKeyProviderId" value="dataProviderId"/>
					<property name="dataResourceDAO" ref="dataResourceDAO"/>					
				</bean>
				
				<!-- load in the ranks in order -->
				<!-- This was ordered but circular dependences meant that all RAs are done later  -->
				<bean parent="colTaxaCreator">
					<property name="fileUrl" value="c:/temp/col2007/kingdoms.txt"/>
				</bean>
				<bean parent="colTaxaCreator">
					<property name="fileUrl" value="c:/temp/col2007/phyla.txt"/>
				</bean>
				<bean parent="colTaxaCreator">
					<property name="fileUrl" value="c:/temp/col2007/classes.txt"/>
				</bean>
				<bean parent="colTaxaCreator">
					<property name="fileUrl" value="c:/temp/col2007/orders.txt"/>
				</bean>
				<bean parent="colTaxaCreator">
					<property name="fileUrl" value="c:/temp/col2007/superfamilies.txt"/>
				</bean>
				<bean parent="colTaxaCreator">
					<property name="fileUrl" value="c:/temp/col2007/families.txt"/>
				</bean>
				<bean parent="colTaxaCreator">
					<property name="fileUrl" value="c:/temp/col2007/genera.txt"/>
				</bean>
				<bean parent="colTaxaCreator">
					<property name="fileUrl" value="c:/temp/col2007/species.txt"/>
				</bean>
				<bean parent="colTaxaCreator">
					<property name="fileUrl" value="c:/temp/col2007/infraspecies.txt"/>
				</bean>				
				<bean class="org.gbif.portal.harvest.workflow.activity.col.RelationshipCreator">
					<property name="contextKeyRAMap" value="raMap"/>
					<property name="contextKeyNameCodes" value="nameCodes"/>					
					<property name="relationshipAssertionDAO" ref="relationshipAssertionDAO"/>					
				</bean>	
				<bean class="org.gbif.portal.harvest.workflow.activity.col.CommonNamesCreatorActivity">
					<property name="fileUrl" value="c:/temp/col2007/commonNames.txt"/>
					<property name="contextKeyNameCodes" value="nameCodes"/>					
					<property name="contextKeyDataProviderId" value="dataProviderId"/>			
					<property name="taxonConceptDAO" ref="taxonConceptDAO"/>
					<property name="commonNameDAO" ref="commonNameDAO"/>
					<property name="languageMap">
						<map>
							<entry key="AFAR" value="AA"/>
							<entry key="ABKHAZ" value="AB"/>
							<entry key="AVESTAN" value="AE"/>
							<entry key="AFRIKAANS" value="AF"/>
							<entry key="AKAN" value="AK"/>
							<entry key="AMHARIC" value="AM"/>
							<entry key="ARAGONESE" value="AN"/>
							<entry key="ARABIC" value="AR"/>
							<entry key="ASSAMESE" value="AS"/>
							<entry key="AVARIC" value="AV"/>
							<entry key="AYMARA" value="AY"/>
							<entry key="AZERBAIJANI" value="AZ"/>
							<entry key="BASHKIR" value="BA"/>
							<entry key="BELARUSIAN" value="BE"/>
							<entry key="BULGARIAN" value="BG"/>
							<entry key="BIHARI" value="BH"/>
							<entry key="BISLAMA" value="BI"/>
							<entry key="BAMBARA" value="BM"/>
							<entry key="BENGALI" value="BN"/>
							<entry key="TIBETAN" value="BO"/>
							<entry key="BRETON" value="BR"/>
							<entry key="BOSNIAN" value="BS"/>
							<entry key="CATALAN;VALENCIAN" value="CA"/>
							<entry key="CHECHEN" value="CE"/>
							<entry key="CHAMORRO" value="CH"/>
							<entry key="CORSICAN" value="CO"/>
							<entry key="CREE" value="CR"/>
							<entry key="CZECH" value="CS"/>
							<entry key="CHURCHSLAVONIC;CHURCHSLAVIC;" value="CU"/>
							<entry key="CHUVASH" value="CV"/>
							<entry key="WELSH" value="CY"/>
							<entry key="DANISH" value="DA"/>
							<entry key="GERMAN" value="DE"/>
							<entry key="DIVEHI;DHIVEHI;MALDIVIAN" value="DV"/>
							<entry key="DZONGKHA" value="DZ"/>
							<entry key="EWE" value="EE"/>
							<entry key="GREEK,MODERN(1453–)" value="EL"/>
							<entry key="ENGLISH" value="EN"/>
							<entry key="ESPERANTO" value="EO"/>
							<entry key="SPANISH;CASTILIAN" value="ES"/>
							<entry key="ESTONIAN" value="ET"/>
							<entry key="BASQUE" value="EU"/>
							<entry key="PERSIAN" value="FA"/>
							<entry key="FULAH" value="FF"/>
							<entry key="FINNISH" value="FI"/>
							<entry key="FIJIAN" value="FJ"/>
							<entry key="FAROESE" value="FO"/>
							<entry key="FRENCH" value="FR"/>
							<entry key="FRISIAN,WESTERN" value="FY"/>
							<entry key="IRISH" value="GA"/>
							<entry key="SCOTTISHGAELIC;GAELIC" value="GD"/>
							<entry key="GALICIAN" value="GL"/>
							<entry key="GUARANI" value="GN"/>
							<entry key="GUJARATI" value="GU"/>
							<entry key="MANX" value="GV"/>
							<entry key="HAUSA" value="HA"/>
							<entry key="HEBREW" value="HE"/>
							<entry key="HINDI" value="HI"/>
							<entry key="HIRIMOTU" value="HO"/>
							<entry key="CROATIAN" value="HR"/>
							<entry key="HAITIANCREOLE;HAITIAN" value="HT"/>
							<entry key="HUNGARIAN" value="HU"/>
							<entry key="ARMENIAN" value="HY"/>
							<entry key="HERERO" value="HZ"/>
							<entry key="INTERLINGUA(INTERNATIONALAUXILIARYLANGUAGEASSOCIATION)" value="IA"/>
							<entry key="INDONESIAN" value="ID"/>
							<entry key="INTERLINGUE" value="IE"/>
							<entry key="IGBO" value="IG"/>
							<entry key="SICHUANYI" value="II"/>
							<entry key="INUPIAQ" value="IK"/>
							<entry key="IDO" value="IO"/>
							<entry key="ICELANDIC" value="IS"/>
							<entry key="ITALIAN" value="IT"/>
							<entry key="INUKTITUT" value="IU"/>
							<entry key="JAPANESE" value="JA"/>
							<entry key="JAVANESE" value="JV"/>
							<entry key="GEORGIAN" value="KA"/>
							<entry key="KONGO" value="KG"/>
							<entry key="KIKUYU" value="KI"/>
							<entry key="KUANYAMA;KWANYAMA" value="KJ"/>
							<entry key="KAZAKH" value="KK"/>
							<entry key="GREENLANDIC;KALAALLISUT" value="KL"/>
							<entry key="KHMER" value="KM"/>
							<entry key="KANNADA" value="KN"/>
							<entry key="KOREAN" value="KO"/>
							<entry key="KANURI" value="KR"/>
							<entry key="KASHMIRI" value="KS"/>
							<entry key="KURDISH" value="KU"/>
							<entry key="KOMI" value="KV"/>
							<entry key="CORNISH" value="KW"/>
							<entry key="KIRGHIZ" value="KY"/>
							<entry key="LATIN" value="LA"/>
							<entry key="LUXEMBOURGISH;LETZEBURGESCH" value="LB"/>
							<entry key="GANDA" value="LG"/>
							<entry key="LIMBURGISH;LIMBURGER;LIMBURGAN" value="LI"/>
							<entry key="LINGALA" value="LN"/>
							<entry key="LAO" value="LO"/>
							<entry key="LITHUANIAN" value="LT"/>
							<entry key="LUBA-KATANGA" value="LU"/>
							<entry key="LATVIAN" value="LV"/>
							<entry key="MALAGASY" value="MG"/>
							<entry key="MARSHALLESE" value="MH"/>
							<entry key="MAORI" value="MI"/>
							<entry key="MACEDONIAN" value="MK"/>
							<entry key="MALAYALAM" value="ML"/>
							<entry key="MONGOLIAN" value="MN"/>
							<entry key="MOLDAVIAN" value="MO"/>
							<entry key="MARATHI" value="MR"/>
							<entry key="MALAY" value="MS"/>
							<entry key="MALTESE" value="MT"/>
							<entry key="BURMESE" value="MY"/>
							<entry key="NAURUAN" value="NA"/>
							<entry key="NORWEGIANBOKMÅL" value="NB"/>
							<entry key="NDEBELE,NORTH" value="ND"/>
							<entry key="NEPALI" value="NE"/>
							<entry key="NDONGA" value="NG"/>
							<entry key="DUTCH;FLEMISH" value="NL"/>
							<entry key="NORWEGIANNYNORSK" value="NN"/>
							<entry key="NORWEGIAN" value="NO"/>
							<entry key="NDEBELE,SOUTH" value="NR"/>
							<entry key="NAVAJO;NAVAHO" value="NV"/>
							<entry key="CHICHEWA;CHEWA;NYANJA" value="NY"/>
							<entry key="OCCITAN(POST1500);PROVENÇAL" value="OC"/>
							<entry key="OJIBWA" value="OJ"/>
							<entry key="OROMO" value="OM"/>
							<entry key="ORIYA" value="OR"/>
							<entry key="OSSETIAN;OSSETIC" value="OS"/>
							<entry key="PUNJABI;PANJABI" value="PA"/>
							<entry key="PALI" value="PI"/>
							<entry key="POLISH" value="PL"/>
							<entry key="PUSHTO" value="PS"/>
							<entry key="PORTUGUESE" value="PT"/>
							<entry key="QUECHUA" value="QU"/>
							<entry key="RAETO-ROMANCE" value="RM"/>
							<entry key="RUNDI" value="RN"/>
							<entry key="ROMANIAN" value="RO"/>
							<entry key="RUSSIAN" value="RU"/>
							<entry key="KINYARWANDA" value="RW"/>
							<entry key="SANSKRIT" value="SA"/>
							<entry key="SARDINIAN" value="SC"/>
							<entry key="SINDHI" value="SD"/>
							<entry key="NORTHERNSAMI" value="SE"/>
							<entry key="SANGO" value="SG"/>
							<entry key="SINHALESE;SINHALA" value="SI"/>
							<entry key="SLOVAK" value="SK"/>
							<entry key="SLOVENIAN" value="SL"/>
							<entry key="SAMOAN" value="SM"/>
							<entry key="SHONA" value="SN"/>
							<entry key="SOMALI" value="SO"/>
							<entry key="ALBANIAN" value="SQ"/>
							<entry key="SERBIAN" value="SR"/>
							<entry key="SWATI" value="SS"/>
							<entry key="SOTHO,SOUTHERN" value="ST"/>
							<entry key="SUNDANESE" value="SU"/>
							<entry key="SWEDISH" value="SV"/>
							<entry key="SWAHILI" value="SW"/>
							<entry key="TAMIL" value="TA"/>
							<entry key="TELUGU" value="TE"/>
							<entry key="TAJIK" value="TG"/>
							<entry key="THAI" value="TH"/>
							<entry key="TIGRINYA" value="TI"/>
							<entry key="TURKMEN" value="TK"/>
							<entry key="TAGALOG" value="TL"/>
							<entry key="TSWANA" value="TN"/>
							<entry key="TONGAN" value="TO"/>
							<entry key="TURKISH" value="TR"/>
							<entry key="TSONGA" value="TS"/>
							<entry key="TATAR" value="TT"/>
							<entry key="TWI" value="TW"/>
							<entry key="TAHITIAN" value="TY"/>
							<entry key="UIGHUR;UYGHUR" value="UG"/>
							<entry key="UKRAINIAN" value="UK"/>
							<entry key="URDU" value="UR"/>
							<entry key="UZBEK" value="UZ"/>
							<entry key="VENDA" value="VE"/>
							<entry key="VIETNAMESE" value="VI"/>
							<entry key="VOLAPÜK" value="VO"/>
							<entry key="WALLOON" value="WA"/>
							<entry key="WOLOF" value="WO"/>
							<entry key="XHOSA" value="XH"/>
							<entry key="YIDDISH" value="YI"/>
							<entry key="YORUBA" value="YO"/>
							<entry key="ZHUANG;CHUANG" value="ZA"/>
							<entry key="CHINESE" value="ZH"/>
							<entry key="ZULU" value="ZU"/>							
						</map>
					</property>
				</bean>	
			</list>
		</property>
	</bean>
</beans>