<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans SYSTEM "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<!-- note that it is NOT a singleton -->
	<bean id="mapContext"
		class="org.gbif.portal.util.workflow.MapContext" singleton="false"/>
	
	<!-- An abstract definition ready for using in workflows -->
	<bean abstract="true" id="abstractSimpleRequestBuilderActivity"
		class="org.gbif.portal.harvest.workflow.activity.SimpleRequestBuilderActivity">
		<property name="templateUtils" ref="templateUtils"/>
		<property name="propertyStore" ref="indexPropertyStore"/>
		<property name="contextKeyRequest" value="requestToIssue"/>
		<property name="contextKeyPsNamespaces" value="psNamespaces"/>
		<property name="contextKeyURL" value="url"/>
		<property name="templateLocation" value="TO_BE_DEFINED"/>
	</bean>

	<!-- An abstract definition ready for using in workflows -->
	<bean abstract="true" id="abstractRequestIssueActivity"
		class="org.gbif.portal.harvest.workflow.activity.RequestIssueActivity">
		<property name="requestUtils" ref="requestUtils"/>
		<property name="propertyStore" ref="indexPropertyStore"/>
		<property name="messageUtils" ref="messageUtils"/>
		<property name="contextKeyURL" value="url"/>
		<property name="contextKeyPsNamespaces" value="psNamespaces"/>
		<property name="contextKeyRequest" value="requestToIssue"/>
		<property name="contextKeyResponse" value="responseMessage"/>
		<property name="propertyStoreKeyMessageFactory" value="MESSAGE.FACTORY"/>
	</bean>
	
	<!-- An abstract definition ready for using in workflows -->
	<bean abstract="true" id="abstractConceptListToContextActivity"
		class="org.gbif.portal.harvest.workflow.activity.ConceptListToContextActivity">
		<property name="messageUtils" ref="messageUtils"/>
		<property name="contextKeyMessage" value="responseMessage"/>
		<property name="contextKeyPsNamespaces" value="psNamespaces"/>
	</bean>

	<!-- A definition ready for using in workflows -->
	<bean id="messageLoggerActivity"
		class="org.gbif.portal.harvest.workflow.activity.MessageLoggerActivity">
		<property name="contextKeyMessage" value="responseMessage"/>
	</bean>
	
	<!-- An abstract definition ready for using in workflows -->
	<bean id="abstractSimplePagingActivity"
		class="org.gbif.portal.harvest.workflow.activity.SimplePagingActivity">
		<property name="contextKeyRecordsFinished" value="endOfRecords"/>	
		<!-- This is the HARD CODED limit to stop it looping more than 10 times
			 This is for setting up the beta test portal db -->
		<!--property name="contextKeyLoopCount" value="loopCount"/>					
		<property name="maximumLoopCountToPerform" value="10"/-->					
	</bean>
	
	<!-- An abstract definition ready for using in workflows -->
	<bean id="abstractQuartzJobToLaunchWorkflowCreatorActivity"
		class="org.gbif.portal.harvest.workflow.activity.QuartzJobToLaunchWorkflowCreatorActivity">
		<property name="scheduler" ref="scheduleFactoryBean"/>		
		<property name="contextKeyPsNamespaces" value="psNamespaces"/>
	</bean>
		
	<!-- An abstract definition ready for using in workflows -->
	<bean id="abstractGBIFQuartzJobToLaunchWorkflowCreatorActivity"
		class="org.gbif.portal.harvest.workflow.activity.QuartzJobToLaunchWorkflowCreatorActivity">
		<property name="scheduler" ref="scheduleFactoryBean"/>		
		<property name="propertyStoreNamespaces">
			<list>
				<value>http://www.gbif.org/portal/index/1.0</value>
			</list>
		</property>
	</bean>
	
	<!-- An abstract definition ready for using in workflows -->
	<bean id="abstractStartTimerActivity"
		class="org.gbif.portal.harvest.workflow.activity.StartTimerActivity">
		<property name="contextKeyTimerName" value="timer"/>
	</bean>
	
	<!-- An abstract definition ready for using in workflows -->
	<bean id="abstractIncrementCountActivity"
		class="org.gbif.portal.harvest.workflow.activity.IncrementCountActivity">	
		<property name="contextKeyErrorCount" value="errorCount"/>
	</bean>
	
	<!-- An abstract definition ready for using in workflows -->
	<bean abstract="true" id="abstractRawOccurrenceRecordSynchroniserActivity"
		class="org.gbif.portal.harvest.workflow.activity.RawOccurrenceRecordSynchroniserActivity">
		<property name="rawOccurrenceRecordDAO" ref="rawOccurrenceRecordDAO"/>
		<property name="imageRecordDAO" ref="imageRecordDAO"/>
		<property name="linkRecordDAO" ref="linkRecordDAO"/>
		<property name="identifierRecordDAO" ref="identifierRecordDAO"/>
		<property name="typificationRecordDAO" ref="typificationRecordDAO"/>
		<property name="gbifLogUtils" ref="gbifLogUtils"/>
		<property name="contextKeyAddedCount" value="recordAddedCount"/>
		<property name="contextKeyUpdatedCount" value="recordUpdatedCount"/>
		<property name="contextKeyDataProviderId" value="dataProviderId"/>
		<property name="contextKeyDataResourceId" value="dataResourceId"/>
		<property name="contextKeyResourceAccessPointId" value="resourceAccessPointId"/>
		<property name="contextKeyInstitutionCode" value="institutionCode"/>
		<property name="contextKeyCollectionCode" value="collectionCode"/>
		<property name="contextKeyCatalogueNumber" value="catalogueNumber"/>
		<property name="contextKeyUnitQualifier" value="unitQualifier"/>
		<property name="contextKeyIdentifications" value="identifications"/>
		<property name="contextKeyScientificName" value="scientificName"/>
		<property name="contextKeyAuthor" value="author"/>
		<property name="contextKeyRank" value="rank"/>
		<property name="contextKeyKingdom" value="kingdom"/>
		<property name="contextKeyPhylum" value="phylum"/>
		<property name="contextKeyClass" value="class"/>
		<property name="contextKeyOrder" value="order"/>
		<property name="contextKeyFamily" value="family"/>
		<property name="contextKeyGenus" value="genus"/>
		<property name="contextKeySpecies" value="species"/>
		<property name="contextKeyLatitude" value="latitude"/>
		<property name="contextKeyLongitude" value="longitude"/>
		<property name="contextKeyLatLongPrecision" value="latLongPrecision"/>
		<property name="contextKeyMinAltitude" value="minAltitude"/>
		<property name="contextKeyMaxAltitude" value="maxAltitude"/>
		<property name="contextKeyAltitudePrecision" value="altitudePrecision"/>
		<property name="contextKeyMinDepth" value="minDepth"/>
		<property name="contextKeyMaxDepth" value="maxDepth"/>
		<property name="contextKeyDepthPrecision" value="depthPrecision"/>
		<property name="contextKeyCountry" value="country"/>
		<property name="contextKeyStateOrProvince" value="stateOrProvince"/>
		<property name="contextKeyCounty" value="county"/>
		<property name="contextKeyCollectorName" value="collectorName"/>
		<property name="contextKeyLocality" value="locality"/>
		<property name="contextKeyYear" value="year"/>
		<property name="contextKeyMonth" value="month"/>
		<property name="contextKeyDay" value="day"/>
		<property name="contextKeyYearIdentified" value="yearIdentified"/>
		<property name="contextKeyMonthIdentified" value="monthIdentified"/>
		<property name="contextKeyDayIdentified" value="dayIdentified"/>
		<property name="contextKeyBasisOfRecord" value="basisOfRecord"/>
		<property name="contextKeyIdentifierName" value="identifierName"/>
		<property name="contextKeyDateIdentified" value="dateIdentified"/>
		<property name="contextKeyContinentOrOcean" value="continentOrOcean"/>
		<property name="contextKeyLinks" value="links"/>
		<property name="contextKeyTypifications" value="typifications"/>
		<property name="contextKeyImages" value="images"/>
		<property name="contextKeyGuid" value="guid"/>
		<property name="contextKeyFieldNumber" value="fieldNumber"/>
		<property name="contextKeyCollectorNumber" value="collectorNumber"/>
		<property name="contextKeyAccessionNumbers" value="accessionNumbers"/>
		<property name="contextKeySequenceNumbers" value="sequenceNumbers"/>
		<property name="contextKeyOtherCatalogNumbers" value="otherCatalogNumbers"/>
		<property name="excludedStatuses">
			<list>
				<value>, none</value>
				<value>, void</value>
				<value>.</value>
				<value>{ new }</value>
				<value>@ aff.</value>
				<value>├ä [hybr.]</value>
				<value>Accepted</value>
				<value>ALIZARIN SKELETON</value>
				<value>CARAPACE/PLASTRON</value>
				<value>CARAPACE&amp;PLASTRON</value>
				<value>FEB09</value>
				<value>HEAD &amp; NECK ONLY</value>
				<value>HEAD ONLY</value>
				<value>invalid</value>
				<value>locality</value>
				<value>N</value>
				<value>No</value>
				<value>non-type</value>
				<value>none</value>
				<value>none, none</value>
				<value>Not A Type</value>
				<value>Not Determined</value>
				<value>Original material</value>
				<value>Provisionaly accepted</value>
				<value>SKELETON</value>
				<value>SKELETON &amp; SPIRIT</value>
				<value>SKULL</value>
				<value>SKULL &amp; MANDIBLE</value>
				<value>SKULL &amp; SPIRIT</value>
				<value>STAINED SKELETON</value>
				<value>TADPOLE</value>
				<value>TEACHING COLL.</value>
				<value>unknown</value>
				<value>valid</value>
				<value>void</value>
				<value>Voucher</value>
				<value>Voucher spec.</value>
			</list>
		</property>
	</bean>
	
	<!-- An abstract definition ready for using in workflows -->
	<bean abstract="true" id="abstractRawOccurrenceRecordPagingActivity"
		class="org.gbif.portal.harvest.workflow.activity.RawOccurrenceRecordPagingActivity">
		<property name="rawOccurrenceRecordDAO" ref="rawOccurrenceRecordDAO"/>
		<property name="contextKeyRawOccurrenceRecord" value="rawOccurrenceRecord"/>
		<property name="contextKeyPageFrom" value="dateLastExtractStarted"/>
		<property name="contextKeyDataResourceId" value="dataResourceId"/>
	</bean>
	
	<!-- An abstract definition ready for using in workflows -->
	<bean abstract="true" id="abstractNamespaceMappingSynchroniserActivity"
		class="org.gbif.portal.harvest.workflow.activity.NamespaceMappingSynchroniserActivity">
		<property name="propertyStoreNamespaceDAO" ref="propertyStoreNamespaceDAO"/>
		<property name="contextKeyNamespaces" value="SUPPORTED.SCHEMAS"/>
		<property name="contextKeyResourceAccessPointId" value="resourceAccessPointId"/>
	</bean>
	
	<!-- An abstract definition ready for using in workflows -->
	<bean abstract="true" id="abstractDataResourceInContextCheckActivity"
		class="org.gbif.portal.harvest.workflow.activity.DataResourceInContextCheckActivity">
		<property name="dataResourceDAO" ref="dataResourceDAO"/>
		<property name="resourceAccessPointDAO" ref="resourceAccessPointDAO"/>
		<property name="propertyStoreNamespaceDAO" ref="propertyStoreNamespaceDAO"/>
		<property name="basisOfRecordMapping" ref="basisOfRecordMapping"/>		
		<property name="contextKeyDataResourceName" value="dataResourceName"/>
		<property name="contextKeyDataProviderId" value="dataProviderId"/>
		<property name="contextKeyDataResourceId" value="dataResourceId"/>
		<property name="contextKeyBasisOfRecord" value="basisOfRecord"/>		
		<property name="contextKeyDescription" value="description"/>
		<property name="contextKeyCitation" value="citation"/>
		<property name="contextKeyRights" value="rights"/>
		<property name="contextKeyLogoUrl" value="logoUrl"/>
		<property name="contextKeyWebsiteUrl" value="websiteUrl"/>
		<property name="contextKeyResourceAccessPointId" value="resourceAccessPointId"/>
		<property name="contextKeyCachedDataResourceMap" value="cachedDataResourceMap"/>
		<property name="contextKeyPsNamespaces" value="psNamespaces"/>
	</bean>	
	
	<!-- An abstract definition ready for using in workflows -->
	<bean abstract="true" id="abstractDataResourceSynchroniserActivity"
		class="org.gbif.portal.harvest.workflow.activity.DataResourceSynchroniserActivity">
		<property name="dataResourceDAO" ref="dataResourceDAO"/>
		<property name="resourceAccessPointDAO" ref="resourceAccessPointDAO"/>
		<property name="propertyStoreNamespaceDAO" ref="propertyStoreNamespaceDAO"/>
		<property name="basisOfRecordMapping" ref="basisOfRecordMapping"/>		
		<property name="contextKeyDataResourceName" value="dataResourceName"/>
		<property name="contextKeyDataProviderId" value="dataProviderId"/>
		<property name="contextKeyDataResourceId" value="dataResourceId"/>
		<property name="contextKeyResourceAccessPointId" value="resourceAccessPointId"/>
		<property name="contextKeyUrl" value="url"/>
		<property name="contextKeyRemoteIdentifier" value="remoteIdentifier"/>		
		<property name="contextKeyBasisOfRecord" value="basisOfRecord"/>		
		<property name="contextKeyDescription" value="description"/>
		<property name="contextKeyCitation" value="citation"/>
		<property name="contextKeyRights" value="rights"/>
		<property name="contextKeyLogoUrl" value="logoUrl"/>
		<property name="contextKeyWebsiteUrl" value="websiteUrl"/>
		<property name="contextKeyProviderRecordCount" value="providerRecordCount"/>
	</bean>	
	
	<!-- An abstract definition ready for using in workflows -->
	<bean abstract="true" id="abstractHarvestLaunchActivity"
		class="org.gbif.portal.harvest.workflow.activity.HarvestLaunchActivity">
		<property name="resourceAccessPointDAO" ref="resourceAccessPointDAO"/>
		<property name="contextKeyDataProviderId" value="dataProviderId"/>
		<property name="contextKeyDataResourceId" value="dataResourceId"/>
		<property name="contextKeyResourceAccessPointId" value="resourceAccessPointId"/>
		<property name="contextKeyPsNamespaces" value="psNamespaces"/>
		<property name="contextKeyRemoteIdentifier" value="remoteIdentifier"/>		
		<property name="contextKeyUrl" value="url"/>
		<property name="contextKeySupportsDateLastModified" value="supportsDateLastModified"/>		
		<property name="contextKeyDateLastHarvestStarted" value="dateLastHarvestStarted"/>		
		<property name="contextKeyDateLastExtractStarted" value="dateLastExtractStarted"/>		
        <property name="contextKeyCount" value="recordProcessedCount"/>		
        <property name="contextKeyAddedCount" value="recordAddedCount"/>    
        <property name="contextKeyUpdatedCount" value="recordUpdatedCount"/>    
	</bean>
	
	<!-- An abstract definition ready for using in workflows -->
	<bean abstract="true" id="abstractResourceAccessPointToMultipleActivity"
		class="org.gbif.portal.harvest.workflow.activity.ResourceAccessPointToMultipleActivity">
		<property name="resourceAccessPointDAO" ref="resourceAccessPointDAO"/>
		<property name="contextKeyResourceAccessPointId" value="resourceAccessPointId"/>
		<property name="contextKeyIdentifierList" value="identifierList"/>
	</bean>	
	
	<!-- An abstract definition ready for using in workflows -->
	<bean abstract="true" id="abstractConceptValueToNamespaceListActivity"
		class="org.gbif.portal.harvest.workflow.activity.ConceptValueToNamespaceListActivity">
		<property name="messageUtils" ref="messageUtils"/>
		<property name="contextKeyMessage" value="responseMessage"/>
		<property name="contextKeyPsNamespaces" value="psNamespaces"/>		
		<property name="propertyStoreKeyConcept" value="TO_BE_DEFINED"/>		
		<property name="mapping">
			<map>
				<entry key="MaNISDiGIR">
					<list>
						<value>http://digir.net/schema/protocol/2003/1.0</value>
						<value>http://digir.net/schema/conceptual/darwin/2003/1.0</value>
					</list>
				</entry>
				<entry key="DiGIR">
					<list>
						<value>http://digir.net/schema/protocol/2003/1.0</value>
						<value>http://digir.net/schema/conceptual/darwin/2003/1.0</value>
					</list>
				</entry>
			</map>
		</property>
	</bean>
	
	<!-- An abstract definition ready for using in workflows -->
	<bean abstract="true" id="abstractAddNamespaceListToPsNamespacesActivity"
		class="org.gbif.portal.harvest.workflow.activity.AddNamespaceListToPsNamespacesActivity">
		<property name="contextKeyPsNamespaces" value="psNamespaces"/>		
		<property name="contextKeyNamespaceList" value="psNamespaces"/>		
	</bean>
	
	<!-- An abstract definition ready for using in workflows -->
	<bean abstract="true" id="abstractResourceCodeFromTapirUrlActivity"
		class="org.gbif.portal.harvest.workflow.activity.ResourceCodeFromTapirUrlActivity">
		<property name="contextKeyResourceName" value="dataResourceName"/>		
		<property name="contextKeyResourceCode" value="resourceCode"/>		
		<property name="contextKeyUrl" value="url"/>		
	</bean>
	
	<!-- An abstract definition ready for using in workflows -->
	<bean abstract="true" id="abstractSelectTapirOutputModelActivity"
		class="org.gbif.portal.harvest.workflow.activity.SelectTapirOutputModelActivity">
		<property name="contextKeyPsNamespaces" value="psNamespaces"/>
		<property name="contextKeyOutputModel" value="outputModel"/>
		<property name="outputModelsForNamespaces">
			<map>
				<entry key="http://digir.net/schema/conceptual/darwin/2003/1.0" value="http://rs.tdwg.org/tapir/cs/dwc/1.0/model/dwc.xml"/>
				<entry key="http://rs.tdwg.org/dwc/dwcore/" value="http://rs.tdwg.org/tapir/cs/dwc/1.4/model/dw_core_geo_cur.xml"/>
				<entry key="http://www.tdwg.org/schemas/abcd/2.06" value="http://rs.tdwg.org/tapir/cs/abcd/2.06/model/abcd206.xml"/>
			</map>
		</property>
	</bean>
	
	<!-- An abstract definition ready for using in workflows -->
	<bean abstract="true" id="abstractPropertyStoreWorkflowLaunchActivity"
		class="org.gbif.portal.harvest.workflow.activity.PropertyStoreWorkflowLaunchActivity">
		<property name="propertyStore" ref="indexPropertyStore"/>
		<property name="contextKeyPsNamespaces" value="psNamespaces"/>
	</bean>		
	
	<!-- An abstract definition ready for using in workflows -->
	<bean abstract="true" id="abstractParseDateToContextActivity"
		class="org.gbif.portal.harvest.workflow.activity.ParseDateToContextActivity">
		<property name="contextKeyDate" value="date"/>
		<property name="contextKeyYear" value="year"/>
		<property name="contextKeyMonth" value="month"/>
		<property name="contextKeyDay" value="day"/>
	</bean>		
</beans>