<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans SYSTEM "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<!-- metadata error -->
	<bean id="metadataCommunicationErrorHandler" class="org.gbif.portal.util.workflow.errorhandler.ActivityLaunchErrorHandler">
		<property name="contextKeyExceptionName" value="exceptionName"/>
		<property name="errorActivityMapping">																							
			<map>
				<!-- request errors get scheduled for a minutes time -->
				<entry>
					<key>
						<idref bean="connectionExceptions"/>
					</key>
					<bean parent="rapMetadataScheduler">
						<property name="secondsFromNowToFire" value="60"/>
					</bean>
				</entry>
				<!-- bad response gets a redo in an hour -->
				<entry>
					<key>
						<idref bean="messageParseExceptions"/>
					</key>
					<bean parent="rapMetadataScheduler">
						<property name="secondsFromNowToFire" value="3600"/>
					</bean>
				</entry>
			</map>
		</property>												
	</bean>
		
	<!-- inventory error -->
	<bean id="inventoryCommunicationErrorHandler" class="org.gbif.portal.util.workflow.errorhandler.ActivityLaunchErrorHandler">
		<property name="contextKeyExceptionName" value="exceptionName"/>
		<property name="errorActivityMapping">																							
			<map>
				<!-- request errors get scheduled for a minutes time -->
				<entry>
					<key>
						<idref bean="connectionExceptions"/>
					</key>
					<bean parent="rapImmediateInventoryScheduler">
						<property name="secondsFromNowToFire" value="60"/>
					</bean>
				</entry>
				<!-- bad response gets a redo in an hour -->
				<entry>
					<key>
						<idref bean="messageParseExceptions"/>
					</key>
					<bean parent="rapImmediateInventoryScheduler">
						<property name="secondsFromNowToFire" value="3600"/>
					</bean>
				</entry>
			</map>
		</property>												
	</bean>
		
	<!-- harvest error -->
	<bean id="harvestCommunicationErrorHandler" class="org.gbif.portal.util.workflow.errorhandler.ActivityLaunchErrorHandler">
		<property name="contextKeyExceptionName" value="exceptionName"/>
		<property name="errorActivityMapping">																							
			<map>
				<!-- request errors get scheduled for a minutes time -->
				<entry>
					<key>
						<idref bean="connectionExceptions"/>
					</key>
					<bean parent="rapImmediateHarvestScheduler">
						<property name="secondsFromNowToFire" value="60"/>
					</bean>
				</entry>
				<!-- bad response gets an error increment (e.g. skipped page) -->
				<entry>
					<key>
						<idref bean="messageParseExceptions"/>
					</key>
					<bean parent="abstractIncrementCountActivity">
						<property name="contextKeyCount" value="recordProcessedCount"/>
						<property name="contextKeyFlagToSet" value="endOfRecords"/>
						<property name="flagValue" value="FALSE"/>
						<property name="incrementBy" value="1000"/>
						<property name="contextKeyErrorCount" value="unparsableResponseCount"/>
					</bean>
				</entry>
			</map>
		</property>												
	</bean>
	<bean id="harvestUnknownErrorHandler" class="org.gbif.portal.util.workflow.errorhandler.ActivityLaunchForUnmappedErrorHandler">
		<property name="contextKeyExceptionName" value="exceptionName"/>
		<property name="activity">																							
			<bean parent="rapImmediateHarvestScheduler">
				<property name="secondsFromNowToFire" value="3600"/>
			</bean>
		</property>												
	</bean>	

	
	<!-- The set of Exceptions that we interprate as a connection issue -->
	<bean id="connectionExceptions" class="org.springframework.beans.factory.config.SetFactoryBean">
		<property name="sourceSet">
			<set>
				<value>java.net.SocketTimeoutException</value>					
				<value>java.net.ConnectException</value>	
				<value>java.net.UnknownHostException</value>
				<value>java.net.NoRouteToHostException</value>
			</set>
		</property>
	</bean>
	
	<!-- The exceptions signalling message parse errors -->
	<bean id="messageParseExceptions" class="org.springframework.beans.factory.config.SetFactoryBean">
		<property name="sourceSet">
			<set>
				<value>org.gbif.portal.util.mhf.message.MessageParseException</value>					
			</set>
		</property>
	</bean>

	<!-- logging error handler -->	
	<bean id="logErrorHandler"
		class="org.gbif.portal.util.workflow.errorhandler.LogErrorHandler"/>
	
	<!-- non stopping logging error handler (non fatal exception logging) -->	
	<bean id="nonStoppingLogErrorHandler"
		class="org.gbif.portal.util.workflow.errorhandler.LogErrorHandler">
		<property name="shouldStopOnError" value="false"/>
	</bean>
	
	
	
	
</beans>