<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans SYSTEM "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<!-- An abstract definition ready for using in workflows -->
	<bean abstract="true" id="abstractOccurrenceRecordSynchroniserActivity"
		class="org.gbif.portal.harvest.workflow.activity.occurrence.OccurrenceRecordSynchroniserActivity">
		<property name="occurrenceRecordDAO" ref="occurrenceRecordDAO"/>
		<property name="dataResourceDAO" ref="dataResourceDAO"/>
		<property name="cellCountryDAO" ref="cellCountryDAO"/>
		<property name="countryDAO" ref="countryDAO"/>
		<property name="imageRecordDAO" ref="imageRecordDAO"/>
		<property name="identifierRecordDAO" ref="identifierRecordDAO"/>
		<property name="linkRecordDAO" ref="linkRecordDAO"/>
		<property name="typificationRecordDAO" ref="typificationRecordDAO"/>
		<property name="taxonNameDAO" ref="taxonNameDAO"/>
		<property name="institutionCodeDAO" ref="institutionCodeDAO"/>
		<property name="collectionCodeDAO" ref="collectionCodeDAO"/>
		<property name="catalogueNumberDAO" ref="catalogueNumberDAO"/>
		<property name="contextKeyRawOccurrenceRecord" value="rawOccurrenceRecord"/>
		<property name="contextKeyTaxonConceptId" value="taxonConceptId"/>
		<property name="contextKeyTaxonNameId" value="taxonNameId"/>
		<property name="contextKeyLogGroup" value="logGroup"/>
		<property name="gbifLogUtils" ref="gbifLogUtils"/>
		<property name="basisOfRecordMapping" ref="basisOfRecordMapping"/>
		<property name="imageTypeMapping" ref="imageTypeMapping"/>
		<property name="scientificNameParser" ref="scientificNameParser"/>
		<!-- TODO use spring merging here to merge the maps in multiple countries into a single map -->
		<property name="isoCountryCodeMap" ref="isoCountryCodeMap_EN"/>
	</bean>

	<!-- An abstract definition ready for using in workflows -->
	<bean abstract="true" id="abstractRawOccurrenceRecordValuesToContextActivity"
		class="org.gbif.portal.harvest.workflow.activity.occurrence.RawOccurrenceRecordValuesToContextActivity">
		<property name="contextKeyRawOccurrenceRecord" value="rawOccurrenceRecord"/>
		<property name="contextKeyScientificName" value="scientificName"/>
		<property name="contextKeyAuthor" value="author"/>
		<property name="contextKeyRank" value="rank"/>
		<property name="contextKeyKingdom" value="kingdom"/>
		<property name="contextKeyPhylum" value="phylum"/>
		<property name="contextKeyClass" value="class"/>
		<property name="contextKeyOrder" value="order"/>
		<property name="contextKeyFamily" value="family"/>
		<property name="contextKeyGenus" value="genus"/>
		<property name="contextKeySpecies" value="species"/>
		<property name="contextKeySubspecies" value="subspecies"/>
		<property name="contextKeyDataProviderId" value="dataProviderId"/>
		<property name="contextKeyDataResourceId" value="dataResourceId"/>
	</bean>
	
	<!-- An abstract definition ready for using in workflows -->
	<bean abstract="true" id="abstractDataResourceInRORPagingActivity"
		class="org.gbif.portal.harvest.workflow.activity.occurrence.DataResourceInRORPagingActivity">
		<property name="contextKeyResourceAccessPointId" value="resourceAccessPointId"/>
		<property name="contextKeyDataResourceId" value="dataResourceId"/>
		<property name="rawOccurrenceRecordDAO" ref="rawOccurrenceRecordDAO"/>		
	</bean>
	
	
	<bean abstract="true" id="abstractDeleteOccurrenceExtractMessages"
		class="org.gbif.portal.harvest.workflow.activity.occurrence.DeleteOccurrenceExtractMessages">
		<property name="contextKeyRawOccurrenceRecord" value="rawOccurrenceRecord"/>
		<property name="gbifLogMessageDAO" ref="gbifLogMessageDAO"/>
	</bean>
	
	<bean abstract="true" id="abstractRawTaxonomyPagingActivity"
		class="org.gbif.portal.harvest.workflow.activity.occurrence.RawTaxonomyPagingActivity">
		<property name="rawOccurrenceRecordDAO" ref="rawOccurrenceRecordDAO"/>
	</bean>
	
	<bean abstract="true" id="abstractStoredClassificationToTaxonConceptIdActivity"
		class="org.gbif.portal.harvest.workflow.activity.occurrence.StoredClassificationToTaxonConceptIdActivity">
		<property name="taxonomyUtils" ref="taxonomyUtils"/>
	</bean>
	
	<bean abstract="true" id="abstractCheckImageLinkTypeRecordsActivity"
		class="org.gbif.portal.harvest.workflow.activity.occurrence.CheckImageLinkTypeRecordsActivity">
		<property name="linkRecordDAO" ref="linkRecordDAO"/>
		<property name="imageRecordDAO" ref="imageRecordDAO"/>
		<property name="typificationRecordDAO" ref="typificationRecordDAO"/>
	</bean>
</beans>