## This is a TAPIR capabilites template
##
## See included templates for further requirements
##
## Define the type of request for the header
#set($type="capabilities")
##
#parse("org/gbif/portal/util/propertystore/tapir_1_0/template/preamble.vm")
#parse("org/gbif/portal/util/propertystore/tapir_1_0/template/header.vm")
#parse("org/gbif/portal/util/propertystore/tapir_1_0/template/postamble.vm")