## Placeholder for defining constants
##
## The version of digir
#set($version="1.0")
##
## Whether we wish to signal requests for counts
#if($type=="search")
	#set($count="false")
#else 
	#set($count="true")
#end
##
## Limit maximum results
#set($maxResults="1000")