## This is a TAPIR inventory template
##
## Required Input  
## - concept
## See included templates for further requirements
##
## Define the type of request for the header
#set($type="inventory")
##
#parse("org/gbif/portal/util/propertystore/tapir_1_0/template/preamble.vm")
#parse("org/gbif/portal/util/propertystore/tapir_1_0/template/header.vm")
<inventory count="true" #if($startAt) start="$startAt"#else start="0"#end limit="$maxResults">
<concepts>
<concept id="$concept"/>
</concepts>
</inventory>
#parse("org/gbif/portal/util/propertystore/tapir_1_0/template/postamble.vm")