## Template for a tapir metadata request
## This is a bit of a hack as it actually does a scan
## for the datasets
##
## See included templates for requirements
##
## Define the type of request for the header
#set($type="metadata")
##
#parse("org/gbif/portal/util/propertystore/tapir_1_0/template/preamble.vm")
#parse("org/gbif/portal/util/propertystore/tapir_1_0/template/header.vm")
<metadata/>
#parse("org/gbif/portal/util/propertystore/tapir_1_0/template/postamble.vm")