<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans SYSTEM "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<!-- Agent utils -->
	<bean id="agentUtils" class="org.gbif.portal.harvest.util.AgentUtils">
		<property name="agentDAO" ref="agentDAO"/>
		<property name="agentTypeMapping">
			<map>
				<entry key="unknown" value="0"/>				
				<entry key="Unknown" value="0"/>
				<entry key="UNKNOWN" value="0"/>
				<entry key="data administrator" value="1"/>				
				<entry key="Data administrator" value="1"/>				
				<entry key="Data Administrator" value="1"/>				
				<entry key="DATA ADMINISTRATOR" value="1"/>
				<entry key="administrative" value="1"/>				
				<entry key="Administrative" value="1"/>
				<entry key="ADMINISTRATIVE" value="1"/>				
				<entry key="system administrator" value="2"/>				
				<entry key="System administrator" value="2"/>
				<entry key="System Administrator" value="2"/>
				<entry key="SYSTEM ADMINISTRATOR" value="2"/>
				<entry key="technical" value="2"/>
				<entry key="Technical" value="2"/>
				<entry key="TECHNICAL" value="2"/>
			</map>
		</property>
	</bean>		
</beans>