body {  color: #494949; background: #FFF url('images/speciesBodyBG.gif') repeat-x top left;
	    font: 0.81em Verdana, Arial, Helvetica, sans-serif;	text-align: left;
		padding: 0; margin: 0; min-width: 990px;
	}

/* -- The Generic Defs --*/
a:link { color: #333366;text-decoration: none; border-bottom: 1px dashed gray; }
a:visited {	color: #333366;	text-decoration: none; border-bottom: 1px dashed gray; }
a:hover { text-decoration: underline; border: 0; }

a img {border: none;}

textarea { font: 0.9em Verdana, Arial, Helvetica, sans-serif; }

h1 { font-size: 2.2em; }
h2 { font-size: 1.9em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.25em; }
h6 { font-size: 1em; }

p { margin: 0.33em 0 1em 0;}
p.standalone { text-align: center; }
p.standalone img { display: inline; }

fieldset { padding-left:0px; }
fieldset p label { padding-left:0px; }
fieldset p { margin-left:0px; padding-left:0px; clear:left; }

ul, ol { margin: 0; padding-left: 1.15em; }
ul li { text-align:left; }
pre, code { font: 110% "Andale Mono", Courier, "Courier New", monospace; margin: 1em 0;}

hr { clear: both; visibility: hidden; }

small {font-size: 85%;}
big {font-size: 115%;}
sup {font-size: smaller; vertical-align: 0.5em; line-height: 1px;}

img.pic { float: right; position: relative; margin: 0.25em 0 0.66em 1.5em; }
img.border { border: 3px double; }
img.standalone { display: block; margin: 0.5em auto; width: auto; max-width: 100%; }

.warning { background: #FF8; color: red; border: 2px solid; padding: 1em; }
.highlight { background: #B4D5FF; font-weight: bold; }
/* -- END The Generic Defs --*/

#cocoon { }

#container { margin: 0; padding: 0; }

/* ---- Top Header ---- */
#header { margin: 0; padding: 0; height: 85px; background: url('images/speciesSearchBG.gif') right top no-repeat;}
#header h1 { margin: 0; padding: 0; width: 863px; height: 85px; background: url('images/speciesHeaderBG.jpg') no-repeat; }
#header h1 a { display: none  }
#header li a:hover { color: #FF6633; }
/* ---- END Top Header ---- */

#blurb { float: left; margin: -52px 0 0 70px; padding: 0; color: #C9F9FF; font: 1em sans-serif; letter-spacing: 0.19em;  }
#header>#blurb { margin: -52px 0 0 139px; }


/* -- search form -- */
#quickSearch { float: right; margin: -85px 0 0 0; padding: 0 17px 0 0;
	width: 500px; height: 51px; text-align: right; 
}
#quickSearch fieldset, #quickSearch form { margin: 0; padding: 0; border: 0; }
#quickSearch #query { float: right; margin: 6px 4px 0 5px; padding: 0;
	width: 414px; border: 1px solid #0091CD; height: 1.3em; font-size: 14px; 
}
#quickSearch h3 { float: left; margin: 6px 0 0 145px; padding: 0; color:
#C9F9FF; font: 14px Arial, Helvetica, sans-serif; font-weight: bold;}
#quickSearch>h3 { margin: 6px 0 0 290px; }
#quickSearch p  { margin:6px 4px 0 0; padding: 0; color: #C9F9FF; font: 14px
Arial, Helvetica, sans-serif; }
#quickSearch #go { display: block; margin: 0; padding: 10px 0 0 0; color:
#FFF; font: 14px Arial, Helvetica, sans-serif; font-weight: bold; text-decoration: none; border: 0; }
/*-- END Search Form --*/
#topmenu { float: right; margin: -34px 11px 0 0; padding: 0; color: #FFF;
	font: 13px Arial, Helvetica, Verdana, sans-serif; font-weight: bold;text-transform: uppercase; 
}

#container>#topmenu { margin: -34px 19px 0 0; }
#topmenu ul li { display: inline; list-style: none; padding-left: 8px; padding-bottom: 1px; }
#topmenu a { border: 0; color: #FFF;  }
  
#content { margin: -15px 14px 0 0; padding: 0 0 16px 16px; border: 0 ; }

#announce { position: relative; left: 150px; top: 0px; font-size: 0.9em; color: #787664; width: 520px; height: 85px; margin: 20px 0 18px 0; padding: 0; overflow: hidden; }
#announce h3 { margin: 0 0 10px 0; padding: 0;	font : bold 1.0em Arial, Helvetica, sans-serif; }

#footer { font-size: 0.8em; clear: both; height: 20px; margin: 0; padding: 0; background: url("images/footerBG.gif") repeat-x; }
#footer #copyright { color: #FFFFFF; float: left; margin: 0; padding: 4px 0 4px 30px; width: 470px; background: url('images/speciesCopyrBG.jpg') no-repeat;  }
#footer #contact_webmaster { color: #FFFFFF; float: right; margin: 0; padding: 4px 30px 4px 0; background: url(images/speciesContactUsBG.gif) no-repeat top right;  }
#contact_webmaster a { }

#skipNav { position: absolute; left: -9999px; font-size: small; }
#skipNav a:hover { color: #f00;}
#skipNav a:focus { display: block; position: absolute; top: -220px; left: 9990px; font-size: large; background: #fff; border: solid 2px #1B6BD8; padding: 10px; width: 15em; z-index: 1;}

.hr_clear { clear: both; border: 0 ; width: 1px; }

.hide { display: none;  }

/** Styles added by Dave - Cip: please review  **/

.genera { font-style:italic; }

/** furtherActions is intended to a consistent style reused in various places - Im not sure this is the best place...please move **/
#furtherActions { width:100%; border:1px solid #CCCCCC; padding-top:0px; margin-bottom:10px; }
#furtherActions h4 { padding:0px; margin-top:5px; margin-left:5px; }
#initialActions { padding-left:10px; padding-bottom:5px;}
#initialActions td { padding-right:30px; }

table.actionsList { vertical-align:top; padding-left: 10px; padding-bottom: 10px; width:99%; }
table.actionsList td { vertical-align:top;  }

ul.actionsListInline { padding-bottom:6px;}
ul.actionsListInline li { display: inline; padding-right: 15px; }

p.resultsDetails { padding:0px;	margin:5px;	margin-left:15px; font-size:11px; color:#AAAAAA; }
p.resultsDetails a { color:#AAAAAA; }

p.notApplicable { padding:0px; font-size:11px; color:#AAAAAA; white-space: nowrap; }

ol { margin-left:10px;}

div#warnings { border:1px solid #CCCCCC; background-color:#FFEFDD; width:100%; }
div#warnings h4 { color:#000000; margin-top:5px; margin-left:5px; }
div#warnings p { margin-left:10px; }
div#warnings ul { margin-left:10px; }

#globalOverviewContainer { width: 720px; margin-left:30px; }
#globalOverviewHeader { margin: 0;}
#globalOverviewMap { float:left; width:280px; margin-left:0px;}
#globalOverviewLinks { margin:0; float:left; width:450px; padding-left:5px; }
#globalOverviewFooter { clear:both; }
ul.overviewMapLinks { margin:10px 0 0 0; padding:0; }
ul.overviewMapLinks li { list-style: none; padding-left :17px; margin-bottom :8px; background: url('../../images/icons/bullet_arrow_right.png') no-repeat 0 50%; } 
.genericList { margin:0px 0px 10px 0px; padding:0px; }
.genericList li { list-style: none; margin-left:0px; padding-left :17px; margin-bottom :8px; background: url('../../images/icons/bullet_arrow_right.png') no-repeat 0 50%; } 

div.subcontainer { margin-bottom: 10px; }

/* Dates */
.yearInput { width:40px; padding-left:3px; }

.match { font-weight:bold; }
.subject { font-weight: bold; }
.generaSubject { font-weight:bold; }

/* Breadcrumbs */
#breadcrumbs { margin-top:25px; padding:0px; border-top:1px solid #CCCCCC; }
#recentlyViewed { margin:10px 0 5px 0; padding:0; color: gray; font-size: 1em; }
#breadcrumbs a { color: gray;  }
.breadcrumblist { margin: 0; padding: 0; list-style: none; }
.breadcrumblist li  { list-style: none; margin-left:0px; padding-left :17px; margin-bottom :8px; background: url('../../images/icons/bullet_white.png') no-repeat 0 50%; }


/* Log console */
#logConsole { background-color:#eeeeee; border:1px solid #CCCCCC; margin-bottom:10px; padding:10px; }
#logConsole form { margin:0px; padding:0px; }
#logConsole form fieldset { margin:0px; padding:0px; }

/* Charts */
#georefChart { margin-left:30px; }

.new { color: #FF0000; font-style:italic; }
.downloadLink { margin-top:10px; background-color:#ffeeee; padding:10px; }
.downloadLayout { margin-left:80px;margin-top:20px; margin-bottom:40px; }

.minorInformation {color: gray;}

.prepareDownload { margin-left:80px;margin-top:20px; margin-bottom:40px; }
.downloadInfo { padding-left:20px; }

/* Provider request */
.providerRequest { margin-left:80px;margin-top:20px; margin-bottom:40px; }
.providerInfo { padding-left:20px; }

.hidden { display: none; visibility: hidden; }
