<?xml version="1.0" encoding="UTF-8"?>
<!-- These documents can be harvested into a metacat instance using the harvest list at
$request.contextPath/datasets/resource/harvestList.xml
-->
<eml:eml packageId="eml.gbif.package.$dataResource.key" system="gbif"
  xmlns:eml="eml://ecoinformatics.org/eml-2.1.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xsi:schemaLocation="eml://ecoinformatics.org/eml-2.1.0 $request.contextPath/schema/eml.xsd">
    <access authSystem="knb" order="allowFirst">
        <allow>
            <principal>public</principal>
            <permission>read</permission>
        </allow>
    </access> 
  <dataset>
    <title><![CDATA[$dataResource.name]]></title>
    <creator id="creator-1" scope="document">
#if(("$!owner.firstName" != "") && ("$!owner.lastName" != ""))     
      <individualName>
      	#if("$!owner.firstName" != "")
        	<givenName>$!owner.firstName</givenName>
        #end
        #if("$!owner.lastName" != "")
        	<surName>$!owner.lastName</surName>
        #end
      </individualName>
#end        
      <organizationName><![CDATA[$dataResource.name]]></organizationName>
      #if("$!owner.position" != "")
      	<positionName>$!owner.position</positionName>
      #end  
    </creator>
    <abstract>
      <para><![CDATA[$!dataResource.description $!dataResource.citation $!dataResource.citableAgent]]></para>
    </abstract>
#if($keywords)
    <keywordSet>
#foreach( $keyword in $keywords )   
      <keyword>$keyword</keyword>
#end      
    </keywordSet>
#end    
    <intellectualRights>
      <para><![CDATA[$!dataResource.rights]]></para>
    </intellectualRights>
<!-- PWERE UPDATED distribution 06/302010 -->
	<distribution scope="document">
	#set( $distCount = 0 )
	#if( $raps )
		#foreach( $rap in $raps )
			#set( $distCount = $distCount +1 )	
			<online>
				<url function="download"><![CDATA[$rap.url]]></url>
			</online>
		#end
		#if($distCount < 1)
			<offline>
				<mediumName><![CDATA[This dataset is not available on line.]]></mediumName>
			</offline>
		#end
#end
</distribution>
	<coverage>
      <geographicCoverage scope="document">
      	#set($regionUnDefinedDefault = "This defines a Region")
        <geographicDescription>#set($i18nPrefix = 'region.')
#set( $index = 0 )	
#foreach( $region in $regions )
#if ($index > 0), #end
#springMessage("$i18nPrefix$region") 
#set( $index = $index +1 )
#end
$regionUnDefinedDefault
</geographicDescription>
#foreach( $tag in $geographicCoverageTags )
        <boundingCoordinates>
          <westBoundingCoordinate>$!tag.minLongitude</westBoundingCoordinate>
          <eastBoundingCoordinate>$!tag.maxLongitude</eastBoundingCoordinate>
          <northBoundingCoordinate>$!tag.maxLatitude</northBoundingCoordinate>
          <southBoundingCoordinate>$!tag.minLatitude</southBoundingCoordinate>
        </boundingCoordinates>
#end
#if( ! $geographicCoverageTags )
        <boundingCoordinates>
     	  <!-- this is a place holder bounding box for datasets with no spatial information -->
          <westBoundingCoordinate>-180</westBoundingCoordinate>
          <eastBoundingCoordinate>180</eastBoundingCoordinate>
          <northBoundingCoordinate>90</northBoundingCoordinate>
          <southBoundingCoordinate>90</southBoundingCoordinate>
        </boundingCoordinates>
#end      
      </geographicCoverage>
      <temporalCoverage scope="document">
#foreach( $tag in $temporalCoverageTags )
        <rangeOfDates>
          <beginDate>
            <calendarDate>$dateFormatter.format('yyyy-MM-dd',$tag.startDate)</calendarDate>
          </beginDate>
          <endDate>
            <calendarDate>$dateFormatter.format('yyyy-MM-dd',$tag.endDate)</calendarDate>
          </endDate>
        </rangeOfDates>
#end      
#if ( ! $temporalCoverageTags )
		<!-- this is a place holder data range for datasets with no temporal information -->
        <rangeOfDates>
          <beginDate>
            <calendarDate>1800-01-01</calendarDate>
          </beginDate>
          <endDate>
            <calendarDate>2009-01-01</calendarDate> 
          </endDate>
        </rangeOfDates>
#end 
      </temporalCoverage>
      <taxonomicCoverage scope="document">
#set($i18nPrefix = 'taxonrank.')      
#foreach( $tag in $taxonomicScopeTags )       
        <taxonomicClassification>
          <taxonRankName>#springMessage("$i18nPrefix$tag.getProperties().get('rank')")</taxonRankName>
          <taxonRankValue>$tag.toEntityName</taxonRankValue>
        </taxonomicClassification>
#end
#if ( ! $taxonomicScopeTags)
        <taxonomicClassification>
          <taxonRankName>Kingdom</taxonRankName>
          <taxonRankValue>Unknown</taxonRankValue>
        </taxonomicClassification>
#end
      </taxonomicCoverage>
    </coverage>
    <purpose><para>$!dataResource.basisOfRecord.name</para></purpose>
    <maintenance>
      <description><para>TO BE ADDED</para></description>
    </maintenance>
#foreach( $agent in $agents )   
    <contact id="$agent.key">
      <individualName>
        <surName>$agent.agentName</surName>
      </individualName>
      <organizationName><![CDATA[$dataResource.name]]></organizationName>
      <positionName>$agent.agentTypeName</positionName>
    </contact>
#end 
#if(!$agents || $agents.isEmpty() )      
    <contact>
    	<references>creator-1</references>
    </contact>
#end    
  </dataset>
</eml:eml>  