<?xml version="1.0" encoding="UTF-8"?>
<!-- These documents can be harvested into a metacat instance using the harvest list at
$request.contextPath/datasets/resource/harvestList.xml
-->
<eml:eml packageId="eml.gbif.package.$dataResource.key" system="gbif"
  xmlns:eml="eml://ecoinformatics.org/eml-2.1.1"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xsi:schemaLocation="eml://ecoinformatics.org/eml-2.1.1 http://rs.gbif.org/schema/eml-gbif-profile/1.0/eml.xsd" xml:lang="eng" scope="system">   
  <dataset>
    <alternateIdentifier>$dataResource.key</alternateIdentifier> 
    <title><![CDATA[$dataResource.name]]></title>
    <creator>       
      <organizationName><![CDATA[$dataResource.dataProviderName]]></organizationName> 
    </creator>
    <metadataProvider>       
      <organizationName><![CDATA[$dataResource.dataProviderName]]></organizationName> 
    </metadataProvider>  
    #foreach( $agent in $agents )	  
    <associatedParty>
      <individualName>
        <surName>$agent.agentName</surName>
      </individualName>     
      #if ($agent.agentAddress)
      <address>
      	<deliveryPoint><![CDATA[$agent.agentAddress]]></deliveryPoint>
      </address>
      #end
      #if ($agent.agentTelephone)
      <phone>$agent.agentTelephone</phone>
      #end
      #if ($agent.agentEmail)
      <electronicMailAddress><![CDATA[$agent.agentEmail]]></electronicMailAddress>
      #end
      <role>$agent.agentTypeName</role>
    </associatedParty>   
	#end
	#if ($dataResource.created)       
    <pubDate>$dateFormatter.format('yyyy-MM-dd',$dataResource.created)</pubDate>
    #end
    <abstract>
      <para><![CDATA[$!dataResource.description $!dataResource.citation $!dataResource.citableAgent]]></para>
    </abstract>
#if($keywords)
    <keywordSet>
#foreach( $keyword in $keywords )   
      <keyword>$keyword</keyword>
#end      
    </keywordSet>
#end    
    <intellectualRights>
      <para><![CDATA[$!dataResource.rights]]></para>
    </intellectualRights>
	<distribution scope="document">
	#set( $distCount = 0 )
	#if( $raps )
	  #foreach( $rap in $raps )
	    #set( $distCount = $distCount +1 )	
	    #if($distCount == 1)
		<online>
			<url function="download"><![CDATA[$rap.url]]></url>
		</online>
		#end
		#end
		#if($distCount < 1)
		<offline>
			<mediumName><![CDATA[This dataset is not available on line.]]></mediumName>
		</offline>
		#end
	#end
	</distribution>
	<coverage>
      <geographicCoverage>
      	#set($regionUnDefinedDefault = "Information not provided")
        <geographicDescription>
		#if ($regions && !$regions.isEmpty())
			#set($i18nPrefix = 'region.')
			#set( $index = 0 )	
			#foreach( $region in $regions )
			#if ($index > 0), #end
			#springMessage("$i18nPrefix$region") 
			#set( $index = $index +1 )
			#end
		#else $regionUnDefinedDefault #end
       </geographicDescription>
#foreach( $tag in $geographicCoverageTags )
        <boundingCoordinates>
          <westBoundingCoordinate>$formatter.format('%.4f',$!tag.minLongitude)</westBoundingCoordinate>
          <eastBoundingCoordinate>$formatter.format('%.4f',$!tag.maxLongitude)</eastBoundingCoordinate>
          <northBoundingCoordinate>$formatter.format('%.4f',$!tag.maxLatitude)</northBoundingCoordinate>
          <southBoundingCoordinate>$formatter.format('%.4f',$!tag.minLatitude)</southBoundingCoordinate>
        </boundingCoordinates>
#end
#if( ! $geographicCoverageTags )
        <boundingCoordinates>
     	  <!-- this is a place holder bounding box for datasets with no spatial information -->
          <westBoundingCoordinate>-180</westBoundingCoordinate>
          <eastBoundingCoordinate>180</eastBoundingCoordinate>
          <northBoundingCoordinate>90</northBoundingCoordinate>
          <southBoundingCoordinate>90</southBoundingCoordinate>
        </boundingCoordinates>
#end      
      </geographicCoverage>
      
#if ( $temporalCoverageTags )     
      
      <temporalCoverage>
#foreach( $tag in $temporalCoverageTags )
        <rangeOfDates>
          <beginDate>
            <calendarDate>$dateFormatter.format('yyyy-MM-dd',$tag.startDate)</calendarDate>
          </beginDate>
          <endDate>
            <calendarDate>$dateFormatter.format('yyyy-MM-dd',$tag.endDate)</calendarDate>
          </endDate>
        </rangeOfDates>
#end      
      </temporalCoverage>
#end
 
      <taxonomicCoverage>
#set($i18nPrefix = 'taxonrank.')      
#foreach( $tag in $taxonomicScopeTags )       
        <taxonomicClassification>
          <taxonRankName>#springMessage("$i18nPrefix$tag.getProperties().get('rank')")</taxonRankName>
          <taxonRankValue>$tag.toEntityName</taxonRankValue>
        </taxonomicClassification>
#end
#if ( ! $taxonomicScopeTags)
        <taxonomicClassification>
          <taxonRankName>Kingdom</taxonRankName>
          <taxonRankValue>Unknown</taxonRankValue>
        </taxonomicClassification>
#end
      </taxonomicCoverage>
    </coverage>
    <purpose><para>$!dataResource.basisOfRecord.name</para></purpose>
#set($hasContacts = false)
#foreach( $agent in $agents )
	#if ($agent.agentType == $DATAADMINISTRATOR)   
    #set($hasContacts = true)
    <contact>
      <individualName>
        <surName>$agent.agentName</surName>
      </individualName>
      <organizationName><![CDATA[$dataResource.name]]></organizationName>
      <positionName>$agent.agentTypeName</positionName>
      #if ($agent.agentAddress)
      <address>
      	<deliveryPoint><![CDATA[$agent.agentAddress]]></deliveryPoint>
      </address>
      #end
      #if ($agent.agentTelephone)
      <phone>$agent.agentTelephone</phone>
      #end
      #if ($agent.agentEmail)
      <electronicMailAddress><![CDATA[$agent.agentEmail]]></electronicMailAddress>
      #end
    </contact>
    #end
#end 
#if(!$hasContacts)      
    <contact>
    	<organizationName><![CDATA[$dataResource.dataProviderName]]></organizationName> 
    </contact>
#end    
  </dataset>
</eml:eml>