==============================
  Event Log Download
==============================

Original URL: $logQuery.queryUrl
Download date: $date.format($logQuery.queryDate, "dd MM yyyy - HH:mm")

Your search:
#if ($logQuery.dataProviderName)
Data provider: $logQuery.dataProviderName
#end
#if ($logQuery.dataResourceName)
Data resource: $logQuery.dataResourceName
#end
#if ($logQuery.dataResourceName)
Data resource: $logQuery.dataResourceName
#end
#if ($logQuery.eventName)
Events:  $messageSource.getMessage($logQuery.eventName, null, null)
#end
#if($logQuery.logLevel)
#if ($logQuery.logLevel.intValue() == 10000)
Level: DEBUG
#elseif ($logQuery.logLevel.intValue() == 20000)
Level: INFO
#elseif ($logQuery.logLevel.intValue() == 30000)
Level:	WARNING
#elseif ($logQuery.logLevel.intValue() == 40000)
Level:	ERROR
#elseif ($record.logLevel.intValue() == 50000)
Level:	FATAL
#end
#end
#if ($logQuery.logGroupKey && $logQuery.logGroupKey.length()>0)
Log group: $logQuery.logGroupKey
#end
#if ($logQuery.startDate)
Start date: $date.format($logQuery.startDate, "dd MM yyyy - HH:mm")
#end
#if ($logQuery.endDate)
End date: $date.format($logQuery.endDate, "dd MM yyyy - HH:mm")
#end

This download contains 3 files:

1) log-messages-*.txt - contains the actual event logs in tab delimited format. 
This format should be easily imported into excel or any other spreadsheet application for analysis.

2) log-statistics.txt - contains statistics for the data resources for the supplied query. 
This is also in tab delimited format for importing into excel for analysis.

3) log-statistics.html - contains the same data as log-statistics.txt, but in a html version for easy reading.

Please send any comments on this download to portal@gbif.org.