#if ($dataProvider)
$dataProvider.name statistics
=============================

Event	Event count	Number of records returned
#foreach( $logStat in $dataProviderStats )
$propertyFormatter.format("record.eventId",$logStat.eventId.toString()) $logStat.eventCount	$!logStat.count
#end

#elseif ($dataProviderStats)

Data provider statistics
=============================

Data provider	Event	Event count	Number of records returned
#foreach( $logStat in $dataProviderStats )
$logStat.entityName	$propertyFormatter.format("record.eventId",$logStat.eventId.toString()) $logStat.eventCount	$!logStat.count
#end


#end

Data resource statistics
========================

Data resource id	Data resource	Event	Event count	Number of records returned
#foreach( $logStat in $dataResourceStats )
$logStat.entityKey	$logStat.entityName	$propertyFormatter.format("record.eventId",$logStat.eventId.toString())	$logStat.eventCount	$!logStat.count
#end