<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans SYSTEM "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<!-- Allow the XPath accessors to reuse the prefix -->
	<bean id="abstractXPath:MaNIS:DWC:1.21" abstract="true" class="org.dom4j.xpath.DefaultXPath">
		<property name="namespaceURIs">
			<map>
				<entry key="dwc" value="http://digir.net/schema/conceptual/darwin/manis/1.21"/>
			</map>
		</property>
	</bean>

	<!-- MANIS DWC 1.21 Mappings -->
	<bean id="propertyStore:namespace:MaNIS:DWC:1.21" class="org.gbif.portal.util.propertystore.impl.spring.PropertyBag">
		<!-- The namespace that the PropertyStore will key this bag on -->
		<property name="namespace" value="http://digir.net/schema/conceptual/darwin/manis/1.21"/>
		<property name="properties">
			<map>
				<!-- To create a message around the raw data -->
				<entry key="MESSAGE.FACTORY" value-ref="propertyStore:XMLMessageFactory"/>
				
				<!-- Entities to build requests -->
				<entry key="REQUEST.SCIENTIFIC.NAME" value="ScientificName"/>
				<entry key="REQUEST.INSTITUTION.CODE" value="InstitutionCode"/> 
				<entry key="REQUEST.COLLECTION.CODE" value="CollectionCode"/> 
				<entry key="REQUEST.DATE.LAST.MODIFIED" value="DateLastModified"/>
				<!-- Err... what about the Numeric? -->
				<entry key="REQUEST.CATALOGUE.NUMBER" value="CatalogNumberText"/> 
				<entry key="REQUEST.CONTENT.NAMESPACE" value="http://digir.net/schema/conceptual/darwin/manis/1.21/darwin2.xsd"/> 
				
				<!-- For pulling out of Inventory responses -->
				<entry key="RESPONSE.INVENTORY.NAME">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.ListStringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:MaNIS:DWC:1.21">
								<constructor-arg value="//dwc:ScientificName"/>
							</bean>
						</property>
					</bean>
				</entry>
				<entry key="INVENTORY.SCIENTIFIC.NAME.CONCEPT">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.ListMessageFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:MaNIS:DWC:1.21">
								<constructor-arg value="//dwc:ScientificName"/>
							</bean>
						</property>
					</bean>
				</entry>
				<entry key="INVENTORY.SCIENTIFIC.NAME.CONCEPT.VALUE">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:MaNIS:DWC:1.21">
								<constructor-arg value="/dwc:ScientificName"/>
							</bean>
						</property>
					</bean>
				</entry>
				<entry key="INVENTORY.CONCEPT.COUNT">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:MaNIS:DWC:1.21">
								<constructor-arg value="/dwc:ScientificName/@count"/>
							</bean>
						</property>
					</bean>
				</entry>
				
				<!-- The DWC entities -->
				<entry key="RECORD.INSTITUTION.CODE">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:MaNIS:DWC:1.21">
								<constructor-arg value="//dwc:InstitutionCode"/>
							</bean>
						</property>
					</bean>
				</entry>
				<entry key="RECORD.COLLECTION.CODE">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:MaNIS:DWC:1.21">
								<constructor-arg value="//dwc:CollectionCode"/>
							</bean>
						</property>
					</bean>
				</entry>
				<entry key="RECORD.CATALOGUE.NUMBER">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:MaNIS:DWC:1.21">
								<constructor-arg value="//dwc:CatalogNumberText | //dwc:CatalogNumberNumeric"/>
							</bean>
						</property>
					</bean>
				</entry>
				<entry key="RECORD.TAXONOMY.SCIENTIFIC.NAME">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:MaNIS:DWC:1.21">
								<constructor-arg value="//dwc:ScientificName"/>
							</bean>
						</property>
					</bean>
				</entry>			
				<entry key="RECORD.TAXONOMY.AUTHOR">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:MaNIS:DWC:1.21">
								<constructor-arg value="//dwc:ScientificNameAuthor"/>
							</bean>
						</property>
					</bean>
				</entry>			
				<entry key="RECORD.TAXONOMY.KINGDOM">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:MaNIS:DWC:1.21">
								<constructor-arg value="//dwc:Kingdom"/>
							</bean>
						</property>
					</bean>
				</entry>			
				<entry key="RECORD.TAXONOMY.PHYLUM">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:MaNIS:DWC:1.21">
								<constructor-arg value="//dwc:Phylum"/>
							</bean>
						</property>
					</bean>
				</entry>			
				<entry key="RECORD.TAXONOMY.CLASS">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:MaNIS:DWC:1.21">
								<constructor-arg value="//dwc:Class"/>
							</bean>
						</property>
					</bean>
				</entry>			
				<entry key="RECORD.TAXONOMY.ORDER">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:MaNIS:DWC:1.21">
								<constructor-arg value="//dwc:Order"/>
							</bean>
						</property>
					</bean>
				</entry>			
				<entry key="RECORD.TAXONOMY.FAMILY">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:MaNIS:DWC:1.21">
								<constructor-arg value="//dwc:Family"/>
							</bean>
						</property>
					</bean>
				</entry>			
				<entry key="RECORD.TAXONOMY.GENUS">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:MaNIS:DWC:1.21">
								<constructor-arg value="//dwc:Genus"/>
							</bean>
						</property>
					</bean>
				</entry>			
				<entry key="RECORD.TAXONOMY.SPECIES">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:MaNIS:DWC:1.21">
								<constructor-arg value="//dwc:Species"/>
							</bean>
						</property>
					</bean>
				</entry>			
				<entry key="RECORD.TAXONOMY.SUBSPECIES">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:MaNIS:DWC:1.21">
								<constructor-arg value="//dwc:Subspecies"/>
							</bean>
						</property>
					</bean>
				</entry>			
				<entry key="RECORD.GEOSPATIAL.LATITUDE">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathListAccessor">
						<property name="XPathList">
							<list>
								<bean parent="abstractXPath:MaNIS:DWC:1.21">
								    <constructor-arg value="//dwc:DecimalLatitude"/>
							    </bean>
								<bean parent="abstractXPath:MaNIS:DWC:1.21">
								    <constructor-arg value="//dwc:VerbatimLatitude"/>
							    </bean>
							</list>
						</property>
					</bean>
				</entry>			
				<entry key="RECORD.GEOSPATIAL.LONGITUDE">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathListAccessor">
						<property name="XPathList">
							<list>
								<bean parent="abstractXPath:MaNIS:DWC:1.21">
								    <constructor-arg value="//dwc:DecimalLongitude"/>
							    </bean>
								<bean parent="abstractXPath:MaNIS:DWC:1.21">
								    <constructor-arg value="//dwc:VerbatimLongitude"/>
							    </bean>
							</list>
						</property>
					</bean>
				</entry>			
				<entry key="RECORD.GEOSPATIAL.LATLONG.PRECISION">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:MaNIS:DWC:1.21">
								<constructor-arg value="//dwc:CoordinateUncertaintyInMeters"/>
							</bean>
						</property>
					</bean>
				</entry>			
				<entry key="RECORD.GEOSPATIAL.MIN.ALTITUDE">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:MaNIS:DWC:1.21">
								<constructor-arg value="//dwc:MinimumElevationInMeters"/>
							</bean>
						</property>
					</bean>
				</entry>			
				<entry key="RECORD.GEOSPATIAL.MAX.ALTITUDE">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:MaNIS:DWC:1.21">
								<constructor-arg value="//dwc:MaximumElevationInMeters"/>
							</bean>
						</property>
					</bean>
				</entry>			
				<entry key="RECORD.GEOSPATIAL.MIN.DEPTH">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:MaNIS:DWC:1.21">
								<constructor-arg value="//dwc:MinimumDepthInMeters"/>
							</bean>
						</property>
					</bean>
				</entry>			
				<entry key="RECORD.GEOSPATIAL.MAX.DEPTH">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:MaNIS:DWC:1.21">
								<constructor-arg value="//dwc:MaximumDepthInMeters"/>
							</bean>
						</property>
					</bean>
				</entry>	
				<entry key="RECORD.GEOSPATIAL.CONTINENTOROCEAN">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:MaNIS:DWC:1.21">
								<constructor-arg value="//dwc:ContinentOcean"/>
							</bean>
						</property>
					</bean>
				</entry>		
				<entry key="RECORD.GEOSPATIAL.COUNTRY">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:MaNIS:DWC:1.21">
								<constructor-arg value="//dwc:Country"/>
							</bean>
						</property>
					</bean>
				</entry>			
				<entry key="RECORD.GEOSPATIAL.STATEORPROVINCE">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:MaNIS:DWC:1.21">
								<constructor-arg value="//dwc:StateProvince"/>
							</bean>
						</property>
					</bean>
				</entry>			
				<entry key="RECORD.GEOSPATIAL.COUNTY">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:MaNIS:DWC:1.21">
								<constructor-arg value="//dwc:County"/>
							</bean>
						</property>
					</bean>
				</entry>			
				<entry key="RECORD.GEOSPATIAL.LOCALITY">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:MaNIS:DWC:1.21">
								<constructor-arg value="//dwc:Locality"/>
							</bean>
						</property>
					</bean>
				</entry>			
				<entry key="RECORD.COLLECTOR">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:MaNIS:DWC:1.21">
								<constructor-arg value="//dwc:Collector"/>
							</bean>
						</property>
					</bean>
				</entry>			
				<entry key="RECORD.TEMPORAL.YEAR">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:MaNIS:DWC:1.21">
								<constructor-arg value="//dwc:YearCollected"/>
							</bean>
						</property>
					</bean>
				</entry>			
				<entry key="RECORD.TEMPORAL.MONTH">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:MaNIS:DWC:1.21">
								<constructor-arg value="//dwc:MonthCollected"/>
							</bean>
						</property>
					</bean>
				</entry>			
				<entry key="RECORD.TEMPORAL.DAY">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:MaNIS:DWC:1.21">
								<constructor-arg value="//dwc:DayCollected"/>
							</bean>
						</property>
					</bean>
				</entry>	
				<entry key="RECORD.IDENTIFIER">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:MaNIS:DWC:1.21">
								<constructor-arg value="//dwc:IdentifiedBy"/>
							</bean>
						</property>
					</bean>
				</entry>			
				<entry key="RECORD.IDENTIFICATION.YEAR">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:MaNIS:DWC:1.21">
								<constructor-arg value="//dwc:YearIdentified"/>
							</bean>
						</property>
					</bean>
				</entry>			
				<entry key="RECORD.IDENTIFICATION.MONTH">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:MaNIS:DWC:1.21">
								<constructor-arg value="//dwc:MonthIdentified"/>
							</bean>
						</property>
					</bean>
				</entry>			
				<entry key="RECORD.IDENTIFICATION.DAY">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:MaNIS:DWC:1.21">
								<constructor-arg value="//dwc:DayIdentified"/>
							</bean>
						</property>
					</bean>
				</entry>								
				<entry key="RECORD.BASIS.OF.RECORD">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:MaNIS:DWC:1.21">
								<constructor-arg value="//dwc:BasisOfRecord"/>
							</bean>
						</property>
					</bean>
				</entry>			
				<entry key="RECORD.FIELD.NUMBER">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:MaNIS:DWC:1.21">
								<constructor-arg value="//dwc:FieldNumber"/>
							</bean>
						</property>
					</bean>
				</entry>			
				<entry key="RECORD.COLLECTOR.NUMBER">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:MaNIS:DWC:1.21">
								<constructor-arg value="//dwc:CollectorNumber"/>
							</bean>
						</property>
					</bean>
				</entry>			
				<entry key="RECORD.OTHER.CATALOG.NUMBERS">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.ListStringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:MaNIS:DWC:1.21">
								<constructor-arg value="//dwc:OtherCatalogNumbers"/>
							</bean>
						</property>
					</bean>
				</entry>			
				<entry key="RECORD.GENBANK.NUMBERS">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.ListStringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:MaNIS:DWC:1.21">
								<constructor-arg value="//dwc:GenBankNum"/>
							</bean>
						</property>
					</bean>
				</entry>	
				<entry key="RECORD.TYPIFICATIONS">
					<bean class="org.gbif.portal.harvest.workflow.activity.typification.ListTypificationRecordFromTypificationXPathsAccessor">
						<property name="rootXPath">
							<bean parent="abstractXPath:MaNIS:DWC:1.21">
								<constructor-arg value="//dwc:TypeStatus"/>
							</bean>
						</property>
						<property name="typeStatusXPath">
							<bean parent="abstractXPath:MaNIS:DWC:1.21">
								<constructor-arg value="/dwc:TypeStatus"/>
							</bean>
						</property>
					</bean>
				</entry>		
				
				<!-- Workflow to deal with a flat set of DWC elements contained in a root
					 (For example a single digir record message)-->
				<entry key="WORKFLOW.HARVEST.RECORD.MESSAGE">
					<bean parent="abstractWorkflow">
						<property name="activities">
							<list>
								<!-- Log the container message -->
								<!--bean parent="messageLoggerActivity">
									<property name="contextKeyMessage" value="responseMessage"/>
								</bean-->
								<!-- Get the values -->
								<bean parent="abstractConceptListToContextActivity">
									<property name="contextKeyMessage" value="responseMessage"/>
									<property name="conceptToContext">
										<map>
											<entry key="RECORD.INSTITUTION.CODE" value="institutionCode"/>
											<entry key="RECORD.COLLECTION.CODE" value="collectionCode"/>
											<entry key="RECORD.CATALOGUE.NUMBER" value="catalogueNumber"/>
											<entry key="RECORD.TAXONOMY.SCIENTIFIC.NAME" value="scientificName"/>
											<entry key="RECORD.TAXONOMY.AUTHOR" value="author"/>
											<entry key="RECORD.TAXONOMY.KINGDOM" value="kingdom"/>
											<entry key="RECORD.TAXONOMY.PHYLUM" value="phylum"/>
											<entry key="RECORD.TAXONOMY.CLASS" value="class"/>
											<entry key="RECORD.TAXONOMY.ORDER" value="order"/>
											<entry key="RECORD.TAXONOMY.FAMILY" value="family"/>
											<entry key="RECORD.TAXONOMY.GENUS" value="genus"/>
											<entry key="RECORD.TAXONOMY.SPECIES" value="species"/>
											<entry key="RECORD.TAXONOMY.SUBSPECIES" value="subspecies"/>
											<entry key="RECORD.GEOSPATIAL.LATITUDE" value="latitude"/>
											<entry key="RECORD.GEOSPATIAL.LONGITUDE" value="longitude"/>
											<entry key="RECORD.GEOSPATIAL.LATLONG.PRECISION" value="latLongPrecision"/>
											<entry key="RECORD.GEOSPATIAL.MIN.ALTITUDE" value="minAltitude"/>
											<entry key="RECORD.GEOSPATIAL.MAX.ALTITUDE" value="maxAltitude"/>
											<entry key="RECORD.GEOSPATIAL.MIN.DEPTH" value="minDepth"/>
											<entry key="RECORD.GEOSPATIAL.MAX.DEPTH" value="maxDepth"/>
											<entry key="RECORD.GEOSPATIAL.CONTINENTOROCEAN" value="continentOrOcean"/>
											<entry key="RECORD.GEOSPATIAL.COUNTRY" value="country"/>
											<entry key="RECORD.GEOSPATIAL.STATEORPROVINCE" value="stateOrProvince"/>
											<entry key="RECORD.GEOSPATIAL.COUNTY" value="county"/>
											<entry key="RECORD.GEOSPATIAL.LOCALITY" value="locality"/>
											<entry key="RECORD.COLLECTOR" value="collectorName"/>
											<entry key="RECORD.TEMPORAL.YEAR" value="year"/>
											<entry key="RECORD.TEMPORAL.MONTH" value="month"/>
											<entry key="RECORD.TEMPORAL.DAY" value="day"/>
											<entry key="RECORD.IDENTIFIER" value="identifierName"/>
											<entry key="RECORD.IDENTIFICATION.YEAR" value="yearIdentified"/>
											<entry key="RECORD.IDENTIFICATION.MONTH" value="monthIdentified"/>
											<entry key="RECORD.IDENTIFICATION.DAY" value="dayIdentified"/>
											<entry key="RECORD.BASIS.OF.RECORD" value="basisOfRecord"/>
											<entry key="RECORD.FIELD.NUMBER" value="fieldNumber"/>
											<entry key="RECORD.COLLECTOR.NUMBER" value="collectorNumber"/>
											<entry key="RECORD.OTHER.CATALOG.NUMBERS" value="otherCatalogNumbers"/>
											<entry key="RECORD.GENBANK.NUMBERS" value="sequenceNumbers"/>
											<entry key="RECORD.TYPIFICATIONS" value="typifications"/>
										</map>
									</property>
								</bean>		
								<!--bean parent="abstractRawOccurrenceRecordCreatorActivity"/-->
								<bean parent="abstractRawOccurrenceRecordSynchroniserActivity"/>
							</list>
						</property>
					</bean>					
				</entry>				
			</map>
		</property>
	</bean>
</beans>