## This is a Digir Search Filter template
##
## Required Input  
## - criteria
##
#macro( writeDigirCriteria $filterCriteria)
	<$filterCriteria.predicate>
		#if($filterCriteria.subject)## then it can't be a collection
			<dwc:$filterCriteria.subject>$filterCriteria.object</dwc:$filterCriteria.subject>
		#else
			#foreach($criterion in $filterCriteria.criteria)
				#writeDigirCriteria( $criterion )
			#end
		#end
	</$filterCriteria.predicate>
#end
##
#if($criteria)
<filter>
	#writeDigirCriteria( $criteria )
</filter>
#end
