/** Auto Complete styles - changes to these will affect auto complete functionality */

#statesmod {position:relative;}
#statesautocomplete {position:relative;width:280px;margin-bottom:1em;}/* set width of widget here*/
#statesautocomplete {z-index:9000} /* for IE z-index of absolute divs inside relative divs issue */

#statesinput, {_position:absolute;width:100%;height:1.4em;z-index:0;} /* abs for ie quirks */
#statescontainer, {position:absolute;top:1.7em;width:100%;}
#statescontainer .yui-ac-content {position:absolute;width:100%;border:1px solid #404040;background:#fff;overflow:hidden;z-index:9050;}
#statescontainer .yui-ac-shadow {position:absolute;margin:.3em;width:100%;background:#a0a0a0;z-index:9049;}
#statescontainer ul { padding:5px 0;width:100%; }
#statescontainer li { padding:0 5px;cursor:default;white-space:nowrap; text-align:left; }
#statescontainer li.yui-ac-highlight { background:#6699FF; color:#FFFFFF; }
#statescontainer li.yui-ac-prehighlight { background:#FFFFCC; }
