#downloadFields { border: 1px solid #CCCCCC; padding:10px; margin-bottom:10px; clear: none; }
#downloadFields h5 { margin-top:20px; }
#downloadFields h5#formatOptions { margin-top:0px; }
#downloadFields input { margin-left:10px; }
#downloadFields fieldset { margin-left:0px; padding-left:0px: }
#downloadFields h5 { margin: 20px 0 5px 0; padding: 0 ; font-size: 1.0em; }
#downloadFields #downloadNow { margin-top: 20px;  margin-left:5px; }
#downloadFields .selectAll { margin-bottom: 10px; }