#legend { left:608px; padding: 2px 0px 2px 2px; }
#legendMedium {	left:428px;	padding: 2px 0px 2px 2px; }
#legendSmall { left:240px; padding: 2px 0px 2px 2px; }
#legendXsmall { left:240px; padding: 2px 0px 2px 2px; }
#legendMinize { margin-left: 98px; }
#legendMinizeMedium { margin-left: 98px; }
#legendMinizeSmall { margin-left: 98px; }
#legendMinizeXsmall { margin-left: 98px; }