/* Added By Kyle to redirect some traffic to new portal */
#uat { margin: 0px 14px 0px 14px; padding:5px; background-color: #1b1b1b; }
#uat a { font-size: 1.1em; color: #01BCDF; }
#uat p { margin: 0px; color: #FFFFFF; }