## This is a Digir Search Filter template
##
## Required Input  
## - criteria
##
#macro( writeDigirCriteria $filterCriteria)
	<$filterCriteria.predicate>
		#if($filterCriteria.subject)## then it can't be a collection
			<darwin:$filterCriteria.subject>$filterCriteria.object</darwin:$filterCriteria.subject>
		#else
			#foreach($criterion in $filterCriteria.criteria)
				#writeDigirCriteria( $criterion )
			#end
		#end
	</$filterCriteria.predicate>
#end
##
<filter>
	#writeDigirCriteria( $criteria )
</filter>
