gbif_id	scientific_name	rank	author	accepted	parent	parent_id	kingdom	kingdom_id	phylum	phylum_id	class	class_id	order	order_id	family	family_id	genus	genus_id	species	species_id	subspecies	subspecies_id	accepted_name	accepted_id	taxon_page_url