$taxonConcept.id	$taxonConcept.taxonName.canonical	$ff.formatRank($taxonConcept.rank)	$ff.format($!taxonConcept.taxonName.author)	$ff.format($parentConcept.taxonName.canonical)	$ff.format($taxonConcept.parentId)	$ff.format($kingdomConcept.taxonName.canonical)	$ff.format($kingdomConcept.id)	$ff.format($phylumConcept.taxonName.canonical)	$ff.format($phylumConcept.id)	$ff.format($classConcept.taxonName.canonical)	$ff.format($classConcept.id)	$ff.format($orderConcept.taxonName.canonical)	$ff.format($orderConcept.id)	$ff.format($familyConcept.taxonName.canonical)	$ff.format($familyConcept.id)	$ff.format($genusConcept.taxonName.canonical)	$ff.format($genusConcept.id)	$ff.format($speciesConcept.taxonName.canonical)	$ff.format($speciesConcept.id)	$ff.format($subspeciesConcept.taxonName.canonical)	$ff.format($subspeciesConcept.id)	$ff.format($acceptedConcept.taxonName.canonical)	$ff.format($acceptedConcept.id)	$rootUrl$taxonConcept.id
