<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans SYSTEM "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<!--reusable predicates-->
	<bean id="predicateIncludes" class="org.gbif.portal.web.filter.PredicateDTO">
		<property name="id" value="0"/>										
		<property name="value" value="filter.predicate.includes"/>
		<property name="key" value="SERVICE.QUERY.PREDICATE.EQUAL"/>
	</bean>  	
	<bean id="predicateOf" class="org.gbif.portal.web.filter.PredicateDTO">
		<property name="id" value="0"/>										
		<property name="value" value="filter.predicate.of"/>
		<property name="key" value="SERVICE.QUERY.PREDICATE.EQUAL"/>
	</bean>  	
	<bean id="predicateAre" class="org.gbif.portal.web.filter.PredicateDTO">
		<property name="id" value="0"/>										
		<property name="value" value="filter.predicate.are"/>
		<property name="key" value="SERVICE.QUERY.PREDICATE.EQUAL"/>
	</bean>  	
	<bean id="predicateIs" class="org.gbif.portal.web.filter.PredicateDTO">
		<property name="id" value="0"/>										
		<property name="value" value="filter.predicate.is"/>
		<property name="key" value="SERVICE.QUERY.PREDICATE.EQUAL"/>
	</bean>
	<bean id="predicateIsNot" class="org.gbif.portal.web.filter.PredicateDTO">
		<property name="id" value="0"/>										
		<property name="value" value="filter.predicate.is.not"/>
		<property name="key" value="SERVICE.QUERY.PREDICATE.NEQUAL"/>
	</bean>  
	<bean id="predicateIsLike" class="org.gbif.portal.web.filter.PredicateDTO">
		<property name="id" value="1"/>										
		<property name="value" value="filter.predicate.is.like"/>
		<property name="key" value="SERVICE.QUERY.PREDICATE.LIKE"/>
	</bean>
	<bean id="predicateBefore" class="org.gbif.portal.web.filter.PredicateDTO">
		<property name="id" value="1"/>										
		<property name="value" value="filter.predicate.before"/>
		<property name="key" value="SERVICE.QUERY.PREDICATE.LE"/>
	</bean>
	<bean id="predicateAfter" class="org.gbif.portal.web.filter.PredicateDTO">
		<property name="id" value="2"/>										
		<property name="value" value="filter.predicate.after"/>
		<property name="key" value="SERVICE.QUERY.PREDICATE.GE"/>
	</bean>	
</beans>