<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans SYSTEM "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<!-- Property Store-->
	<bean id="webappPropertyStore" class="org.gbif.portal.util.propertystore.impl.spring.PropertyStoreImpl">
		<property name="namespaceMappings">
			<map>
				<entry key="http://gbif.org/schema/webapp/2006/1.0" value-ref="propertyStore:namespace:gbifwebapp:1.0"/>
			</map>
		</property>
	</bean>
	
	<bean id="propertyStore:namespace:gbifwebapp:1.0" class="org.gbif.portal.util.propertystore.impl.spring.PropertyBag">
		<!-- The namespace that the PropertyStore will key this bag on -->
		<property name="namespace" value="http://gbif.org/schema/webapp/2006/1.0"/>
		<property name="properties">
			<map>
				<entry key="occurrenceFilters" value-ref="occurrenceFilters"/>
				<entry key="occurrenceTaxonFilters" value-ref="occurrenceTaxonFilters"/>
				<entry key="taxonomyFilters" value-ref="taxonomyFilters"/>				
			</map>
		</property>	
	</bean>	
</beans>