<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			 xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
				http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
				http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">

		<!-- map for mapping a rank to a triplet subject -->	
	<util:map id="rankToTripletSubjectMappings">
		<entry key="kingdom" value="SERVICE.OCCURRENCE.QUERY.SUBJECT.TR.KINGDOMID"/>
		<entry key="phylum" value="SERVICE.OCCURRENCE.QUERY.SUBJECT.TR.PHYLUMID"/>
		<entry key="class" value="SERVICE.OCCURRENCE.QUERY.SUBJECT.TR.CLASSID"/>
		<entry key="order" value="SERVICE.OCCURRENCE.QUERY.SUBJECT.TR.ORDERID"/>
		<entry key="family" value="SERVICE.OCCURRENCE.QUERY.SUBJECT.TR.FAMILYID"/>
		<entry key="genus" value="SERVICE.OCCURRENCE.QUERY.SUBJECT.TR.GENUSID"/>
		<entry key="species" value="SERVICE.OCCURRENCE.QUERY.SUBJECT.TR.SPECIESID"/>				
		<entry key="subspecies" value="SERVICE.OCCURRENCE.QUERY.SUBJECT.NUBCONCEPTID"/>								
	</util:map>	
</beans>