<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans SYSTEM "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<!--
		3 Types of filter
		1) Plain string search
		2) Dropdown combo
		3) Wizard - leading to a read-only value
		
		The filters require a unique numeric id (for use in javascript arrays). 
	-->		
	
	<!-- This is the list of filters that will be rendered in the dropdown -->
	<bean id="taxonomyFilters" class="org.gbif.portal.web.filter.FilterMapWrapper">
		<property name="filters">
			<list>
				<ref bean="conceptNameFilter"/>
				<ref bean="rankTaxonFilter"/>
				<ref bean="kingdomTaxonFilter"/>			
				<ref bean="phylumTaxonFilter"/>					
				<ref bean="classTaxonFilter"/>	
				<ref bean="orderTaxonFilter"/>					
				<ref bean="familyTaxonFilter"/>					
				<ref bean="genusTaxonFilter"/>					
				<ref bean="speciesTaxonFilter"/>
			  <ref bean="acceptedTaxonFilter"/>				
				<ref bean="dataResourceTaxonFilter"/>								
				<ref bean="dataProviderTaxonFilter"/>			
				<ref bean="countryTaxonFilter"/>	
			</list>
		</property>	
	</bean>
	
	<!-- This is inherited by all the major rank filter definition -->
	<bean id="baseTaxonRankFilter" abstract="true" parent="baseTaxonomyFilter">
		<property name="subcategory" value="TaxonRank"/>
		<property name="predicates">
			<list>
				<ref bean="predicateIs"/>
				<ref bean="predicateIsLike"/>				
			</list>
		</property>
		<property name="wildcardFriendly" value="true"/>
	</bean>	
	
	<!--Taxonomic Concept Filters-->
	<bean id="conceptNameFilter" parent="baseTaxonRankFilter">
		<property name="id" value="0"/>				
		<property name="displayName" value="taxon"/>							
		<property name="subject" value="SERVICE.TAXONOMY.QUERY.SUBJECT.CANONICAL"/>
		<property name="autoCompleteUrl" value="taxonomy/taxonName/ajax/view/ajaxTaxonName"/>		
		<property name="helpView" value="/taxonomy/conceptNameHelp.htm"/>
	</bean>		
	<bean id="dataResourceTaxonFilter" parent="baseDatasetsFilter">
		<property name="id" value="1"/>					
		<property name="displayName" value="taxonomy.search.filter.dataset.dataresource"/>					
		<property name="subject" value="SERVICE.TAXONOMY.QUERY.SUBJECT.DATARESOURCEID"/>
		<property name="predicates">
			<list>
				<ref bean="predicateIs"/>				
			</list>
		</property>	
		<property name="valueType" value="java.lang.Long"/>		
		<property name="filterHelper" ref="dataResourceIdFilterHelper"/>				
		<property name="filterType" value="2"/>			
		<property name="wizardView" value="occurrence.wizard.dataresource"/>
	</bean>		
	<bean id="kingdomTaxonFilter" parent="baseTaxonRankFilter">
		<property name="id" value="2"/>		
		<property name="name"  value="kingdom"/>		
		<property name="displayName" value="taxonrank.kingdom"/>							
		<property name="subject" value="SERVICE.TAXONOMY.QUERY.SUBJECT.TR.KINGDOM"/>
		<property name="autoCompleteUrl" value="taxonomy/taxonName/ajax/view/ajaxTaxonName/rank/kingdom"/>		
		<property name="helpView" value="/taxonomy/kingdomHelp.htm"/>
	</bean>
	<bean id="phylumTaxonFilter" parent="baseTaxonRankFilter">
		<property name="id" value="3"/>				
		<property name="name"  value="phylum"/>	
		<property name="displayName" value="taxonrank.phylum"/>							
		<property name="subject" value="SERVICE.TAXONOMY.QUERY.SUBJECT.TR.PHYLUM"/>
		<property name="autoCompleteUrl" value="taxonomy/taxonName/ajax/view/ajaxTaxonName/rank/phylum"/>		
		<property name="helpView" value="/taxonomy/phylumHelp.htm"/>
	</bean>	
	<bean id="classTaxonFilter" parent="baseTaxonRankFilter">
		<property name="id" value="4"/>
		<property name="name"  value="class"/>					
		<property name="displayName" value="taxonrank.class"/>							
		<property name="subject" value="SERVICE.TAXONOMY.QUERY.SUBJECT.TR.CLASS"/>
		<property name="autoCompleteUrl" value="taxonomy/taxonName/ajax/view/ajaxTaxonName/rank/class"/>		
		<property name="helpView" value="/taxonomy/classHelp.htm"/>
	</bean>	
	<bean id="orderTaxonFilter" parent="baseTaxonRankFilter">
		<property name="id" value="5"/>
		<property name="name"  value="order"/>							
		<property name="displayName" value="taxonrank.order"/>							
		<property name="subject" value="SERVICE.TAXONOMY.QUERY.SUBJECT.TR.ORDER"/>
		<property name="autoCompleteUrl" value="taxonomy/taxonName/ajax/view/ajaxTaxonName/rank/order"/>		
		<property name="helpView" value="/taxonomy/orderHelp.htm"/>
	</bean>														
	<bean id="familyTaxonFilter" parent="baseTaxonRankFilter">
		<property name="id" value="6"/>				
		<property name="name"  value="family"/>	
		<property name="displayName" value="taxonrank.family"/>							
		<property name="subject" value="SERVICE.TAXONOMY.QUERY.SUBJECT.TR.FAMILY"/>
		<property name="autoCompleteUrl" value="taxonomy/taxonName/ajax/view/ajaxTaxonName/rank/family"/>		
		<property name="helpView" value="/taxonomy/familyHelp.htm"/>
	</bean>														
	<bean id="genusTaxonFilter" parent="baseTaxonRankFilter">
		<property name="id" value="7"/>		
		<property name="name"  value="genus"/>					
		<property name="displayName" value="taxonrank.genus"/>							
		<property name="subject" value="SERVICE.TAXONOMY.QUERY.SUBJECT.TR.GENUS"/>
		<property name="autoCompleteUrl" value="taxonomy/taxonName/ajax/view/ajaxTaxonName/rank/genus"/>			
		<property name="helpView" value="/taxonomy/genusHelp.htm"/>
	</bean>
	<bean id="speciesTaxonFilter" parent="baseTaxonRankFilter">
		<property name="id" value="8"/>	
		<property name="name"  value="species"/>						
		<property name="displayName" value="taxonrank.species"/>							
		<property name="subject" value="SERVICE.TAXONOMY.QUERY.SUBJECT.TR.SPECIES"/>
		<property name="autoCompleteUrl" value="taxonomy/taxonName/ajax/view/ajaxTaxonName/rank/species"/>		
		<property name="helpView" value="/taxonomy/speciesHelp.htm"/>
	</bean>			
	<bean id="rankTaxonFilter" parent="baseTaxonRankFilter">
		<property name="id" value="9"/>	
		<property name="name"  value="species"/>						
		<property name="displayName" value="rank"/>							
		<property name="subject" value="SERVICE.TAXONOMY.QUERY.SUBJECT.RANK"/>	
		<property name="filterType" value="1"/>
		<property name="dropDownValues">
			<map>
				<entry key="1000" value="taxonrank.kingdom"/>
				<entry key="2000" value="taxonrank.phylum"/>
				<entry key="3000" value="taxonrank.class"/>
				<entry key="4000" value="taxonrank.order"/>
				<entry key="5000" value="taxonrank.family"/>
				<entry key="6000" value="taxonrank.genus"/>
				<entry key="7000" value="taxonrank.species"/>				
				<entry key="8000" value="taxonrank.subspecies"/>							
			</map>
		</property>		
		<property name="category" value="occurrence.search.filter.category.taxonomy"/>
		<property name="predicates">
			<list>
				<ref bean="predicateIs"/>
			</list>
		</property>
		<property name="wildcardFriendly" value="true"/>
		<property name="valueType" value="java.lang.Integer"/>		
		<property name="helpView" value="/taxonomy/rankHelp.htm"/>		
	</bean>		
	<bean id="dataProviderTaxonFilter" parent="baseDatasetsFilter">
		<property name="id" value="10"/>					
		<property name="displayName" value="taxonomy.search.filter.dataset.dataprovider"/>					
		<property name="subject" value="SERVICE.TAXONOMY.QUERY.SUBJECT.DATAPROVIDERID"/>
		<property name="predicates">
			<list>
				<ref bean="predicateIs"/>				
			</list>
		</property>	
		<property name="valueType" value="java.lang.Long"/>		
		<property name="picklistHelper" ref="dataProviderTaxonPicklistHelper"/>				
		<property name="filterType" value="1"/>			
		<property name="helpView" value="/taxonomy/dataProviderTaxonHelp.htm"/>				
	</bean>		
	<bean id="acceptedTaxonFilter" parent="baseTaxonRankFilter">
		<property name="id" value="11"/>	
		<property name="name"  value="accepted"/>						
		<property name="displayName" value="taxonomy.search.filter.accepted"/>							
		<property name="subject" value="SERVICE.TAXONOMY.QUERY.SUBJECT.ACCEPTED"/>	
		<property name="filterType" value="1"/>
		<property name="dropDownValues">
			<map>
				<entry key="true" value="taxonomy.search.filter.accepted.is.accepted"/>
				<entry key="false" value="taxonomy.search.filter.accepted.is.not.accepted"/>
			</map>
		</property>		
		<property name="category" value="occurrence.search.filter.category.taxonomy"/>
		<property name="predicates">
			<list>
				<ref bean="predicateIs"/>
			</list>
		</property>
		<property name="valueType" value="java.lang.Boolean"/>		
		<property name="helpView" value="/taxonomy/acceptedHelp.htm"/>		
		<property name="allowMultiple" value="false"/>				
	</bean>		
	<bean id="countryTaxonFilter" parent="baseGeospatialFilter">
		<property name="id" value="12"/>					
		<property name="displayName" value="occurrence.search.filter.geospatial.country"/>					
		<property name="subject" value="SERVICE.TAXONOMY.QUERY.SUBJECT.ISOCOUNTRYCODE"/>
		<property name="predicates">
			<list>
				<ref bean="predicateIs"/>        
			</list>
		</property>
		<property name="wildcardFriendly" value="true"/>			
		<property name="filterType" value="1"/>
		<property name="dropDownValues" ref="iso-country-codes"/>
		<property name="helpView" value="/taxonomy/countryTaxonHelp.htm"/>						
	</bean>			
	
	<!-- Filter helpers -->
	<bean id="dataProviderTaxonPicklistHelper" class="org.gbif.portal.web.content.dataset.DataProviderTaxonPicklistHelper">
		<property name="dataResourceManager" ref="dataResourceManager"/>
	</bean>	
</beans>