<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			 xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
				http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
				http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">

	<!-- A map backed by a service manager to get the list of countries that host providers,
		 keyed on country code and valued as the i18n key -->
	<!-- This is not used, but uncomment this for a list of provider country codes mapped to i18n keys -->
	<!--bean id="providerHostCountryMap" class="org.gbif.portal.web.util.ProviderHostCountriesMap"
		init-method="initialiseMap">
		<property name="isoCountryCodeToI18NKey" ref="iso-country-codes"/>
		<property name="geospatialManager" ref="geospatialManager"/>		
	</bean-->
	
	<!--ISO country codes to country i18n key -->	
	<util:map id="iso-country-codes">
		<entry key="AF" value="country.AF"/>
		<entry key="AX" value="country.AX"/>
		<entry key="AL" value="country.AL"/>
		<entry key="DZ" value="country.DZ"/>
		<entry key="AS" value="country.AS"/>
		<entry key="AD" value="country.AD"/>
		<entry key="AO" value="country.AO"/>
		<entry key="AI" value="country.AI"/>
		<entry key="AQ" value="country.AQ"/>
		<entry key="AG" value="country.AG"/>
		<entry key="AR" value="country.AR"/>
		<entry key="AM" value="country.AM"/>
		<entry key="AW" value="country.AW"/>
		<entry key="AU" value="country.AU"/>
		<entry key="AT" value="country.AT"/>
		<entry key="AZ" value="country.AZ"/>
		<entry key="BS" value="country.BS"/>
		<entry key="BH" value="country.BH"/>
		<entry key="BD" value="country.BD"/>
		<entry key="BB" value="country.BB"/>
		<entry key="BY" value="country.BY"/>
		<entry key="BE" value="country.BE"/>
		<entry key="BZ" value="country.BZ"/>
		<entry key="BJ" value="country.BJ"/>
		<entry key="BM" value="country.BM"/>
		<entry key="BT" value="country.BT"/>
		<entry key="BO" value="country.BO"/>
		<entry key="BA" value="country.BA"/>
		<entry key="BW" value="country.BW"/>
		<entry key="BV" value="country.BV"/>
		<entry key="BR" value="country.BR"/>
		<entry key="IO" value="country.IO"/>
		<entry key="BN" value="country.BN"/>
		<entry key="BG" value="country.BG"/>
		<entry key="BF" value="country.BF"/>
		<entry key="BI" value="country.BI"/>
		<entry key="KH" value="country.KH"/>
		<entry key="CM" value="country.CM"/>
		<entry key="CA" value="country.CA"/>
		<entry key="CV" value="country.CV"/>
		<entry key="KY" value="country.KY"/>
		<entry key="CF" value="country.CF"/>
		<entry key="TD" value="country.TD"/>
		<entry key="CL" value="country.CL"/>
		<entry key="CN" value="country.CN"/>
		<entry key="TW" value="country.TW"/>		
		<entry key="CX" value="country.CX"/>
		<entry key="CC" value="country.CC"/>
		<entry key="CO" value="country.CO"/>
		<entry key="KM" value="country.KM"/>
		<entry key="CG" value="country.CG"/>
		<entry key="CD" value="country.CD"/>
		<entry key="CK" value="country.CK"/>
		<entry key="CR" value="country.CR"/>
		<entry key="CI" value="country.CI"/>
		<entry key="HR" value="country.HR"/>
		<entry key="CU" value="country.CU"/>
		<entry key="CY" value="country.CY"/>
		<entry key="CZ" value="country.CZ"/>
		<entry key="DK" value="country.DK"/>
		<entry key="DJ" value="country.DJ"/>
		<entry key="DM" value="country.DM"/>
		<entry key="DO" value="country.DO"/>
		<entry key="EC" value="country.EC"/>
		<entry key="EG" value="country.EG"/>
		<entry key="SV" value="country.SV"/>
		<entry key="GQ" value="country.GQ"/>
		<entry key="ER" value="country.ER"/>
		<entry key="EE" value="country.EE"/>
		<entry key="ET" value="country.ET"/>
		<entry key="FK" value="country.FK"/>
		<entry key="FO" value="country.FO"/>
		<entry key="FJ" value="country.FJ"/>
		<entry key="FI" value="country.FI"/>
		<entry key="FR" value="country.FR"/>
		<entry key="GF" value="country.GF"/>
		<entry key="PF" value="country.PF"/>
		<entry key="TF" value="country.TF"/>
		<entry key="GA" value="country.GA"/>
		<entry key="GM" value="country.GM"/>
		<entry key="GE" value="country.GE"/>
		<entry key="DE" value="country.DE"/>
		<entry key="GH" value="country.GH"/>
		<entry key="GI" value="country.GI"/>
		<entry key="GR" value="country.GR"/>
		<entry key="GL" value="country.GL"/>
		<entry key="GD" value="country.GD"/>
		<entry key="GP" value="country.GP"/>
		<entry key="GU" value="country.GU"/>
		<entry key="GT" value="country.GT"/>
		<entry key="GG" value="country.GG"/>
		<entry key="GN" value="country.GN"/>
		<entry key="GW" value="country.GW"/>
		<entry key="GY" value="country.GY"/>
		<entry key="HT" value="country.HT"/>
		<entry key="HM" value="country.HM"/>
		<entry key="VA" value="country.VA"/>
		<entry key="HN" value="country.HN"/>
		<entry key="HK" value="country.HK"/>
		<entry key="HU" value="country.HU"/>
		<entry key="IS" value="country.IS"/>
		<entry key="IN" value="country.IN"/>
		<entry key="ID" value="country.ID"/>
		<entry key="IR" value="country.IR"/>
		<entry key="IQ" value="country.IQ"/>
		<entry key="IE" value="country.IE"/>
		<entry key="IM" value="country.IM"/>
		<entry key="IL" value="country.IL"/>
		<entry key="IT" value="country.IT"/>
		<entry key="JM" value="country.JM"/>
		<entry key="JP" value="country.JP"/>
		<entry key="JE" value="country.JE"/>
		<entry key="JO" value="country.JO"/>
		<entry key="KZ" value="country.KZ"/>
		<entry key="KE" value="country.KE"/>
		<entry key="KI" value="country.KI"/>
		<entry key="KP" value="country.KP"/>
		<entry key="KR" value="country.KR"/>
		<entry key="KW" value="country.KW"/>
		<entry key="KG" value="country.KG"/>
		<entry key="LA" value="country.LA"/>
		<entry key="LV" value="country.LV"/>
		<entry key="LB" value="country.LB"/>
		<entry key="LS" value="country.LS"/>
		<entry key="LR" value="country.LR"/>
		<entry key="LY" value="country.LY"/>
		<entry key="LI" value="country.LI"/>
		<entry key="LT" value="country.LT"/>
		<entry key="LU" value="country.LU"/>
		<entry key="MO" value="country.MO"/>
		<entry key="MK" value="country.MK"/>
		<entry key="MG" value="country.MG"/>
		<entry key="MW" value="country.MW"/>
		<entry key="MY" value="country.MY"/>
		<entry key="MV" value="country.MV"/>
		<entry key="ML" value="country.ML"/>
		<entry key="MT" value="country.MT"/>
		<entry key="MH" value="country.MH"/>
		<entry key="MQ" value="country.MQ"/>
		<entry key="MR" value="country.MR"/>
		<entry key="MU" value="country.MU"/>
		<entry key="YT" value="country.YT"/>
		<entry key="MX" value="country.MX"/>
		<entry key="FM" value="country.FM"/>
		<entry key="MD" value="country.MD"/>
		<entry key="MC" value="country.MC"/>
		<entry key="MN" value="country.MN"/>
		<entry key="ME" value="country.ME"/>
		<entry key="MS" value="country.MS"/>
		<entry key="MA" value="country.MA"/>
		<entry key="MZ" value="country.MZ"/>
		<entry key="MM" value="country.MM"/>
		<entry key="NA" value="country.NA"/>
		<entry key="NR" value="country.NR"/>
		<entry key="NP" value="country.NP"/>
		<entry key="NL" value="country.NL"/>
		<entry key="AN" value="country.AN"/>
		<entry key="NC" value="country.NC"/>
		<entry key="NZ" value="country.NZ"/>
		<entry key="NI" value="country.NI"/>
		<entry key="NE" value="country.NE"/>
		<entry key="NG" value="country.NG"/>
		<entry key="NU" value="country.NU"/>
		<entry key="NF" value="country.NF"/>
		<entry key="MP" value="country.MP"/>
		<entry key="NO" value="country.NO"/>
		<entry key="OM" value="country.OM"/>
		<entry key="PK" value="country.PK"/>
		<entry key="PW" value="country.PW"/>
		<entry key="PS" value="country.PS"/>
		<entry key="PA" value="country.PA"/>
		<entry key="PG" value="country.PG"/>
		<entry key="PY" value="country.PY"/>
		<entry key="PE" value="country.PE"/>
		<entry key="PH" value="country.PH"/>
		<entry key="PN" value="country.PN"/>
		<entry key="PL" value="country.PL"/>
		<entry key="PT" value="country.PT"/>
		<entry key="PR" value="country.PR"/>
		<entry key="QA" value="country.QA"/>
		<entry key="RE" value="country.RE"/>
		<entry key="RO" value="country.RO"/>
		<entry key="RU" value="country.RU"/>
		<entry key="RW" value="country.RW"/>
		<entry key="SH" value="country.SH"/>
		<entry key="KN" value="country.KN"/>
		<entry key="LC" value="country.LC"/>
		<entry key="PM" value="country.PM"/>
		<entry key="VC" value="country.VC"/>
		<entry key="WS" value="country.WS"/>
		<entry key="SM" value="country.SM"/>
		<entry key="ST" value="country.ST"/>
		<entry key="SA" value="country.SA"/>
		<entry key="SN" value="country.SN"/>
		<entry key="RS" value="country.RS"/>
		<entry key="SC" value="country.SC"/>
		<entry key="SL" value="country.SL"/>
		<entry key="SG" value="country.SG"/>
		<entry key="SK" value="country.SK"/>
		<entry key="SI" value="country.SI"/>
		<entry key="SB" value="country.SB"/>
		<entry key="SO" value="country.SO"/>
		<entry key="ZA" value="country.ZA"/>
		<entry key="GS" value="country.GS"/>
		<entry key="ES" value="country.ES"/>
		<entry key="LK" value="country.LK"/>
		<entry key="SD" value="country.SD"/>
		<entry key="SR" value="country.SR"/>
		<entry key="SJ" value="country.SJ"/>
		<entry key="SZ" value="country.SZ"/>
		<entry key="SE" value="country.SE"/>
		<entry key="CH" value="country.CH"/>
		<entry key="SY" value="country.SY"/>
		<entry key="TJ" value="country.TJ"/>
		<entry key="TZ" value="country.TZ"/>
		<entry key="TH" value="country.TH"/>
		<entry key="TL" value="country.TL"/>
		<entry key="TG" value="country.TG"/>
		<entry key="TK" value="country.TK"/>
		<entry key="TO" value="country.TO"/>
		<entry key="TT" value="country.TT"/>
		<entry key="TN" value="country.TN"/>
		<entry key="TR" value="country.TR"/>
		<entry key="TM" value="country.TM"/>
		<entry key="TC" value="country.TC"/>
		<entry key="TV" value="country.TV"/>
		<entry key="UG" value="country.UG"/>
		<entry key="UA" value="country.UA"/>
		<entry key="AE" value="country.AE"/>
		<entry key="GB" value="country.GB"/>
		<entry key="US" value="country.US"/>
		<entry key="UM" value="country.UM"/>
		<entry key="UY" value="country.UY"/>
		<entry key="UZ" value="country.UZ"/>
		<entry key="VU" value="country.VU"/>
		<entry key="VE" value="country.VE"/>
		<entry key="VN" value="country.VN"/>
		<entry key="VG" value="country.VG"/>
		<entry key="VI" value="country.VI"/>
		<entry key="WF" value="country.WF"/>
		<entry key="EH" value="country.EH"/>
		<entry key="YE" value="country.YE"/>
		<entry key="ZM" value="country.ZM"/>
		<entry key="ZW" value="country.ZW"/>		
	</util:map>

	<!--Continent code to continent i18n key -->	
	<util:map id="continent-codes">
		<entry key="AF" value="continent.AF"/>
		<entry key="AS" value="continent.AS"/>
		<entry key="EU" value="continent.EU"/>
		<entry key="NA" value="continent.NA"/>
		<entry key="OC" value="continent.OC"/>
		<entry key="SA" value="continent.SA"/>
	</util:map>

	<!-- The UN region codes -->
	<util:map id="region-codes">
		<entry key="EAF" value="region.EAF"/>
		<entry key="MAF" value="region.MAF"/>
		<entry key="NAF" value="region.NAF"/>
		<entry key="SAF" value="region.SAF"/>
		<entry key="WAF" value="region.WAF"/>
		<entry key="CAR" value="region.CAR"/>
		<entry key="CAM" value="region.CAM"/>
		<entry key="SAM" value="region.SAM"/>
		<entry key="NAM" value="region.NAM"/>
		<entry key="CAS" value="region.CAS"/>
		<entry key="EAS" value="region.EAS"/>
		<entry key="SAS" value="region.SAS"/>
		<entry key="SEA" value="region.SEA"/>
		<entry key="WAS" value="region.WAS"/>
		<entry key="EEU" value="region.EEU"/>
		<entry key="NEU" value="region.NEU"/>
		<entry key="SEU" value="region.SEU"/>
		<entry key="WEU" value="region.WEU"/>
		<entry key="ANZ" value="region.ANZ"/>
		<entry key="MEL" value="region.MEL"/>
		<entry key="MIC" value="region.MIC"/>
		<entry key="POL" value="region.POL"/>
		<entry key="ANT" value="region.ANT"/>	
	</util:map>
</beans>