<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans SYSTEM "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<!-- An abstract definition ready for using in workflows -->
	<bean abstract="true" id="abstractImageSynchroniserActivity"
		class="org.gbif.portal.harvest.workflow.activity.image.ImageSynchroniserActivity">
		<property name="contextKeyDataProviderId" value="dataProviderId"/>
		<property name="contextKeyDataResourceId" value="dataResourceId"/>
		<property name="contextKeyTaxonConceptId" value="taxonConceptId"/>
		<property name="contextKeyUrl" value="url"/>
		<property name="contextKeyDescription" value="description"/>
		<property name="contextKeyRights" value="rights"/>
		<property name="contextKeyHtmlForDisplay" value="htmlForDisplay"/>
		<property name="contextKeyArkivePortletUrl" value="arkivePortletUrl"/>
		<property name="contextKeyWidth" value="width"/>
		<property name="contextKeyHeight" value="height"/>
		<property name="imageRecordDAO" ref="imageRecordDAO"/>
	</bean>
</beans>