## The BioCASE header element
## 
## Fields
## - type - a String that represents the request type
<header>
	<version>$version</version>
	<sendTime>$DateFormatter.currentDateTimeAsXMLString()</sendTime>
	<source>$hostAddress</source>
	<destination>$destination</destination>
	<type>$type</type>
</header>