## This is a BioCASE scan template
##
## Required Input  
## - concept
## See included templates for further requirements
##
## Define the type of request for the header
#set($type="scan")
##
#parse("org/gbif/portal/util/propertystore/biocase_1_3/template/preamble.vm")
#parse("org/gbif/portal/util/propertystore/biocase_1_3/template/header.vm")
<scan>
	<requestFormat>${contentNamespace}</requestFormat>
	<responseFormat#if($startAt) start="$startAt"#else start="0"#end limit="$maxResults">${contentNamespace}</responseFormat>
	<concept>$concept</concept>
	#parse("org/gbif/portal/util/propertystore/biocase_1_3/template/filter.vm")
</scan>
#parse("org/gbif/portal/util/propertystore/biocase_1_3/template/postamble.vm")