## Placeholder for defining constants
##
## The version of digir
#set($version="1.0.0")
##
## Whether we wish to signal requests for counts
#set($count="false")
##
## Limit maximum results
#set($maxResults="1000")