## This is a DigirMetaDataRequest Inventory template
##
## Required Input  
## - concept
## See included templates for further requirements
##
## Define the type of request for the header
#set($type="inventory")
##
#parse("org/gbif/portal/util/propertystore/manis_digir_1_0/template/preamble.vm")
#parse("org/gbif/portal/util/propertystore/manis_digir_1_0/template/header.vm")
<inventory>
	#if($criteria)
		#parse("org/gbif/portal/util/propertystore/manis_digir_1_0/template/filter.vm")
	#end
	<darwin:$concept/>
	<count>false</count>
</inventory>
#parse("org/gbif/portal/util/propertystore/manis_digir_1_0/template/postamble.vm")