#content h1 { margin: 0; padding:0 0 0 76px; font-size: 1.1em ; color: #9d4c05 }
#content h4 { margin: 20px 0 5px 0; padding: 0 ; font-size: 1.1em ; color: #9d4c05 }


#twopartheader { margin: 15px 0 0 2px; min-height: 35px; padding: 0; background: url('images/countriesIcoBig.gif') no-repeat left 2px ; }
/* Added by Dave */
#twopartheader h2 { color: #9d4c05; padding: 0 0 0 76px; margin: 0; font-size: 1em; }
#twopartheader h3 { padding: 7px 0 0 76px ; margin: 0; font-size: 0.8em; font-weight: normal; }
ul.flatlist { margin: 8px 0 0 53px;	padding: 0; font-size: 0.8em; }

/* End of Added by Dave */

.lt , a.lt  { color: #BBB }

.statistics { font-size: 0.8em; }


#chosen { color: #9d4c05; background-color: #fff6e9; font-weight: bold; }

#selectedChar { margin: 2px 0pt 0 39px; padding: 0; font-size: 1.6em }

thead { color: #9d4c05; font-size: 1.4em}

table.results th { background-color:#FFF; }

table.statistics tr:hover {
	background-color: #fff6e9 ;
	border-bottom: 2px dotted gray;
	border-left: 1px solid red;
	font-weight: normal;
}

table.statistics thead tr:hover {
    background-color: #FDFDFD;
}


#furtherActions h4 { padding:0px; margin:5px 0 0 2px;}
#furtherActions {  }
#initialActions td { vertical-align:top; }
