#content h1 { margin: 0; padding: 4px 0 0 96px; font-size: 1.1em ; color: #2390aa; }
#content h4 { margin: 20px 0 5px 0; padding: 0 ; font-size: 1.1em ; color: #2390aa; }

#twopartheader { margin: 15px 0 0 2px; min-height: 35px; padding: 0; background: url('images/datasetsIcoBig.gif') no-repeat left 2px ; }
/* Added by Dave */
#twopartheader h2 {  color: #2390aa; padding: 0 0 0 76px; margin: 0; font-size: 1em; }
#twopartheader h3 { padding: 7px 0 0 76px ; margin: 0; font-size: 0.8em; font-weight: normal; }
ul.flatlist { margin: 8px 0 0 53px;	padding: 0; font-size: 0.8em; }

img.logo { position:absolute; float:left; left:780px; top:75px; }
/* End of Added by Dave */


.lt , a.lt  { color: #BBB }


#chosen { color: #2390aa; background-color: #e6fbff; font-weight: bold; }

#selectedChar { margin: 2px 0pt 0 39px; padding: 0; font-size: 1.6em }

thead { color: #2390aa; }

table.results th { background-color:#FFF; }

table.statistics tr:hover {
	background-color: #e6fbff;
	border-bottom: 2px dotted gray;
	border-left: 1px solid red;
	font-weight: normal;
}

table.statistics thead tr:hover { background-color: #FDFDFD; }


#furtherActions h4 { padding:0px; margin:5px 0 0 2px;}
#furtherActions {  }
#initialActions td { vertical-align:top; }

.smallStatistics { margin-left:5px; }
.smallStatistics td { padding-top:5px; }

/* Added by Tim */
.feedback { background: url('../../images/feedbackLink.gif') no-repeat 0px 0px; padding-left: 40px;}
