body {  color: #353535; background: url('images/bodyBG.gif') repeat-x top left;
	    font: 0.72em Verdana, Arial, Helvetica, sans-serif;	text-align: left;
		padding: 0; margin: 0; min-width: 705px;
	}

/* -- The Generic Defs --*/
a:link { color: #333366;text-decoration: none; border-bottom: 1px dashed gray; }
a:visited {	color: #333366;	text-decoration: none; border-bottom: 1px dashed gray; }
a:hover { text-decoration: underline; border: 0; }

a img {border: none;}

h1 { font-size: 2.2em; }
h2 { font-size: 1.9em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.25em; }
h6 { font-size: 1em; }

p { margin: 0.33em 0 1em 0;}
p.standalone { text-align: center; }
p.standalone img { display: inline; }

ul, ol { margin: 0; padding-left: 1.15em; }
pre, code { font: 110% "Andale Mono", Courier, "Courier New", monospace; margin: 1em 0;}

hr { clear: both; visibility: hidden; }

small {font-size: 85%;}
big {font-size: 115%;}
sup {font-size: smaller; vertical-align: 0.5em; line-height: 1px;}

img.pic { float: right; position: relative; margin: 0.25em 0 0.66em 1.5em; }
img.border { border: 3px double; }
img.standalone { display: block; margin: 0.5em auto; width: auto; max-width: 100%; }

.warning { background: #FF8; color: red; border: 2px solid; padding: 1em; }
.highlight { background: #B4D5FF; font-weight: bold; }
/* -- END The Generic Defs --*/

#cocoon { width: 713px; margin: auto; background-color: #FFF; }

#container {  position: relative;  }

/* ---- Top Header ---- */
#header { position: relative; margin: 0; padding: 0; height: 66px; background-image: url("images/headerTop.gif");}
#header h1 { display: none; }
#header h1 a {  }
/* ---- END Top Header ---- */

#blurb { float: left; margin: 33px 0 0 189px; padding: 0; color: #0091CD; font: 0.78em Helvetica, Arial, Verdana, sans-serif; letter-spacing: 3px; }
#header>#blurb { margin-left: 370px; }


/* -- search form -- */
#quickSearch { position: absolute; top: 2px; left: 2px; margin: 0; padding: 0; width: 700px; text-align: right; }
#quickSearch fieldset, #quickSearch form { margin: 0; padding: 0; border: 0; }
#quickSearch #query { margin: 0; padding: 0; width: 410px; border: 1px solid #0091CD; height: 1.3em; }
#quickSearch h3 { float: left; margin: 5px 0 0 80px; color: #487F96; display: inline; font: 0.85em Arial, Helvetica, sans-serif;  }
#quickSearch p  { float: left; margin: 5px 0 0 6px; color: #487F96; display: inline; font: 0.85em Arial, Helvetica, sans-serif; }
#quickSearch #go {  margin: 0; padding: 0; color: #487F96; font-weight: bold; border:0;  }
/*-- END Search Form --*/

#topmenu { margin: 0 0 0 3px; width:706px; color: #3342E7 ; font : 0.9em Verdana, Arial, Helvetica, sans-serif; background: url('images/topMenuBG1.gif') center top no-repeat; }
#topmenu ul { margin: 0; padding: 8px 0 12px 9px; background: url('images/topMenuUlBG.gif') center bottom no-repeat; }
#topmenu ul li { list-style: none; margin: 0; padding: 0 0 0 17px; background: url('images/menuTopList.gif') no-repeat 10px 6px; }
#topmenu a { border: 0; color: #3342E7; text-decoration: none;  }


#content { margin: -106px 0 0 0; padding: 0 0 0 6px;}

#announce {
	position: relative; left: 135px; top: 7px;
	font-size: 0.9em; color: #787664 ;
	width: 520px; height: 85px;
	margin: 20px 0 10px 0; padding: 0;
    overflow: hidden;
	}
#announce h3 {
    margin: 0 0 4px 0; padding: 0;
	font: bold 1.1em Arial, Helvetica, sans-serif;
}

#footer { font: 0.8em Verdana, Arial, Helvetica, sans-serif;  clear: both; width: 706px; height: 26px; margin: 0 0 0 2px; padding: 0; background: url("images/copyr_bg.gif") no-repeat;  }
#footer #copyright { color: #888; float: left; margin: 0 0 0 70px ; padding: 6px 0 0 0; }
#footer>#copyright { margin: 0 0 0 140px; }
#footer #contact_webmaster { color: #FFFFFF; float: right; margin: 0 80px 0 0; padding: 6px 0 0 0; }
#footer>#contact_webmaster { margin: 0 159px 0 0; }
#contact_webmaster a { }

#skipNav { position: absolute; left: -9999px; font-size: small; }
#skipNav a:hover { color: #f00;}
#skipNav a:focus { display: block; position: absolute; top: -220px; left: 9990px; font-size: large; background: #fff; border: solid 2px #1B6BD8; padding: 10px; width: 15em; z-index: 1;}

.hr_clear { clear: both; border: 0 ; width: 1px; }

.hide { display: none;  }

.subject { font-weight: bold; }
.generaSubject { font-weight:bold; }