#panes {
	margin: 0; padding: 10px 0 0 0;
	width: 700px; height: 20.5em;
	background: #FFF url('images/panesBG.gif') -4px 5px no-repeat;
	border-bottom: 1px solid #C5C5C5;
	line-height: 1.3em;
	font-size: 0.92em;
}

#panes a:hover {
	text-decoration: none;
	border-bottom: 1px solid #CCC;
}


.panes_div {
	margin: -9px 0 0 0; padding: 0;
	height: 17.5em;
	width:206px;
	border: 0px solid red;
	padding: 0 5px 0 20px;
}


#panes h2 {
	background-position: top left;
	margin: 0 0 0 -8px;
	padding: 6px 0 10px 26px;
	font: bold 1.1em Arial, Helvetica, sans-serif;	text-align:left;
}

#panes h2 a {
	text-decoration:none;
	font-size:1em;
	border: 0;
}

#panes h3 {
	color:	#333366;
	font-size: 1em;
	text-decoration: none;
	padding: 8px 0 2px 0;
	margin: 0px;
}

#taxonomypane	{ float: left; }
#taxonomypane h2 { color: #A76CC7; background: url("images/taxonomy_bg.gif") no-repeat; }
#taxonomypane h2 a { color: #A76CC7; }
#taxonomypane h2 a:hover { text-decoration: underline ; border: 0; }


#datasetpane { float: right; }
#datasetpane h2 { color: #1F8EA8; background: url("images/datasets_bg.gif") no-repeat; }
#datasetpane h2 a { color: #1F8EA8;  }
#datasetpane h2 a:hover { text-decoration: underline ; border: 0; }

#geographypane	{ float: right; margin-right: 5px;  }
#geographypane h2 {	color: #C76106; background: url("images/geography_bg.gif") no-repeat; }
#geographypane h2 a { color: #C76106;  }
#geographypane h2 a:hover {	text-decoration: underline ; border: 0; }
