#content h1 { margin: 0; padding:0 0 0 76px; font-size: 1.1em ; color: #9d4c05 }
#content h4 { margin: 20px 0 5px 0; padding: 0 ; font-size: 1.1em ; color: #9d4c05 }


#twopartheader { margin: 15px 0 0 2px; min-height: 35px; padding: 0; background: url('images/settingsIcoBig.gif') no-repeat left 2px ; }
/* Added by Dave */
#twopartheader h2 { color: #9d4c05; padding: 0 0 0 76px; margin: 0; font-size: 1em; }
#twopartheader h3 { padding: 7px 0 0 76px ; margin: 0; font-size: 0.8em; font-weight: normal; }

form { margin: -10px 0 0 78px; padding: 0 0 30px 0; }




