/** copied from occurrenceSpecial.css **/
#filtersContainer { margin: 12px 0 0 0; padding: 0;  }

#content h1 { margin: 0; padding: 4px 0 0 96px; font-size: 1.1em ; color: #8425a6 }
#content h4 { margin: 20px 0 5px 0; padding: 0 ; font-size: 1.1em ; color: #8425a6 }

.lt , a.lt  { color: #BBB }

input#search { margin: 0 0 0 18px; }

thead { color: #8425a6; }

table.results th { background-color:#fbe7fa; }

.prev_next , a.prev_next { color: #A6A6A6 }

.pagelinks strong { color: #494949; background-color: #ffeeee; }


/* Added by CIP to tree.css - moved to this new home */
#twopartheader { margin: 15px 0 0 0; padding: 0 0 0 78px; min-height:35px; background: url('images/taxonomyIcoBig.gif') no-repeat 2px 2px ;  }
#twopartheader h2 { color: #8425a6; padding: 0; margin: 0; font : 1em Verdana, Arial, Helvetica, sans-serif; font-weight: normal; }
#twopartheader h3 { padding: 4px 0 0 0 ; margin: 0 ; font: 0.9em Verdana, Arial, Helvetica, sans-serif;  font-weight: normal; }
.subject { font-weight: bold; }
#quickConceptSearch { font-size: 0.9em; }
#statesinput { margin: 0; padding: 0; font-size: 1em; }
#qsSubmitB { font-size: 0.9em; }


/* Added By Dave */

#furtherActions { background-color: transparent; }
#furtherActions h4 { padding:0px; margin: 5px 5px 0 2px ; }
#initialActions td { vertical-align:top; }
#taxonActions { background-color: #fbe7fa; width:780px; }
#taxonActions h4 { padding:0px; margin-top:5px;margin-left:5px; }
#classificationTop { margin:0px; font-size:11px; }
.taxonImage { margin-top: 10px; margin-left: 30px; }
.taxonImage a { border-bottom: none; }
div.taxonFurtherActions { width:780px; }
#warnings ul.classificationCondensed { margin-top:2px; margin-bottom:2px; }
/* End of Added By Dave */

/* Added by Tim */
.feedback {background: url('images/feedbackLink.gif') no-repeat 0px 2px ;margin: 0; padding-left: 30px;}

td.label { padding-left: 10px; }

/* classification browser icons */
.conceptLink { margin: 0; padding-left: 6px; padding-right: 5px; border:none; background: url('../images/plusSignVioletBump.gif') no-repeat 9px 3px; border:none; }
a.treeNodeLinkTentative .conceptLink { background: url('../images/plusSignVioletSmall.gif') no-repeat 8px 1px; }

/* Searching */
h4#addSearchFilter, h4#currentSearch  { margin: 0px 0 5px 0px; padding: 0; }

/* taxonomy browsing */
div#taxonomytree { margin-left: 30px; }
div#quickConceptSearch { margin-top: 20px; margin-left: 30px; }
