h1 , h2 , h3 { margin: 0 0 0 96px; padding: 20px 0 0 0 ; font-size: 1.1em ; }
h4 , h5 , h6 { margin: 0 0 0 96px; padding: 20px 0 0 0 ; font-size: 1.0em ; }

#twopartheader { margin: 15px 0 0 2px; min-height: 35px; padding: 0; background: url('images/aboutIcoBig.gif') no-repeat left 2px ; }
#twopartheader h2 { margin: 0; padding: 0 0 0 76px; font-size: 1em ;  }
#twopartheader h3 { padding: 7px 0 0 76px ; margin: 0; font-size: 0.8em; font-weight: normal; }


#content p { margin: 5px 50px 0 78px; font-size: 0.8em;}
#content ul, ol { margin: 10px 150px -10px 110px; padding: 0 10px 5px 14px ; border-right: 1px solid #eee; border-bottom: 1px solid #EEE; font-size: 0.8em; }




