<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans SYSTEM "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<!-- This was copied from the extract workflow -->
	<bean id="TEST:EXTRACT:CLASSIFICATION_PARSE_TEST" parent="abstractWorkflow">
		<property name="activities">
			<list>
				<bean parent="abstractRawOccurrenceRecordValuesToContextActivity"/>
				<bean parent="abstractTaxonNameToClassificationActivity">
					<property name="contextKeyName" value="kingdom"/>
					<property name="parser" ref="kingdomParser"/>
				</bean>
				<bean parent="abstractTaxonNameToClassificationActivity">
					<property name="contextKeyName" value="phylum"/>
					<property name="parser" ref="phylumParser"/>
				</bean>
				<bean parent="abstractTaxonNameToClassificationActivity">
					<property name="contextKeyName" value="class"/>
					<property name="parser" ref="classParser"/>
				</bean>
				<bean parent="abstractTaxonNameToClassificationActivity">
					<property name="contextKeyName" value="order"/>
					<property name="parser" ref="orderParser"/>
				</bean>
				<bean parent="abstractTaxonNameToClassificationActivity">
					<property name="contextKeyName" value="family"/>
					<property name="parser" ref="familyParser"/>
				</bean>
				<!-- Genus Parser -->
				<bean parent="abstractTaxonNameToClassificationActivity">
					<property name="contextKeyName" value="genus"/>
					<property name="defaultParsedRank" value="6000"/>
					<property name="parser">
						<bean class="org.gbif.portal.harvest.taxonomy.ScientificNameParser">
							<property name="taxonNameDAO" ref="taxonNameDAO"/>
							<property name="gbifLogUtils" ref="gbifLogUtils"/>
							<property name="orderedRegularExpresionsMapping">
								<list>
									<bean parent="genericMatcher">
										<property name="rank" value="6000"/>
									</bean>
								</list>													
							</property>												
						</bean>
					</property>
				</bean>
				<!-- Scientific Name -->
				<bean parent="abstractTaxonNameToClassificationActivity">
					<property name="contextKeyName" value="scientificName"/>
					<property name="parser" ref="scientificNameParser"/>
				</bean>
				<!-- For subspecies, get a species in there if it is not (not that it assumes
					 the second last would be a species - would not work for many sub ranks...)-->
				<bean parent="abstractSpeciesInClassificationForSubspeciesActivity"/>
				<bean parent="abstractClassificationLoggerActivity"/>
			</list>
		</property>
	</bean>		
</beans>