<?xml version="1.0" encoding="UTF-8"?>
			<!DOCTYPE beans SYSTEM "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<!-- Allow the XPath accessors to reuse the prefix -->
	<bean id="abstractXPath:DWC-CE:0.4" abstract="true" class="org.dom4j.xpath.DefaultXPath">
		<property name="namespaceURIs">
			<map>
				<entry key="cur" value="http://rs.tdwg.org/dwc/curatorial/"/>
			</map>
		</property>
	</bean>

	<!-- DWC 1.4 Mappings -->
	<bean id="propertyStore:namespace:DWC-CE:0.4" class="org.gbif.portal.util.propertystore.impl.spring.PropertyBag">
		<!-- The namespace that the PropertyStore will key this bag on -->
		<property name="namespace" value="http://rs.tdwg.org/dwc/curatorial/"/>
		<property name="properties">
			<map>
				<entry key="RECORD.IDENTIFIEDBY">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:DWC-CE:0.4">
								<constructor-arg value="//cur:IdentifiedBy"/>
							</bean>
						</property>
					</bean>
				</entry>			
				<entry key="RECORD.DATEIDENTIFIED">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:DWC-CE:0.4">
								<constructor-arg value="//cur:DateIdentified"/>
							</bean>
						</property>
					</bean>
				</entry>			
				<entry key="RECORD.IDENTIFIER.FIELDNUMBER">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:DWC-CE:0.4">
								<constructor-arg value="//cur:FieldNumber"/>
							</bean>
						</property>
					</bean>
				</entry>			
				<entry key="RECORD.IDENTIFIER.COLLECTORNUMBER">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:DWC-CE:0.4">
								<constructor-arg value="//cur:CollectorNumber"/>
							</bean>
						</property>
					</bean>
				</entry>			
				<entry key="RECORD.IDENTIFIER.GENBANKNUMBER">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.ListStringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:DWC-CE:0.4">
								<constructor-arg value="//cur:GenBankNumber"/>
							</bean>
						</property>
					</bean>
				</entry>			
				<entry key="RECORD.IDENTIFIER.OTHERCATALOGNUMBERS">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.ListStringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:DWC-CE:0.4">
								<constructor-arg value="//cur:OtherCatalogNumbers"/>
							</bean>
						</property>
					</bean>
				</entry>			
				<entry key="RECORD.TYPIFICATIONS">
					<bean class="org.gbif.portal.harvest.workflow.activity.typification.ListTypificationRecordFromTypificationXPathsAccessor">
						<property name="rootXPath">
							<bean parent="abstractXPath:DWC-CE:0.4">
								<constructor-arg value="//cur:TypeStatus"/>
							</bean>
						</property>
						<property name="typeStatusXPath">
							<bean parent="abstractXPath:DWC-CE:0.4">
								<constructor-arg value="/cur:TypeStatus"/>
							</bean>
						</property>
					</bean>
				</entry>			
			</map>
		</property>
	</bean>
</beans>