<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans SYSTEM "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<!-- The uddi helper methods -->
	<bean id="adminUddiUtils" class="org.gbif.portal.registration.UDDIUtils">
		<!-- Todo - move to enviroment.properties -->
		<property name="uddiAuthUser" value="admin"/>		
		<property name="uddiAuthPassword" value="password"/>		
		<property name="uddiProxy">
			<bean class="org.uddi4j.client.UDDIProxy">
				<!-- Todo - move to enviroment.properties -->
				<property name="inquiryURL" value="http://aoraia.gbif.org/juddi/inquiry"/>
				<property name="publishURL" value="http://aoraia.gbif.org/juddi/publish"/>
				<!--property name="configuration">
					<props>
						< Todo - move to enviroment.properties -->
						<!--prop key="http.basicAuthUserName">tim</prop-->
						<!-- Todo - move to enviroment.properties -->
						<!--prop key="http.basicAuthPassword">password</prop>
					</props>
				</property-->
			</bean>	
		</property>
		<property name="registrationLoginDAO" ref="registrationLoginDAO"/>				
	</bean>	
	
	<!-- The ldap helper methods -->
	<bean id="adminLdapUtils" class="org.gbif.portal.registration.LDAPUtils">
		<property name="userLdapUrl" value="ldap://listserv.gbif.org:389/ou=People,dc=gbif,dc=org"/>
		<property name="groupLdapUrl" value="ldap://listserv.gbif.org:389/ou=Groups,dc=gbif,dc=org"/>
		<property name="securityPrincipal" value="uid=dmartin,ou=People,dc=gbif,dc=org"/>
		<property name="securityCredentials" value="1dc7426d"/> 
	</bean>	
	
	<!-- The metadata helper methods -->
	<bean id="adminResourceExtractionUtils" class="org.gbif.portal.registration.ResourceExtractionUtils">
		<property name="messageUtils" ref="messageUtils"/>
		<property name="propertyStore" ref="indexPropertyStore"/>
	</bean>	
</beans>