<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans SYSTEM "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<!-- Allow the XPath accessors to reuse the prefix -->
	<bean id="abstractXPath:ABCD:2.06" abstract="true" class="org.dom4j.xpath.DefaultXPath">
		<property name="namespaceURIs">
			<map>
				<entry key="abcd" value="http://www.tdwg.org/schemas/abcd/2.06"/>
			</map>
		</property>
	</bean>

	<!-- ABCD 2.06 Mappings -->
	<bean id="propertyStore:namespace:ABCD:2.06" class="org.gbif.portal.util.propertystore.impl.spring.PropertyBag">
		<!-- The namespace that the PropertyStore will key this bag on -->
		<property name="namespace" value="http://www.tdwg.org/schemas/abcd/2.06"/>
		<property name="properties">
			<map>
				<!-- To create a message around the raw data -->
				<entry key="MESSAGE.FACTORY" value-ref="propertyStore:XMLMessageFactory"/>
				
				<!-- Entities to build requests -->
				<entry key="REQUEST.SCIENTIFIC.NAME" value="/DataSets/DataSet/Units/Unit/Identifications/Identification/Result/TaxonIdentified/ScientificName/FullScientificNameString"/>
				<entry key="REQUEST.INSTITUTION.CODE" value="/DataSets/DataSet/Units/Unit/SourceInstitutionID"/> 
				<entry key="REQUEST.COLLECTION.CODE" value="/DataSets/DataSet/Metadata/Description/Representation/Title"/> 
				<entry key="REQUEST.CATALOGUE.NUMBER" value="/DataSets/DataSet/Units/Unit/UnitID"/> 
				<entry key="REQUEST.DATE.LAST.MODIFIED" value="/DataSets/DataSet/Units/Unit/DateLastEdited"/>
				<entry key="REQUEST.NAMESPACE.SCIENTIFIC.NAME" value="http://www.tdwg.org/schemas/abcd/2.06/DataSets/DataSet/Units/Unit/Identifications/Identification/Result/TaxonIdentified/ScientificName/FullScientificNameString"/>
				<entry key="REQUEST.NAMESPACE.INSTITUTION.CODE" value="http://www.tdwg.org/schemas/abcd/2.06/DataSets/DataSet/Units/Unit/SourceInstitutionID"/> 
				<entry key="REQUEST.NAMESPACE.COLLECTION.CODE" value="http://www.tdwg.org/schemas/abcd/2.06/DataSets/DataSet/Metadata/Description/Representation/Title"/> 
				<entry key="REQUEST.NAMESPACE.CATALOGUE.NUMBER" value="http://www.tdwg.org/schemas/abcd/2.06/DataSets/DataSet/Units/Unit/UnitID"/> 
				<entry key="REQUEST.NAMESPACE.DATE.LAST.MODIFIED" value="http://www.tdwg.org/schemas/abcd/2.06//DataSets/DataSet/Units/Unit/DateLastEdited"/>
				
				<!-- From capabilities -->
				<entry key="CAPABILITIES.SUPPORTS.DATE.LAST.MODIFIED">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:ABCD:1.2">
								<constructor-arg value="//Concept='/DataSets/DataSet/Units/Unit/UnitID'"/>
							</bean>
						</property>
					</bean>
				</entry>				
				
				<entry key="UNIT.IDENTIFICATIONS">
					<bean class="org.gbif.portal.harvest.workflow.activity.identification.ListIdentificationRecordFromIdentificationXPathsAccessor">
						<property name="rootXPath">
							<bean parent="abstractXPath:ABCD:2.06">
								<constructor-arg value="/abcd:Unit/abcd:Identifications/abcd:Identification[not(abcd:NonFlag=true())]"/>
							</bean>
						</property>
						<property name="scientificNameXPath">
							<bean parent="abstractXPath:ABCD:2.06">
								<constructor-arg value="/abcd:Identification/abcd:Result/abcd:TaxonIdentified/abcd:ScientificName/abcd:FullScientificNameString"/>
							</bean>
						</property>
						<property name="preferredXPath">
							<bean parent="abstractXPath:ABCD:2.06">
								<constructor-arg value="/abcd:Identification/abcd:PreferredFlag"/>
							</bean>
						</property>
						<property name="identifierXPath">
							<bean parent="abstractXPath:ABCD:2.06">
								<constructor-arg value="/abcd:Identification/abcd:Identifiers/abcd:IdentifiersText"/>
							</bean>
						</property>
						<property name="alternateIdentifierXPath">
							<bean parent="abstractXPath:ABCD:2.06">
								<constructor-arg value="/abcd:Identification/abcd:Identifiers/abcd:Identifier/abcd:PersonName/abcd:FullName"/>
							</bean>
						</property>
						<property name="dateXPath">
							<bean parent="abstractXPath:ABCD:2.06">
								<constructor-arg value="/abcd:Identification/abcd:Date/abcd:ISODateTimeEnd"/>
							</bean>
						</property>
						<property name="alternateDateXPath">
							<bean parent="abstractXPath:ABCD:2.06">
								<constructor-arg value="/abcd:Identification/abcd:Date/abcd:ISODateTimeBegin"/>
							</bean>
						</property>
						<property name="higherTaxaXPath">
							<bean parent="abstractXPath:ABCD:2.06">
								<constructor-arg value="/abcd:Identification/abcd:Result/abcd:TaxonIdentified/abcd:HigherTaxa/abcd:HigherTaxon"/>
							</bean>
						</property>
						<property name="higherTaxonNameXPath">
							<bean parent="abstractXPath:ABCD:2.06">
								<constructor-arg value="/abcd:HigherTaxon/abcd:HigherTaxonName"/>
							</bean>
						</property>
						<property name="higherTaxonRankXPath">
							<bean parent="abstractXPath:ABCD:2.06">
								<constructor-arg value="/abcd:HigherTaxon/abcd:HigherTaxonRank"/>
							</bean>
						</property>
						<property name="genusXPath">
							<bean parent="abstractXPath:ABCD:2.06">
									<constructor-arg value="/abcd:Identification/abcd:Result/abcd:TaxonIdentified/abcd:ScientificName/abcd:NameAtomised//abcd:GenusOrMonomial"/>
							</bean>
						</property>
						<property name="taxonRankMapping" ref="taxonRankMapping"/>
					</bean>
				</entry>			
				
				<!-- To extract the records -->
                <!-- Change to extract the DataSet record NOT the Unit to support Tapir 1.0 namespace -->
				<entry key="RESPONSE.RECORD">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.ListMessageFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:ABCD:2.06">
								<constructor-arg value="//abcd:DataSets/abcd:DataSet"/>
							</bean>
						</property>
					</bean>
				</entry>				
				
				<!-- Unknown response message accessors 
					 For example, to get concepts from a Biocase response -->
				<entry key="RESPONSE.DATASET">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.ListMessageFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:ABCD:2.06">
								<constructor-arg value="//abcd:DataSets/abcd:DataSet"/>
							</bean>
						</property>
					</bean>
				</entry>
 
				<!-- Dataset message accessors -->
				<entry key="DATASET.NAME">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:ABCD:2.06">
								<!-- we really don't know what is the best approach here... Systax use SourceID, IPGRI use Title... -->
								<constructor-arg value="/abcd:DataSet/abcd:Metadata/abcd:Description/abcd:Representation/abcd:Title"/>
								<!-- You would think the title, but the providers (Well Systax are anyway) are using the SourceID -->
								<!--constructor-arg value="/abcd:DataSet/abcd:Units/abcd:Unit[1]/abcd:SourceID"/-->
							</bean>
						</property>
					</bean>
				</entry>
				<entry key="DATASET.UNIT">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.ListMessageFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:ABCD:2.06">
								<constructor-arg value="/abcd:DataSet/abcd:Units/abcd:Unit"/>
							</bean>
						</property>
					</bean>
				</entry>
				<entry key="DATASET.DESCRIPTION">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:ABCD:2.06">
								<constructor-arg value="/abcd:DataSet/abcd:Metadata/abcd:Description/abcd:Representation/abcd:Details"/>
							</bean>
						</property>
					</bean>
				</entry>
				<entry key="DATASET.CITATION">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:ABCD:2.06">
								<constructor-arg value="/abcd:DataSet/abcd:Metadata/abcd:IPRStatements/abcd:Citations/abcd:Citation"/>
							</bean>
						</property>
					</bean>
				</entry>
				<entry key="DATASET.TERMS.OF.USE">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:ABCD:2.06">
								<constructor-arg value="/abcd:DataSet/abcd:Metadata/abcd:IPRStatements/abcd:TermsOfUseStatements/abcd:TermsOfUse"/>
							</bean>
						</property>
					</bean>
				</entry>
				<entry key="DATASET.COPYRIGHT.DECLARATION">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:ABCD:2.06">
								<constructor-arg value="/abcd:DataSet/abcd:Metadata/abcd:IPRStatements/abcd:Copyrights/abcd:Copyright"/>
							</bean>
						</property>
					</bean>
				</entry>
				<entry key="DATASET.IPR.DECLARATION">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:ABCD:2.06">
								<constructor-arg value="/abcd:DataSet/abcd:Metadata/abcd:IPRDeclarations/abcd:IPRDeclaration"/>
							</bean>
						</property>
					</bean>
				</entry>
				<entry key="DATASET.DISCLAIMER">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:ABCD:2.06">
								<constructor-arg value="/abcd:DataSet/abcd:Metadata/abcd:Disclaimers/abcd:Disclaimer"/>
							</bean>
						</property>
					</bean>
				</entry>
				<entry key="DATASET.LOGO.URL">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:ABCD:2.06">
								<constructor-arg value="/abcd:DataSet/abcd:Metadata/abcd:Owners/abcd:Owner/abcd:LogoURI"/>
							</bean>
						</property>
					</bean>
				</entry>
				<entry key="DATASET.WEBSITE.URL">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathListAccessor">
						<property name="XPathList">
							<list>
								<bean parent="abstractXPath:ABCD:2.06">
									<constructor-arg value="/abcd:DataSets/abcd:DataSet/abcd:Metadata/abcd:Description/abcd:Representation/abcd:URI"/>
								</bean>
								<bean parent="abstractXPath:ABCD:2.06">
									<constructor-arg value="/abcd:DataSets/abcd:DataSet/abcd:Metadata/abcd:Description/abcd:Owners/abcd:Owner/abcd:URIs/abcd:URL"/>
								</bean>
							</list>
						</property>
					</bean>
				</entry>
				<entry key="DATASET.RECORD.COUNT">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:ABCD:2.06">
								<constructor-arg value="/abcd:DataSets/abcd:DataSet/abcd:OriginalSource/abcd:SourceNumberOfRecords"/>
							</bean>
						</property>
					</bean>
				</entry>
				<!-- the contacts --> 
				<entry key="DATASET.CONTACTS">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.ListMessageFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:ABCD:2.06">
								<constructor-arg value="//abcd:ContentContact"/>
							</bean>
						</property>
					</bean>
				</entry>
				<entry key="DATASET.CONTACT.NAME">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:ABCD:2.06">
								<constructor-arg value="/abcd:ContentContact/abcd:Name"/>
							</bean>
						</property>
					</bean>
				</entry>
				<entry key="DATASET.CONTACT.EMAIL">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:ABCD:2.06">
								<constructor-arg value="/abcd:ContentContact/abcd:Email"/>
							</bean>
						</property>
					</bean>
				</entry>
				<entry key="DATASET.CONTACT.ADDRESS">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:ABCD:2.06">
								<constructor-arg value="/abcd:ContentContact/abcd:Address"/>
							</bean>
						</property>
					</bean>
				</entry>
				<entry key="DATASET.CONTACT.PHONE">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:ABCD:2.06">
								<constructor-arg value="/abcd:ContentContact/abcd:Phone"/>
							</bean>
						</property>
					</bean>
				</entry>
				
				
				<!-- UNIT level mappings -->
				<entry key="UNIT.INSTITUTION.CODE">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:ABCD:2.06">
								<constructor-arg value="/abcd:Unit/abcd:SourceInstitutionID"/>
							</bean>
						</property>
					</bean>
				</entry>
				<entry key="UNIT.SOURCE.ID">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:ABCD:2.06">
								<constructor-arg value="/abcd:Unit/abcd:SourceID"/>
							</bean>
						</property>
					</bean>
				</entry>
				<entry key="UNIT.CATALOGUE.NUMBER">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:ABCD:2.06">
								<constructor-arg value="/abcd:Unit/abcd:UnitID"/>
							</bean>
						</property>
					</bean>
				</entry>
				<entry key="UNIT.GEOSPATIAL.LATITUDE">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:ABCD:2.06">
								<constructor-arg value="/abcd:Unit/abcd:Gathering/abcd:SiteCoordinateSets/abcd:SiteCoordinates/abcd:CoordinatesLatLong/abcd:LatitudeDecimal"/>
							</bean>
						</property>
					</bean>
				</entry>			
				<entry key="UNIT.GEOSPATIAL.LONGITUDE">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:ABCD:2.06">
								<constructor-arg value="/abcd:Unit/abcd:Gathering/abcd:SiteCoordinateSets/abcd:SiteCoordinates/abcd:CoordinatesLatLong/abcd:LongitudeDecimal"/>
							</bean>
						</property>
					</bean>
				</entry>			
				<entry key="UNIT.GEOSPATIAL.LATLONG.PRECISION">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:ABCD:2.06">
								<constructor-arg value="/abcd:Unit/abcd:Gathering/abcd:SiteCoordinateSets/abcd:SiteCoordinates/abcd:CoordinatesLatLong/abcd:CoordinateErrorDistanceInMeters"/>
							</bean>
						</property>
					</bean>
				</entry>			
				<entry key="UNIT.GEOSPATIAL.MIN.ALTITUDE">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:ABCD:2.06">
								<constructor-arg value="/abcd:Unit/abcd:Gathering/abcd:Altitude/abcd:MeasurementOrFactAtomised/abcd:LowerValue"/>
							</bean>
						</property>
					</bean>
				</entry>			
				<entry key="UNIT.GEOSPATIAL.MAX.ALTITUDE">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:ABCD:2.06">
								<constructor-arg value="/abcd:Unit/abcd:Gathering/abcd:Altitude/abcd:MeasurementOrFactAtomised/abcd:UpperValue"/>
							</bean>
						</property>
					</bean>
				</entry>			
				<entry key="UNIT.GEOSPATIAL.ALTITUDE.PRECISION">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:ABCD:2.06">
								<constructor-arg value="/abcd:Unit/abcd:Gathering/abcd:Altitude/abcd:MeasurementOrFactAtomised/abcd:Accuracy"/>
							</bean>
						</property>
					</bean>
				</entry>			
				<entry key="UNIT.GEOSPATIAL.MIN.DEPTH">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:ABCD:2.06">
								<constructor-arg value="/abcd:Unit/abcd:Gathering/abcd:Depth/abcd:MeasurementOrFactAtomised/abcd:LowerValue"/>
							</bean>
						</property>
					</bean>
				</entry>			
				<entry key="UNIT.GEOSPATIAL.MAX.DEPTH">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:ABCD:2.06">
								<constructor-arg value="/abcd:Unit/abcd:Gathering/abcd:Depth/abcd:MeasurementOrFactAtomised/abcd:UpperValue"/>
							</bean>
						</property>
					</bean>
				</entry>			
				<entry key="UNIT.GEOSPATIAL.DEPTH.PRECISION">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:ABCD:2.06">
								<constructor-arg value="/abcd:Unit/abcd:Gathering/abcd:Depth/abcd:MeasurementOrFactAtomised/abcd:Accuracy"/>
							</bean>
						</property>
					</bean>
				</entry>			
				<entry key="UNIT.GEOSPATIAL.COUNTRY">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathListAccessor">
						<property name="XPathList">
							<list>
							    <bean parent="abstractXPath:ABCD:2.06">
								    <constructor-arg value="/abcd:Unit/abcd:Gathering/abcd:Country/abcd:ISO3166Code"/>
							    </bean>
							    <bean parent="abstractXPath:ABCD:2.06">
								    <constructor-arg value="/abcd:Unit/abcd:Gathering/abcd:Country/abcd:NameDerived"/>
							    </bean>
							    <bean parent="abstractXPath:ABCD:2.06">
								    <constructor-arg value="/abcd:Unit/abcd:Gathering/abcd:Country/abcd:Name"/>
							    </bean>
							</list>
						</property>
					</bean>
				</entry>			
				<entry key="UNIT.GEOSPATIAL.LOCALITY">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:ABCD:2.06">
								<constructor-arg value="/abcd:Unit/abcd:Gathering/abcd:LocalityText"/>
							</bean>
						</property>
					</bean>
				</entry>			
				<entry key="UNIT.COLLECTOR">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathListAccessor">
						<property name="XPathList">
							<list>
							    <bean parent="abstractXPath:ABCD:2.06">
								    <constructor-arg value="/abcd:Unit/abcd:Gathering/abcd:Agents/abcd:GatheringAgent/abcd:Person/abcd:FullName"/>
							    </bean>
							    <bean parent="abstractXPath:ABCD:2.06">
								    <constructor-arg value="/abcd:Unit/abcd:Gathering/abcd:Agents/abcd:GatheringAgent/abcd:AgentText"/>
							    </bean>
							    <bean parent="abstractXPath:ABCD:2.06">
								   <constructor-arg value="/abcd:Unit/abcd:Gathering/abcd:Agents/abcd:GatheringAgentsText"/>
							    </bean>
							</list>
						</property>
					</bean>
				</entry>			
				<entry key="UNIT.TEMPORAL.DATE">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathListAccessor">
						<property name="XPathList">
							<list>
							    <bean parent="abstractXPath:ABCD:2.06">
								    <constructor-arg value="/abcd:Unit/abcd:Gathering/abcd:DateTime/abcd:ISODateTimeBegin"/>
							    </bean>
							    <bean parent="abstractXPath:ABCD:2.06">
								    <constructor-arg value="/abcd:Unit/abcd:Gathering/abcd:DateTime/abcd:ISODateTimeEnd"/>
							    </bean>
							    <bean parent="abstractXPath:ABCD:2.06">
								    <constructor-arg value="/abcd:Unit/abcd:Gathering/abcd:DateTime/abcd:DateText"/>
							    </bean>
							</list>
						</property>
					</bean>
				</entry>			
				<entry key="UNIT.BASIS.OF.RECORD">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:ABCD:2.06">
								<constructor-arg value="/abcd:Unit/abcd:RecordBasis"/>
							</bean>
						</property>
					</bean>
				</entry>			
				<entry key="UNIT.GUID">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:ABCD:2.06">
								<constructor-arg value="/abcd:Unit/abcd:UnitGUID"/>
							</bean>
						</property>
					</bean>
				</entry>			
				<entry key="UNIT.SEQUENCE.IDS">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.ListStringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:ABCD:2.06">
								<constructor-arg value="/abcd:Unit/abcd:Sequences/abcd:Sequence/abcd:ID-in-Database"/>
							</bean>
						</property>
					</bean>
				</entry>			
				<entry key="UNIT.FIELD.NUMBER">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:ABCD:2.06">
								<constructor-arg value="/abcd:Unit/abcd:CollectorsFieldNumber"/>
							</bean>
						</property>
					</bean>
				</entry>			
				<entry key="UNIT.OBSERVATION.ID">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.StringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:ABCD:2.06">
								<constructor-arg value="/abcd:Unit/abcd:ObservationUnit/abcd:ObservationUnitIdentifiers/abcd:ObservationUnitIdentifier"/>
							</bean>
						</property>
					</bean>
				</entry>			
				<entry key="UNIT.ACCESSION.NUMBERS">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.ListStringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:ABCD:2.06">
								<constructor-arg value="/abcd:Unit/abcd:SpecimenUnit/abcd:Accessions/abcd:AccessionNumber"/>
							</bean>
						</property>
					</bean>
				</entry>			
				<entry key="UNIT.PREVIOUS.UNITIDS">
					<bean class="org.gbif.portal.util.mhf.message.impl.xml.accessor.ListStringFromXPathAccessor">
						<property name="XPath">
							<bean parent="abstractXPath:ABCD:2.06">
								<constructor-arg value="/abcd:Unit/abcd:SpecimenUnit/abcd:History/abcd:PreviousUnits/abcd:PreviousUnit/abcd:PreviousUnitID"/>
							</bean>
						</property>
					</bean>
				</entry>			
				<entry key="UNIT.IMAGES">
					<bean class="org.gbif.portal.harvest.workflow.activity.image.ListImageRecordFromImageXPathsAccessor">
						<property name="rootXPath">
							<bean parent="abstractXPath:ABCD:2.06">
								<constructor-arg value="/abcd:Unit/abcd:MultiMediaObjects/abcd:MultiMediaObject"/>
							</bean>
						</property>
						<property name="urlXPath">
							<bean parent="abstractXPath:ABCD:2.06">
								<constructor-arg value="/abcd:MultiMediaObject/abcd:FileURI"/>
							</bean>
						</property>
						<property name="alternateUrlXPath">
							<bean parent="abstractXPath:ABCD:2.06">
								<constructor-arg value="/abcd:MultiMediaObject/abcd:ProductURI"/>
							</bean>
						</property>
						<property name="typeXPath">
							<bean parent="abstractXPath:ABCD:2.06">
								<constructor-arg value="/abcd:MultiMediaObject/abcd:Format"/>
							</bean>
						</property>
						<property name="descriptionXPath">
							<bean parent="abstractXPath:ABCD:2.06">
								<constructor-arg value="/abcd:MultiMediaObject/abcd:Comment"/>
							</bean>
						</property>
						<property name="rightsXPath">
							<bean parent="abstractXPath:ABCD:2.06">
								<constructor-arg value="/abcd:MultiMediaObject/abcd:IPR/abcd:TermsOfUseStatements"/>
							</bean>
						</property>
					</bean>
				</entry>			
				<entry key="UNIT.LINKS">
					<bean class="org.gbif.portal.harvest.workflow.activity.link.ListLinkRecordFromLinkXPathsAccessor">
						<property name="rootXPath">
							<bean parent="abstractXPath:ABCD:2.06">
								<constructor-arg value="/abcd:Unit/abcd:RecordURI"/>
							</bean>
						</property>
						<property name="urlXPath">
							<bean parent="abstractXPath:ABCD:2.06">
								<constructor-arg value="/abcd:RecordURI"/>
							</bean>
						</property>
					</bean>
				</entry>			
				<entry key="UNIT.TYPIFICATIONS">
					<bean class="org.gbif.portal.harvest.workflow.activity.typification.ListTypificationRecordFromTypificationXPathsAccessor">
						<property name="rootXPath">
							<bean parent="abstractXPath:ABCD:2.06">
								<constructor-arg value="/abcd:Unit/abcd:SpecimenUnit/abcd:NomenclaturalTypeDesignations/abcd:NomenclaturalTypeDesignation"/>
							</bean>
						</property>
						<property name="scientificNameXPath">
							<bean parent="abstractXPath:ABCD:2.06">
								<constructor-arg value="/abcd:NomenclaturalTypeDesignation/abcd:TypifiedName/abcd:FullScientificNameString"/>
							</bean>
						</property>
						<property name="publicationXPath">
							<bean parent="abstractXPath:ABCD:2.06">
								<constructor-arg value="/abcd:NomenclaturalTypeDesignation/abcd:NomenclaturalReference/abcd:TitleCitation"/>
							</bean>
						</property>
						<property name="typeStatusXPath">
							<bean parent="abstractXPath:ABCD:2.06">
								<constructor-arg value="/abcd:NomenclaturalTypeDesignation/abcd:TypeStatus"/>
							</bean>
						</property>
						<property name="notesXPath">
							<bean parent="abstractXPath:ABCD:2.06">
								<constructor-arg value="/abcd:NomenclaturalTypeDesignation/abcd:VerificationNotes"/>
							</bean>
						</property>
					</bean>
				</entry>			
				
				<!-- Dataset message handler workfow 
					 The harvesting calls this with a DATASET level message -->
                <!-- ABCD is also being using in DIGIR -->
                <entry key="WORKFLOW.HARVEST.RECORD.MESSAGE" value-ref="ABCD-2.06-recordWorkflow"/>
				<entry key="WORKFLOW.HARVEST.DATASET.MESSAGE" value-ref="ABCD-2.06-recordWorkflow">
				</entry>
			</map>
		</property>
	</bean>
  
    <!-- The workflow for ABCD -->      
    <bean id="ABCD-2.06-recordWorkflow" parent="abstractWorkflow">
      <property name="activities">
        <list>
          <!-- Log the data set message -->
          <!--bean parent="messageLoggerActivity">
            <property name="contextKeyMessage" value="responseMessage"/>
          </bean-->
          <!-- Get the dataset data -->
          <bean parent="abstractConceptListToContextActivity">
            <property name="contextKeyMessage" value="responseMessage"/>
            <property name="conceptToContext">
              <map>
                <entry key="DATASET.NAME" value="dataResourceName"/>
                <entry key="DATASET.DESCRIPTION" value="description"/>
                <entry key="DATASET.CITATION" value="citation"/>
                <entry key="DATASET.LOGO.URL" value="logoUrl"/>
                <entry key="DATASET.WEBSITE.URL" value="websiteUrl"/>
                <entry key="DATASET.TERMS.OF.USE" value="termsOfUse"/>
                <entry key="DATASET.COPYRIGHT.DECLARATION" value="copyrightDeclaration"/>
                <entry key="DATASET.IPR.DECLARATION" value="IPRDeclaration"/>
                <entry key="DATASET.DISCLAIMER" value="disclaimer"/>
                <entry key="DATASET.RECORD.COUNT" value="providerRecordCount"/>
              </map>
            </property>
          </bean>
          <!-- Because it is a map, it can't be put in twice above... -->
          <bean parent="abstractConceptListToContextActivity">
            <property name="contextKeyMessage" value="responseMessage"/>
            <property name="conceptToContext">
              <map>
                <entry key="DATASET.NAME" value="collectionCode"/>
              </map>
            </property>
          </bean>
          <!-- Concatenate all the values for the rights -->
          <bean parent="abstractStringConcatinationActivity">
            <property name="contextKeyTokensToConcatinate">
              <list>
                <value>termsOfUse</value>
                <value>copyrightDeclaration</value>
                <value>IPRDeclaration</value>
                <value>disclaimer</value>
              </list>
            </property>
            <property name="contextKeyTarget" value="rights"/>
          </bean>
          <!-- Ensure the data resource exists -->
          <bean parent="abstractDataResourceInContextCheckActivity"/>
          <!-- "sync" the agents for the resource created/in use -->
          <bean parent="abstractAgentSynchroniserActivity">                   
            <property name="psKeyName" value="DATASET.CONTACT.NAME"/>
            <property name="psKeyEmail" value="DATASET.CONTACT.EMAIL"/>
            <property name="psKeyAddress" value="DATASET.CONTACT.ADDRESS"/>
            <property name="psKeyTelephone" value="DATASET.CONTACT.PHONE"/>
            <property name="psAgentRoot" value="DATASET.CONTACTS"/>                 
            <property name="contextKeyMessage" value="responseMessage"/>
          </bean>
          
          <!-- Extract the record messages and iterate over them -->
          <bean class="org.gbif.portal.harvest.workflow.activity.SubMessageIteratorActivity">
            <property name="messageUtils" ref="messageUtils"/>
            <property name="contextKeyMessage" value="responseMessage"/>
            <property name="conceptToIterate" value="DATASET.UNIT"/>
            <property name="contextKeyTotalCount" value="recordProcessedCount"/>                    
            <property name="contextKeyPsNamespaces" value="psNamespaces"/>
            <property name="seedDataContextKeys">
              <list>
                <value>psNamespaces</value>
                <value>recordProcessedCount</value>
                <value>dataProviderId</value>
                <value>dataResourceId</value>
                <value>resourceAccessPointId</value>
                <value>institutionCode</value>                                  
                <value>dataResourceName</value>                                 
                <value>collectionCode</value>                                 
              </list>
            </property>
            <property name="resultDataContextKeys">
              <list>
                <value>recordProcessedCount</value>                   
              </list>
            </property>                 
            <property name="workflow">
              <bean parent="abstractWorkflow">
                <property name="activities">
                  <list>
                    <bean parent="abstractConceptListToContextActivity">
                      <property name="contextKeyMessage" value="responseMessage"/>
                      <property name="conceptToContext">
                        <map>
                          <entry key="UNIT.INSTITUTION.CODE" value="institutionCode"/>                                
                          <!-- This is overriding the above collection code... do I really want to do this? -->
                          <entry key="UNIT.SOURCE.ID" value="collectionCode"/>                                
                          <entry key="UNIT.CATALOGUE.NUMBER" value="catalogueNumber"/>
                          <entry key="UNIT.IDENTIFICATIONS" value="identifications"/>
                          <entry key="UNIT.GEOSPATIAL.LATITUDE" value="latitude"/>
                          <entry key="UNIT.GEOSPATIAL.LONGITUDE" value="longitude"/>
                          <entry key="UNIT.GEOSPATIAL.LATLONG.PRECISION" value="latLongPrecision"/>
                          <entry key="UNIT.GEOSPATIAL.MIN.ALTITUDE" value="minAltitude"/>
                          <entry key="UNIT.GEOSPATIAL.MAX.ALTITUDE" value="maxAltitude"/>
                          <entry key="UNIT.GEOSPATIAL.ALTITUDE.PRECISION" value="altitudePrecision"/>
                          <entry key="UNIT.GEOSPATIAL.MIN.DEPTH" value="minDepth"/>
                          <entry key="UNIT.GEOSPATIAL.MAX.DEPTH" value="maxDepth"/>
                          <entry key="UNIT.GEOSPATIAL.DEPTH.PRECISION" value="depthPrecision"/>
                          <entry key="UNIT.GEOSPATIAL.COUNTRY" value="country"/>
                          <entry key="UNIT.GEOSPATIAL.LOCALITY" value="locality"/>
                          <entry key="UNIT.COLLECTOR" value="collectorName"/>
                          <entry key="UNIT.TEMPORAL.DATE" value="date"/>
                          <entry key="UNIT.BASIS.OF.RECORD" value="basisOfRecord"/>
                          <entry key="UNIT.GUID" value="guid"/>
                          <entry key="UNIT.FIELD.NUMBER" value="fieldNumber"/>
                          <entry key="UNIT.OBSERVATION.ID" value="collectorNumber"/>
                          <entry key="UNIT.ACCESSION.NUMBERS" value="accessionNumbers"/>
                          <entry key="UNIT.SEQUENCE.IDS" value="sequenceNumbers"/>
                          <entry key="UNIT.PREVIOUS.UNITIDS" value="otherCatalogNumbers"/>
                          <entry key="UNIT.IMAGES" value="images"/>
                          <entry key="UNIT.LINKS" value="links"/>
                          <entry key="UNIT.TYPIFICATIONS" value="typifications"/>
                        </map>
                      </property>
                    </bean>
                    <!-- Process the date string -->
                    <bean parent="abstractParseDateToContextActivity"/>
                    <!--bean parent="abstractRawOccurrenceRecordCreatorActivity"/-->
                    <bean parent="abstractRawOccurrenceRecordSynchroniserActivity"/>
                  </list>
                </property>
              </bean>
            </property>
          </bean>
        </list>
      </property>
    </bean>
</beans>