## This is a Digir Search Filter template
##
## Required Input  
## - criteria
##
#macro( writeBiocaseCriteria $filterCriteria)
	#if($filterCriteria.subject)## then it can't be a collection
		<$filterCriteria.predicate path='$filterCriteria.subject'>$filterCriteria.object</$filterCriteria.predicate>
	#else 
		<$filterCriteria.predicate>
			#foreach($criterion in $filterCriteria.criteria)
				#writeBiocaseCriteria( $criterion )
			#end			
		</$filterCriteria.predicate>
	#end
#end
##
#if($criteria)
<filter>
	#writeBiocaseCriteria( $criteria )
</filter>
#end