<?xml version="1.0" encoding="UTF-8"?>
#set($stylesheet=$response.get("headerMap").get("stylesheet"))
<?xml-stylesheet type="text/xsl" href="$stylesheet"?>
#set($schemaLocation=$response.get("headerMap").get("schemaLocation"))
<gbif:gbifResponse xsi:schemaLocation="$schemaLocation" xmlns:gbif="http://portal.gbif.org/ws/response/gbif" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
#parse("org/gbif/portal/ws/header.vm")

#if ($response.get("results").size()>0)
 <gbif:densityRecords>
#foreach($density in $response.get("results"))
#set($cellId=$density.get("cellId"))
  <gbif:densityRecord cellid="$cellId">
   <gbif:minLatitude>$density.get("minLatitude")</gbif:minLatitude>
   <gbif:maxLatitude>$density.get("maxLatitude")</gbif:maxLatitude>
   <gbif:minLongitude>$density.get("minLongitude")</gbif:minLongitude>
   <gbif:maxLongitude>$density.get("maxLongitude")</gbif:maxLongitude>
   <gbif:count>$density.get("count")</gbif:count>
   <gbif:portalUrl>$density.get("portalUrl")</gbif:portalUrl>
  </gbif:densityRecord>
#end
 </gbif:densityRecords>
#end
</gbif:gbifResponse>